@font-face {
    font-family: 'yozi';
    src: url(fonts/yozi.eot);
    src: url(fonts/yozid41d.eot?#iefix) format("embedded-opentype"), url(fonts/yozi.woff) format("woff"), url(fonts/yozi.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Vazir;
    src: url(fonts/Vazir.eot);
    src: url(fonts/Vazir.eot?#iefix) format("embedded-opentype"), url(fonts/Vazir.woff2) format("woff2"), url(fonts/Vazir.woff) format("woff"), url(fonts/Vazir.ttf) format("truetype");
    font-weight: 400
}

@font-face {
    font-family: Vazir;
    src: url(fonts/Vazir-Bold.eot);
    src: url(fonts/Vazir-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/Vazir-Bold.woff2) format("woff2"), url(fonts/Vazir-Bold.woff) format("woff"), url(fonts/Vazir-Bold.ttf) format("truetype");
    font-weight: 700
}

@font-face {
    font-family: Vazir;
    src: url(fonts/Vazir-Thin.eot);
    src: url(fonts/Vazir-Thin.eot?#iefix) format("embedded-opentype"), url(fonts/Vazir-Thin.woff2) format("woff2"), url(fonts/Vazir-Thin.woff) format("woff"), url(fonts/Vazir-Thin.ttf) format("truetype");
    font-weight: 100
}

@font-face {
    font-family: Vazir;
    src: url(fonts/Vazir-Light.eot);
    src: url(fonts/Vazir-Light.eot?#iefix) format("embedded-opentype"), url(fonts/Vazir-Light.woff2) format("woff2"), url(fonts/Vazir-Light.woff) format("woff"), url(fonts/Vazir-Light.ttf) format("truetype");
    font-weight: 300
}

@font-face {
    font-family: Vazir;
    src: url(fonts/Vazir-Medium.eot);
    src: url(fonts/Vazir-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/Vazir-Medium.woff2) format("woff2"), url(fonts/Vazir-Medium.woff) format("woff"), url(fonts/Vazir-Medium.ttf) format("truetype");
    font-weight: 500
}

@font-face {
    font-family: Vazir;
    src: url(fonts/Vazir-Black.eot);
    src: url(fonts/Vazir-Black.eot?#iefix) format("embedded-opentype"), url(fonts/Vazir-Black.woff2) format("woff2"), url(fonts/Vazir-Black.woff) format("woff"), url(fonts/Vazir-Black.ttf) format("truetype");
    font-weight: 900
}

body {
    direction: rtl;
    text-align: right;
    font-family: Vazir;
    overflow-x: hidden
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
input,
tr,
th,
button {
    font-family: Vazir!important
}

.bwp-navigation ul>li.level-0>a,
.bwp-header .header-page-link .account h2,
.bwp-widget-banner.layout-2 .bwp-image-subtitle,
.rtl .hot,
.bwp-widget-banner.banner-product .single_add_to_cart_button,
.bwp-recent-post.slider .entry-dates span.month,
.rtl .mini-cart .cart-popup .total-cart .title-total,
.bwp-widget-banner.default .bwp-image-description,
.rtl .bwp-widget-banner.default .bwp-image-subtitle,
.subtitle-lookbook,
.description-lookbook,
.bwp-countdown.slider2 .available-box .content-available,
.bwp-top-bar .woocommerce-ordering .pwb-dropdown-toggle,
.wpbingo-newsletter.wpbingo-newsletter-sidebar .title,
.error404 .page-404 .sub-title {
    font-family: Vazir
}

.button-slider:after {
    transform: rotate(180deg)
}

.bwp-header .header-search-form .search-from .select_category ul {
    text-align: right;
    direction: ltr
}

.icon-login:before {
    content: '\e902'
}

.rtl .bwp-header .header-page-link .davici-topcart .cart-count {
    right: -14px;
    left: auto;
    font-family: 'yozi'
}

.rtl .bwp-header .header-mobile .mini-cart .cart-count {
    right: -12px;
    left: auto;
    font-family: 'yozi'
}

@media (max-width: 991px) {
    .bwp-canvas-navigation,
    .bwp-canvas-vertical {
        right: 0;
        -webkit-transform: translate3d(280px, 0, 0);
        transform: translate3d(280px, 0, 0)
    }
    .bwp-canvas-navigation .remove-megamenu,
    .bwp-canvas-vertical .remove-megamenu,
    .bwp-canvas-vertical .remove-verticalmenu {
        font-family: Vazir
    }
    .bwp-canvas-navigation .mm-menu .sub-menu ul li a {
        display: inline-block;
        direction: rtl
    }
    .wpbingo-newsletter-sidebar .content-newsletter {
        direction: rtl;
    }
}

@media (min-width: 1645px) {
    .wpbingo-newsletter-sidebar .content-newsletter {
        direction: rtl;
    }
}

.rtl .mini-cart .cart-popup.popup .remove-cart {
    font-family: Vazir;
    text-align: right
}

.elementor-11833 .elementor-element.elementor-element-d150299>.elementor-widget-container {
    margin: 10px 0 0 20px
}

.bwp-filter-homepage.tab_product_default .button-all a:after {
    content: "\23";
    margin-left: auto;
    margin-right: 5px
}

.rtl .onsale {
    direction: ltr;
    font-family: 'yozi';
    font-weight: 700
}

.hidden-title-form button i,
.wishlist-title a.show-title-form i,
.wishlist_manage_table tfoot a.create-new-wishlist i,
.wishlist_manage_table tfoot button.submit-wishlist-changes i,
.wishlist_table .add_to_cart.button i,
.wishlist_table .ask-an-estimate-button i,
.yith-wcwl-add-button>a i,
.yith-wcwl-wishlist-new button i,
.yith-wcwl-wishlist-search-form button.wishlist-search-button i {
    margin-right: 0
}

.products-list.grid .product-wapper .products-thumb .product-quickview>a>i {
    right: 13px
}

.products-list.grid .product-wapper .products-thumb .product-attribute:before {
    left: auto;
    right: -42px;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: #fff
}

.days,
.hours,
.mins,
.secs,
.countdown-amount,
.review-count,
.quantity input.qty,
strong.product-quantity,
.bwp-top-bar .davici-woocommerce-sort-count .list-show li a,
span.text-price-filter,
mark,
span.count,
.comments-link,
div.cout,
.comments-title,
div.comments-link a,
.woocommerce-Price-amount,
.woocommerce-tabs #reviews #comments>h2,
.single-product .woocommerce-tabs ul.tabs li a,
.sku,
label.count {
    font-family: 'Yozi'!important;
    font-weight: 600
}

.countdown-text,
.text-font,
.title-block-1 {
    font-family: Vazir!important
}

.review-count,
.rtl .bwp-widget-banner.banner-product .variations_form.cart .single_variation_wrap .woocommerce-variation-add-to-cart .quantity input {
    font-family: 'Yozi';
    font-weight: 400
}

.btn-read-more .read-more:after {
    content: "\44"!important
}

#bwp-footer.footer-2 .wpbingo-newsletter.newsletter-default .content-newsletter input[type=email],
.rtl #bwp-footer.footer-4 .wpbingo-newsletter.newsletter-default .content-newsletter input[type=email] {
    border-right: 2px solid #e6e6e6;
    border-left: 0;
    text-align: right;
    direction: rtl
}

.rtl #bwp-footer.footer-2 .wpbingo-newsletter.newsletter-default .content-newsletter {
    margin: 0 auto
}

.rtl .bwp-header .header-page-link .phone .content a {
    font-family: yozi!important;
    font-weight: 600;
    direction: ltr
}

.products-list.grid .product-wapper.content-product2 .available-box .content-available .available,
.products-list.grid .product-wapper.content-product2 .available-box .content-available .sold,
bdi {
    font-family: 'Yozi'
}

.mini-cart .cart-popup .quantity {
    font-family: 'Yozi';
    font-size: 16px
}

.bwp-widget-banner.layout-20 .bwp-image-subtitle:before {
    right: 100%;
    left: auto;
    border-left-color: transparent;
    border-right-color: #ff6f00
}

.bwp-image-subtitle,
.bwp-image-description {
    font-family: 'Vazir'!important
}

input[type=email] {
    direction: rtl!important
}

input[type=submit],
.bwp-widget-banner.layout-27 .title-banner,
.bwp-image-subtitle,
.bwp-countdown.slider2 .brands-single .title-brand,
.bwp-widget-banner.layout-25 .title-banner {
    letter-spacing: 0!important
}

.title-block-5:before {
    right: 0
}

.elementor-11718 .elementor-element.elementor-element-075bdf4 .elementor-text-editor {
    text-align: right
}

.elementor-align-right {
    text-align: left
}

.elementor-11718 .elementor-element.elementor-element-9db9398 .elementor-button .elementor-align-icon-right {
    margin-right: 10px;
    margin-left: auto
}

.elementor-11833 .elementor-element.elementor-element-44ab413 .elementor-button .elementor-align-icon-right {
    margin-right: 9px
}

.elementor-button-content-wrapper {
    flex-direction: row-reverse
}

.rtl #bwp-topbar .social-link li:first-child {
    margin-right: 0;
    margin-left: 15px
}

.rtl #bwp-topbar .social-link li:last-child {
    margin-left: 0;
    margin-right: 15px
}

.rtl .bwp-filter-homepage.slider .bwp-filter-heading ul.filter-category li:first-child {
    padding-left: 0!important
}

.rtl .bwp-filter-homepage.slider .bwp-filter-heading ul.filter-category li:last-child {
    padding-right: 0!important
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1440px
}

.elementor-11833 .elementor-element.elementor-element-7177c85 .elementor-button {
    padding: 0;
    padding: 0 18px 0 30px
}

.elementor-11833 .elementor-element.elementor-element-7177c85 .elementor-button .elementor-align-icon-left {
    margin-right: auto;
    margin-left: 10px
}

.slider-5 {
    direction: rtl;
    text-align: right
}

@media (min-width: 1025px) {
    .elementor-9052 .elementor-element.elementor-element-941b7ed {
        text-align: left
    }
}

@media (min-width: 992px) {
    .rtl .single-post-content .post-single.left:not(.col-xl-12):not(.col-lg-12) {
        padding-left: 35px;
        padding-right: 0
    }
    .rtl .category-posts .cate-post-content.left:not(.col-xl-12):not(.col-lg-12) {
        padding-left: 20px;
        padding-right: 10px
    }
    .rtl .single-post-content .post-single.right:not(.col-xl-12):not(.col-lg-12) {
        padding-left: 20px;
        padding-right: 10px
    }
}

@media (max-width: 767px) {
    .rtl .text-block-wapper-4 h2,
    .rtl .text-block-wapper-3 h2 {
        border-left: 0;
        margin-right: 25px;
        margin-left: 0
    }
}

.mm-panels>.mm-panel {
    direction: ltr
}

.mm-menu.mm-rtl .mm-navbar .mm-btn:first-child {
    right: auto;
    left: 0
}

.mm-menu.mm-rtl .mm-navbar .mm-prev:before {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    left: 23px;
    right: auto
}

@media (max-width: 991px) and (max-width: 991px) {
    .bwp-canvas-navigation .mm-menu .sub-menu ul li a>span.hot:before,
    .bwp-canvas-vertical .mm-menu .sub-menu ul li a>span.hot:before {
        border-color: #ff4a4a;
        border-right-color: #ff4a4a;
        border-left-color: transparent;
        border-bottom-color: transparent;
        right: 4px
    }
    .rtl .bwp-canvas-navigation .mm-menu .sub-menu ul li a>span,
    .rtl .bwp-canvas-vertical .mm-menu .sub-menu ul li a>span {
        left: -25px;
        right: auto
    }
    .bwp-canvas-navigation .mm-menu .sub-menu ul li a>span:before,
    .bwp-canvas-vertical .mm-menu .sub-menu ul li a>span:before {
        border-color: #45c03b;
        border-left-color: transparent;
        border-right-color: #45c03b;
        border-bottom-color: transparent;
        right: 4px
    }
}

.rtl .bwp-navigation ul>li.level-0 div.sub-menu li a>span,
.rtl .bwp-navigation ul>li.level-0>ul.sub-menu li a>span {
    left: -25px;
    right: auto
}

.bwp-navigation ul>li.level-0 div.sub-menu li a>span:before,
.bwp-navigation ul>li.level-0>ul.sub-menu li a>span:before {
    border-color: #45c03b;
    border-left-color: transparent;
    border-right-color: #45c03b;
    border-bottom-color: transparent;
    right: 4px
}

.bwp-navigation ul>li.level-0 div.sub-menu li a>span.hot:before,
.bwp-navigation ul>li.level-0>ul.sub-menu li a>span.hot:before {
    border-color: #ff4a4a;
    border-right-color: #ff4a4a;
    border-left-color: transparent;
    border-bottom-color: transparent;
    right: 4px
}

.rtl .bwp-canvas-navigation .mm-menu .sub-menu ul li a>span,
.rtl .bwp-canvas-vertical .mm-menu .sub-menu ul li a>span {
    left: -25px;
    right: auto
}

@media (max-width: 991px) {
    .bwp-canvas-navigation .remove-megamenu,
    .bwp-canvas-vertical .remove-megamenu,
    .bwp-canvas-vertical .remove-verticalmenu {
        font-family: Vazir
    }
}

.mini-cart .cart-popup .total-cart .total-price {
    font-family: Yozi
}

.elementor-9076 .elementor-element.elementor-element-9780fe6 {
    text-align: right!important
}

.bwp-widget-banner.default .bwp-image-subtitle:before {
    right: 100%;
    border-left-color: transparent;
    border-right-color: #ff6f00
}

.bwp-widget-banner.banner-product-countdown .title-banner {
    letter-spacing: 0
}

.bwp-widget-banner.banner-product-countdown .title-banner:before {
    padding-bottom: 10px
}

.products-list.grid .product-wapper.content-product5 .product-button>a.product_type_variable:before,
.products-list.grid .product-wapper.content-product5 .product-button>a.read_more:before {
    content: "\23"
}

.elementor-9005 .elementor-element.elementor-element-2f5e38a .elementor-button .elementor-align-icon-right {
    margin-right: 10px;
    margin-left: auto
}

.bwp-widget-banner.layout-9 .banner-wrapper-infor:after {
    border-right-color: transparent;
    border-left-color: #000
}

.bwp-widget-banner.layout-9 .info {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, -50% 100%)
}

.bwp-woo-categories.slider4 .item-title a:after {
    content: "\23"
}

.bwp_product_list.slider5 .slick-arrow.fa-angle-left,
.bwp-recent-post.slider4 .slick-arrow.fa-angle-left {
    left: 24px;
    right: auto
}

.products-list.grid .product-wapper.content-product4 .product-button-cart>a.product_type_variable:before,
.products-list.grid .product-wapper.content-product4 .product-button-cart>a.read_more:before {
    content: "\23"
}

.elementor-14142 .elementor-element.elementor-element-4a7793c>.elementor-element-populated {
    margin: 0 0 0 30px
}

.breadcrumb .delimiter:before {
    content: "\f104"
}

.box-map-contact {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, -50% 100%)
}

.rtl .rtl .wp-caption,
.rtl .rtl tr th,
.rtl .rtl td {
    text-align: right!important
}

.contact-us-form input[type=email],
.contact-us-form input[type=text],
.contact-us-form textarea {
    text-align: right;
    direction: rtl
}

.rtl .social-contact .social-link li {
    margin-right: 10px;
    margin-left: 0
}

.rtl .social-contact .social-link li:last-child {
    margin-right: 10px;
    margin-left: 0
}

.elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-icon-right {
    float: left;
    text-align: left
}

.rtl .bwp-top-bar .woocommerce-ordering .pwb-dropdown-toggle:after,
.rtl .bwp-top-bar .woocommerce-sort-count .pwb-dropdown-toggle:after {
    padding-right: 5px;
    padding-left: 15px
}

.bwp-top-bar .woocommerce-ordering .pwb-dropdown-menu li,
.bwp-top-bar .woocommerce-sort-count .pwb-dropdown-menu li {
    text-align: right
}

.woocommerce-pagination>ul.page-numbers li a.next:before {
    content: "\34"
}

ul.page-numbers li span.page-numbers,
ul.page-numbers li a.page-numbers {
    font-family: 'Yozi'!important
}

.woocommerce-pagination>ul.page-numbers li a.prev:before {
    content: "\35"
}

.bwp-top-bar.top .button-filter-toggle:after,
.bwp-top-bar.top .button-filter-toggle:before {
    right: 15px;
    left: auto
}

@media (max-width: 991px) {
    .bwp-canvas-navigation .mm-menu .title h2,
    .bwp-canvas-vertical .mm-menu .title h2 {
        letter-spacing: 0!important
    }
    .filter_drawer .main-archive-product.row .bwp-sidebar .button-filter-toggle {
        font-family: Vazir
    }
    .filter_drawer .main-archive-product.row .bwp-sidebar {
        right: 0;
        left: auto;
        -webkit-transform: translateX(330px);
        transform: translateX(330px);
        overflow: scroll
    }
}

.bwp-sidebar>.widget ul:not(.social-link):not(.content-products):not(.product_list_widget) li:not(.recentcomments):before {
    float: right;
    content: "\f0d9";
    padding-left: 10px;
    padding-right: auto
}

.bwp-top-bar .woocommerce-filter-title,
ul.woocommerce-product-subcategories li .count-product,
.only_categories .woocommerce-product-category .count-product {
    font-family: 'Yozi';
    font-weight: 600
}

.filter_offcanvas .sidebar-product-filter .button-filter-toggle {
    font-family: Vazir
}

.filter_offcanvas .sidebar-product-filter {
    right: 0;
    left: auto;
    -webkit-transform: translateX(330px);
    transform: translateX(330px)
}

.breadcrumb-noheading .breadcrumb .delimiter:before {
    content: "\f104"
}

#swipebox-container {
    direction: ltr
}

.bwp-quick-view .quickview-container .quickview-close {
    left: -15px;
    right: auto
}

div.content-product4 div.product-button>div.yith-wcwl-add-to-wishlist,
div.content-product6 div.products-thumb div.product-button div.yith-wcwl-add-to-wishlist,
div.bwp-single-info div.summary>div.yith-wcwl-add-to-wishlist,
div.content_product_detail>div.yith-wcwl-add-to-wishlist,
div.related div.product-button>span.product-quickview {
    display: none!important
}

div.tab_category_slider_2 div.product-button>div.yith-wcwl-add-to-wishlist {
    left: 0!important;
    position: relative;
    top: -23rem!important
}

.rtl .contents-detail .bwp-single-product .bwp-single-info {
    padding-right: 55px;
    padding-left: 5px
}

.rtl .products-list.grid .product-wapper .products-thumb .product-quickview .loading:before {
    right: 13px;
    left: auto;
    top: 8px
}

.search-style .products-list.grid .product-wapper .products-thumb .product-quickview .loading:before {
    right: 0;
    left: auto;
    top: 0
}

.search-icon .products-list.grid .product-wapper .products-thumb .product-quickview .loading:before {
    right: 0;
    left: auto;
    top: 0
}

.fa-angle-right:before {
    content: "\f104"!important
}

.fa-angle-left:before {
    content: "\f105"!important
}

.rtl .davici-360-button {
    font-family: Vazir
}

.davici-360-button i {
    margin-left: 5px;
    margin-right: auto
}

.rtl .contents-detail .bwp-single-product.large_grid .bwp-single-info {
    padding-left: 15px
}

.contents-detail .bwp-single-product.large_grid .bwp-single-info {
    position: sticky;
    position: -webkit-sticky;
    top: 35px
}

.rtl .contents-detail .bwp-single-product .bwp-single-info {
    padding-right: 30px;
    padding-left: 15px
}

@media (max-width: 767px) {
    .contents-detail .bwp-single-product .woocommerce-product-gallery>.row>div.col-md-2 .slick-arrow.fa-angle-left::before {
        content: "\f104"!important
    }
    .contents-detail .bwp-single-product .woocommerce-product-gallery>.row>div.col-md-2 .slick-arrow.fa-angle-right::before {
        content: "\f105"!important
    }
}

.contents-detail .bwp-single-product .woocommerce-product-gallery>.row>div.col-md-2 .image-thumbnail .slick-list {
    direction: ltr
}

.quickview-container .type-product.outofstock .product-stock,
.single-product .type-product.outofstock .product-stock {
    letter-spacing: 0
}

.single-product .offer-product ul li:before,
.author .post-content .read-more:after,
.category-posts .cate-post-content .post-content .read-more:after,
.search .post-content .read-more:after {
    content: "\f0d9"
}

.category-posts .cate-post-content .blog-content-list .post_format-post-format-gallery .gallery-slider .slick-arrow.fa-angle-right {
    left: 15px;
    right: auto
}

.category-posts .cate-post-content .blog-content-list .post_format-post-format-gallery .gallery-slider .slick-arrow {
    left: 50px;
    right: auto
}

@media (max-width: 480px) {
    .mini-cart .cart-popup .quantity {
        width: unset
    }
}

.mini-cart.open .cart-popup.dropdown {
    direction: ltr
}

.mini-cart .cart-popup .mini_cart_item {
    direction: rtl
}

.mini-cart .cart-popup .total-cart {
    direction: rtl
}

.bwp-filter-homepage.tab_product_default .button-all a {
    padding: 0 16px
}

.bwp-widget-banner.layout-7 .button,
.bwp-widget-banner.layout-7-right .button {
    padding: 0 16px
}

.main-single-product .sticky-product .price {
    font-family: Yozi
}

.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7-response-output {
    direction: rtl
}

.footer-copyright,
.rtl .newsletterpopup .close-popup.popup-2 {
    font-family: Vazir!important
}

.bwp-quick-view .quickview-container .slider_img_productd .col-sm-12 .slick-arrow.fa-angle-left:before {
    content: "\f177"!important
}

.bwp-quick-view .quickview-container .slider_img_productd .col-sm-12 .slick-arrow:before {
    content: "\f178"!important
}

.newsletterpopup .wpbingo-newsletter-popup {
    direction: rtl
}

@media (min-width: 768px) {
    .contents-detail .bwp-single-product .woocommerce-product-gallery>.row>div.col-md-2 .slick-arrow:before,
    .contents-detail .bwp-single-product .woocommerce-product-gallery>.row>div.col-md-10 .slick-arrow:before {
        content: "\f106"!important
    }
    .contents-detail .bwp-single-product .woocommerce-product-gallery>.row>div.col-md-2 .slick-arrow.fa-angle-right:before,
    .contents-detail .bwp-single-product .woocommerce-product-gallery>.row>div.col-md-10 .slick-arrow.fa-angle-right:before {
        content: "\f107"!important
    }
}

#dokan-store-listing-filter-wrap .right .item .dokan-store-list-filter-button {
    letter-spacing: 0
}

#dokan-seller-listing-wrap .store-footer a .dokan-btn-theme:before {
    content: "\34"
}

.dokan-pagination-container .dokan-pagination li {
    display: inline-block;
    direction: rtl
}

.dokan-pagination-container .dokan-pagination {
    direction: rtl
}

.dokan-pagination-container .dokan-pagination li a {
    font-family: 'yozi'!important
}

#dokan-seller-listing-wrap ul.dokan-seller-wrap li {
    float: right
}

#dokan-seller-listing-wrap.list-view .dokan-seller-wrap .dokan-single-seller .store-wrapper .store-content .store-data-container .store-data .dokan-seller-rating[class] {
    float: left;
    right: 25%;
    left: auto
}

#dokan-seller-listing-wrap.list-view .dokan-seller-wrap .dokan-single-seller .store-wrapper>.store-content {
    padding-right: 4%;
    padding-left: auto
}

#dokan-seller-listing-wrap.list-view .dokan-seller-wrap .dokan-single-seller .store-wrapper .store-content .store-data-container .store-data .store-address:before {
    right: -5px;
    left: auto
}

.dokan-store-sidebar {
    margin-left: 0
}

.bwp-navigation ul>li.level-0:last-child {
    padding-right: 10px!important
}

.rtl .bwp-header.header-v7 .header-menu .bwp-navigation ul>li.level-0:first-child {
    padding-left: 10px
}

.bwp-header.header-v6 .categories-vertical-menu .widget-title:before {
    right: 60px;
    left: auto;
}

.bwp-header .header-search-form .result-search-products {
    direction: ltr
}

.woocommerce-account #customer_login .box-form-login h2:not(h2.register)::before,
.form-login-register .box-form-login h2:before {
    transform: rotate(180deg)
}

ul.cart_list li.empty,
.rtl .bwp-header .header-search-form .result-search-products .item-search .item-content {
    direction: rtl
}

.mini-cart .cart-popup .mini_cart_item a.remove {
    line-height: 26px
}

.elementor-9361 .elementor-element.elementor-element-3e3beb7>.elementor-element-populated {
    padding: 0!important
}

.style-wishlist .products-list.grid .product-wapper .products-content .product-button .yith-wcwl-add-to-wishlist {
    margin-left: 5px;
    margin-right: 0
}

.style-wishlist1 .products-list.grid .product-wapper .products-content .product-button .yith-wcwl-add-to-wishlist {
    margin-left: 7px;
    margin-right: 0
}

@media (max-width:321px) {
    .rtl .bwp-top-bar .woocommerce-ordering .pwb-dropdown-menu {
        right: 0!important;
        left: auto
    }
}

.main-archive-product .banner-shop .button a {
    letter-spacing: 0
}

.swiper-pagination-current,
.swiper-pagination-total,
span.text,
span.details {
    font-family: Yozi!important
}

@media (max-width: 767px) {
    #dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-content {
        text-align: right
    }
}

@media (max-width: 375px) {
    #dokan-store-listing-filter-wrap .right .item {
        font-size: 11px
    }
}

.mini-cart .cart-popup.popup .cart_list,
div.box-phone div.content {
    direction: ltr
}

.newsletter-home3 .content-newsletter {
    display: inline-flex !important;
}

.cart-load-style .products-list.grid .product-wapper.content-product4 .product-button-cart>a.loading:before,
.cart-load-style .products-list.grid .product-wapper.content-product5 .product-button>a.loading:before,
.cart-load-style .bwp-countdown.slider2 .product-button>a.loading:before,
.cart-load-style .products-list.grid .product-wapper.content-product6 .product-button-cart>a.loading:before {
    margin-left: 10px;
}

@media (max-width: 480px) {
    .rtl .bwp-widget-banner.banner-product .variations_form.cart table tr td>div[data-attribute_name=attribute_pa_color] .swatch-color:last-child {
        margin-right: 10px !important;
    }
}

@media (max-width: 991px) {
    .error404 .page-404 .content-page-404 {
        margin-top: 65px !important;
    }
}

#bwp-topbar .topbar-right>* i {
    float: right;
    margin-left: 10px;
    margin-right: auto;
    top: 0;
}

#bwp-topbar .social-link {
    top: 3px;
}

#bwp-topbar .topbar-right>* a {
    display: inline-block;
    direction: ltr;
}

.woocommerce-message .wc-forward:after {
    content: "\23";
}

.loop-pagination>ul.page-numbers li a.next:before {
    content: "\34";
}

.loop-pagination>ul.page-numbers li a.prev:before {
    content: "\35";
}

.category-posts .cate-post-content .blog-content-modern .modern-grid .post_format-post-format-gallery .gallery-slider .slick-arrow {
    left: 50px;
    right: auto;
}

.category-posts .cate-post-content .blog-content-modern .modern-grid .post_format-post-format-gallery .gallery-slider .slick-arrow.fa-angle-right {
    left: 15px;
    right: auto;
}

@media (min-width: 992px) {
    .rtl .category-posts .cate-post-content.right:not(.col-xl-12):not(.col-lg-12) {
        padding-right: 20px;
        padding-left: 0;
    }
}

div.post-single.full {
    padding: 0 10px !important;
}

.bwp-recent-post.slider4 .entry-dates span.day,
.bwp-recent-post.slider4 .entry-dates span.month {
    font-family: Vazir;
}

.bwp-heade r.header-v6 .categories-vertical-menu .widget-title:before {
    right: 60px;
    left: auto;
}

.countdown-single .product-countdown {
    direction: ltr;
}

.countdown-single .product-countdown .countdown-content .secs,
.contdown-home4 .countdown .countdown-deal .product-countdown .countdown-content .secs,
.desc-countdown .countdown-deal .product-countdown .countdown-content .secs {
    margin-left: 17px !important;
}

.countdown .item-countdown .product-countdown .countdown-content,
.contdown-home7 .item-countdown .product-countdown .countdown-content {
    display: flex;
    flex-direction: row-reverse;
}

.countdown .item-countdown .product-countdown .countdown-content span,
.contdown-home7 .item-countdown .product-countdown .countdown-content span {
    display: inline-block;
    float: right;
    font-size: 16px;
}

.countdown .item-countdown .countdown-text,
.contdown-home7 .item-countdown .product-countdown .countdown-content .countdown-text {
    padding-top: 1px;
    padding-right: 1px;
}

.countdown-deal .product-countdown .countdown-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.countdown-deal .product-countdown .countdown-content span {
    display: inline-block;
}

@media (max-width: 480px) {
    .countdown-deal .product-countdown .countdown-content span {
        float: right;
    }
    .contdown-home4 .countdown .countdown-deal .product-countdown .countdown-content span,
    .desc-countdown .countdown-deal .product-countdown .countdown-content span {
        float: unset !important;
    }
    .contdown-home4 .countdown .countdown-deal .product-countdown .countdown-content .secs {
        margin-left: 10px !important;
    }
}

@media (max-width: 407px) {
    .contdown-home4 .countdown .countdown-deal .product-countdown {
        direction: ltr;
    }
}

@media (max-width: 767px) {
    .contdown-home4 .countdown .countdown-deal .product-countdown {
        float: right !important;
    }
}

@media (max-width: 1199px) {
    .desc-countdown .countdown-deal .product-countdown .countdown-content .secs {
        margin-left: 10px !important;
    }
}


/*****homepage 9*******/

.slider4.home9-style .products-list.grid .product-wapper.content-product5 {
    border: 0;
    border-left: unset;
    margin: 10px;
    border-radius: 10px !important;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%) !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.rtl .products-list.grid .product-wapper .products-content .product-button .yith-wcwl-add-to-wishlist {
    margin-left: 7px !important;
    margin-right: 0 !important
}

.style-addcart2 .products-list.grid .product-wapper .products-content .product-button .yith-wcwl-add-to-wishlist {
    margin-right: 7px !important;
    margin-left: 0 !important
}

.bwp-recent-post.slider .post-image {
    border-radius: 10px 10px 0 0;
}

.bwp-recent-post.slider .post-content {
    border-radius: 0 0 10px 10px;
}

#rev_slider_27_1_wrapper rs-slide,
#rev_slider_29_1_wrapper rs-slide {
    border-radius: 15px;
}

.icon-style-home9 .bwp-woo-categories.slider2 .item-product-cat-content .item-icon i {
    font-size: 45px;
    color: #FF6F00;
}

.icon-style-home9 .bwp-woo-categories.slider2 .item-product-cat-content .item-count {
    font-family: Vazir !important;
    padding-top: 10px
}

.icon-style-home9 .bwp-woo-categories.slider2 .item-product-cat-content .item-title {
    margin-top: 10px;
}


/* home 10 style */

.product-style10 .bwp-countdown.slider2 .item-product-content,
.img-radius {
    border-radius: 10px;
}

.newlest-home-3.newlest-home-10 .wpbingo-newsletter.newsletter-default .content-newsletter input[type="email"] {
    border-radius: 0 30px 30px 0;
}


}