/*
Theme Name: Davici
Theme URI: http://wpbingosite.com/wordpress/davici/
Author: Wpbingo
Author URI: http://wpbingosite.com/
Description: Davici is a modern, clean and professional WooCommerce WordPress theme. It is built to well suit for any online stores: electronics store, fashion store, jewelry store...
Version: 1.0.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: davici
*/
.bypostauthor {
	font-style: italic;
	font-size: 12px;
	color: #757575;
}