.mp-0 .bwp-widget-banner{
  margin-bottom:0; }

.mp-0 .vc_row,.mp-0.vc_row{
  margin-left:0;
  margin-right:0; }
  .mp-0 .vc_row .vc_column_container>.vc_column-inner,.mp-0.vc_row .vc_column_container>.vc_column-inner{
    padding-left:0;
    padding-right:0; }

.mp-1 .bwp-widget-banner{
  margin-bottom:1px; }

.mp-1 .vc_row,.mp-1.vc_row{
  margin-left:-.5px;
  margin-right:-.5px; }
  .mp-1 .vc_row .vc_column_container>.vc_column-inner,.mp-1.vc_row .vc_column_container>.vc_column-inner{
    padding-left:.5px;
    padding-right:.5px; }

.mp-2 .bwp-widget-banner{
  margin-bottom:2px; }

.mp-2 .vc_row,.mp-2.vc_row{
  margin-left:-1px;
  margin-right:-1px; }
  .mp-2 .vc_row .vc_column_container>.vc_column-inner,.mp-2.vc_row .vc_column_container>.vc_column-inner{
    padding-left:1px;
    padding-right:1px; }

.mp-3 .bwp-widget-banner{
  margin-bottom:3px; }

.mp-3 .vc_row,.mp-3.vc_row{
  margin-left:-1.5px;
  margin-right:-1.5px; }
  .mp-3 .vc_row .vc_column_container>.vc_column-inner,.mp-3.vc_row .vc_column_container>.vc_column-inner{
    padding-left:1.5px;
    padding-right:1.5px; }

.mp-4 .bwp-widget-banner{
  margin-bottom:4px; }

.mp-4 .vc_row,.mp-4.vc_row{
  margin-left:-2px;
  margin-right:-2px; }
  .mp-4 .vc_row .vc_column_container>.vc_column-inner,.mp-4.vc_row .vc_column_container>.vc_column-inner{
    padding-left:2px;
    padding-right:2px; }

.mp-5 .bwp-widget-banner{
  margin-bottom:5px; }

.mp-5 .vc_row,.mp-5.vc_row{
  margin-left:-2.5px;
  margin-right:-2.5px; }
  .mp-5 .vc_row .vc_column_container>.vc_column-inner,.mp-5.vc_row .vc_column_container>.vc_column-inner{
    padding-left:2.5px;
    padding-right:2.5px; }

.mp-6 .bwp-widget-banner{
  margin-bottom:6px; }

.mp-6 .vc_row,.mp-6.vc_row{
  margin-left:-3px;
  margin-right:-3px; }
  .mp-6 .vc_row .vc_column_container>.vc_column-inner,.mp-6.vc_row .vc_column_container>.vc_column-inner{
    padding-left:3px;
    padding-right:3px; }

.mp-7 .bwp-widget-banner{
  margin-bottom:7px; }

.mp-7 .vc_row,.mp-7.vc_row{
  margin-left:-3.5px;
  margin-right:-3.5px; }
  .mp-7 .vc_row .vc_column_container>.vc_column-inner,.mp-7.vc_row .vc_column_container>.vc_column-inner{
    padding-left:3.5px;
    padding-right:3.5px; }

.mp-8 .bwp-widget-banner{
  margin-bottom:8px; }

.mp-8 .vc_row,.mp-8.vc_row{
  margin-left:-4px;
  margin-right:-4px; }
  .mp-8 .vc_row .vc_column_container>.vc_column-inner,.mp-8.vc_row .vc_column_container>.vc_column-inner{
    padding-left:4px;
    padding-right:4px; }

.mp-9 .bwp-widget-banner{
  margin-bottom:9px; }

.mp-9 .vc_row,.mp-9.vc_row{
  margin-left:-4.5px;
  margin-right:-4.5px; }
  .mp-9 .vc_row .vc_column_container>.vc_column-inner,.mp-9.vc_row .vc_column_container>.vc_column-inner{
    padding-left:4.5px;
    padding-right:4.5px; }

.mp-10 .bwp-widget-banner{
  margin-bottom:10px; }

.mp-10 .vc_row,.mp-10.vc_row{
  margin-left:-5px;
  margin-right:-5px; }
  .mp-10 .vc_row .vc_column_container>.vc_column-inner,.mp-10.vc_row .vc_column_container>.vc_column-inner{
    padding-left:5px;
    padding-right:5px; }

.mp-11 .bwp-widget-banner{
  margin-bottom:11px; }

.mp-11 .vc_row,.mp-11.vc_row{
  margin-left:-5.5px;
  margin-right:-5.5px; }
  .mp-11 .vc_row .vc_column_container>.vc_column-inner,.mp-11.vc_row .vc_column_container>.vc_column-inner{
    padding-left:5.5px;
    padding-right:5.5px; }

.mp-12 .bwp-widget-banner{
  margin-bottom:12px; }

.mp-12 .vc_row,.mp-12.vc_row{
  margin-left:-6px;
  margin-right:-6px; }
  .mp-12 .vc_row .vc_column_container>.vc_column-inner,.mp-12.vc_row .vc_column_container>.vc_column-inner{
    padding-left:6px;
    padding-right:6px; }

.mp-13 .bwp-widget-banner{
  margin-bottom:13px; }

.mp-13 .vc_row,.mp-13.vc_row{
  margin-left:-6.5px;
  margin-right:-6.5px; }
  .mp-13 .vc_row .vc_column_container>.vc_column-inner,.mp-13.vc_row .vc_column_container>.vc_column-inner{
    padding-left:6.5px;
    padding-right:6.5px; }

.mp-14 .bwp-widget-banner{
  margin-bottom:14px; }

.mp-14 .vc_row,.mp-14.vc_row{
  margin-left:-7px;
  margin-right:-7px; }
  .mp-14 .vc_row .vc_column_container>.vc_column-inner,.mp-14.vc_row .vc_column_container>.vc_column-inner{
    padding-left:7px;
    padding-right:7px; }

.mp-15 .bwp-widget-banner{
  margin-bottom:15px; }

.mp-15 .vc_row,.mp-15.vc_row{
  margin-left:-7.5px;
  margin-right:-7.5px; }
  .mp-15 .vc_row .vc_column_container>.vc_column-inner,.mp-15.vc_row .vc_column_container>.vc_column-inner{
    padding-left:7.5px;
    padding-right:7.5px; }

.mp-16 .bwp-widget-banner{
  margin-bottom:16px; }

.mp-16 .vc_row,.mp-16.vc_row{
  margin-left:-8px;
  margin-right:-8px; }
  .mp-16 .vc_row .vc_column_container>.vc_column-inner,.mp-16.vc_row .vc_column_container>.vc_column-inner{
    padding-left:8px;
    padding-right:8px; }

.mp-17 .bwp-widget-banner{
  margin-bottom:17px; }

.mp-17 .vc_row,.mp-17.vc_row{
  margin-left:-8.5px;
  margin-right:-8.5px; }
  .mp-17 .vc_row .vc_column_container>.vc_column-inner,.mp-17.vc_row .vc_column_container>.vc_column-inner{
    padding-left:8.5px;
    padding-right:8.5px; }

.mp-18 .bwp-widget-banner{
  margin-bottom:18px; }

.mp-18 .vc_row,.mp-18.vc_row{
  margin-left:-9px;
  margin-right:-9px; }
  .mp-18 .vc_row .vc_column_container>.vc_column-inner,.mp-18.vc_row .vc_column_container>.vc_column-inner{
    padding-left:9px;
    padding-right:9px; }

.mp-19 .bwp-widget-banner{
  margin-bottom:19px; }

.mp-19 .vc_row,.mp-19.vc_row{
  margin-left:-9.5px;
  margin-right:-9.5px; }
  .mp-19 .vc_row .vc_column_container>.vc_column-inner,.mp-19.vc_row .vc_column_container>.vc_column-inner{
    padding-left:9.5px;
    padding-right:9.5px; }

.mp-20 .bwp-widget-banner{
  margin-bottom:20px; }

.mp-20 .vc_row,.mp-20.vc_row{
  margin-left:-10px;
  margin-right:-10px; }
  .mp-20 .vc_row .vc_column_container>.vc_column-inner,.mp-20.vc_row .vc_column_container>.vc_column-inner{
    padding-left:10px;
    padding-right:10px; }

.mp-21 .bwp-widget-banner{
  margin-bottom:21px; }

.mp-21 .vc_row,.mp-21.vc_row{
  margin-left:-10.5px;
  margin-right:-10.5px; }
  .mp-21 .vc_row .vc_column_container>.vc_column-inner,.mp-21.vc_row .vc_column_container>.vc_column-inner{
    padding-left:10.5px;
    padding-right:10.5px; }

.mp-22 .bwp-widget-banner{
  margin-bottom:22px; }

.mp-22 .vc_row,.mp-22.vc_row{
  margin-left:-11px;
  margin-right:-11px; }
  .mp-22 .vc_row .vc_column_container>.vc_column-inner,.mp-22.vc_row .vc_column_container>.vc_column-inner{
    padding-left:11px;
    padding-right:11px; }

.mp-23 .bwp-widget-banner{
  margin-bottom:23px; }

.mp-23 .vc_row,.mp-23.vc_row{
  margin-left:-11.5px;
  margin-right:-11.5px; }
  .mp-23 .vc_row .vc_column_container>.vc_column-inner,.mp-23.vc_row .vc_column_container>.vc_column-inner{
    padding-left:11.5px;
    padding-right:11.5px; }

.mp-24 .bwp-widget-banner{
  margin-bottom:24px; }

.mp-24 .vc_row,.mp-24.vc_row{
  margin-left:-12px;
  margin-right:-12px; }
  .mp-24 .vc_row .vc_column_container>.vc_column-inner,.mp-24.vc_row .vc_column_container>.vc_column-inner{
    padding-left:12px;
    padding-right:12px; }

.mp-25 .bwp-widget-banner{
  margin-bottom:25px; }

.mp-25 .vc_row,.mp-25.vc_row{
  margin-left:-12.5px;
  margin-right:-12.5px; }
  .mp-25 .vc_row .vc_column_container>.vc_column-inner,.mp-25.vc_row .vc_column_container>.vc_column-inner{
    padding-left:12.5px;
    padding-right:12.5px; }

.mp-26 .bwp-widget-banner{
  margin-bottom:26px; }

.mp-26 .vc_row,.mp-26.vc_row{
  margin-left:-13px;
  margin-right:-13px; }
  .mp-26 .vc_row .vc_column_container>.vc_column-inner,.mp-26.vc_row .vc_column_container>.vc_column-inner{
    padding-left:13px;
    padding-right:13px; }

.mp-27 .bwp-widget-banner{
  margin-bottom:27px; }

.mp-27 .vc_row,.mp-27.vc_row{
  margin-left:-13.5px;
  margin-right:-13.5px; }
  .mp-27 .vc_row .vc_column_container>.vc_column-inner,.mp-27.vc_row .vc_column_container>.vc_column-inner{
    padding-left:13.5px;
    padding-right:13.5px; }

.mp-28 .bwp-widget-banner{
  margin-bottom:28px; }

.mp-28 .vc_row,.mp-28.vc_row{
  margin-left:-14px;
  margin-right:-14px; }
  .mp-28 .vc_row .vc_column_container>.vc_column-inner,.mp-28.vc_row .vc_column_container>.vc_column-inner{
    padding-left:14px;
    padding-right:14px; }

.mp-29 .bwp-widget-banner{
  margin-bottom:29px; }

.mp-29 .vc_row,.mp-29.vc_row{
  margin-left:-14.5px;
  margin-right:-14.5px; }
  .mp-29 .vc_row .vc_column_container>.vc_column-inner,.mp-29.vc_row .vc_column_container>.vc_column-inner{
    padding-left:14.5px;
    padding-right:14.5px; }

.mp-30 .bwp-widget-banner{
  margin-bottom:30px; }

.mp-30 .vc_row,.mp-30.vc_row{
  margin-left:-15px;
  margin-right:-15px; }
  .mp-30 .vc_row .vc_column_container>.vc_column-inner,.mp-30.vc_row .vc_column_container>.vc_column-inner{
    padding-left:15px;
    padding-right:15px; }

.mp-31 .bwp-widget-banner{
  margin-bottom:31px; }

.mp-31 .vc_row,.mp-31.vc_row{
  margin-left:-15.5px;
  margin-right:-15.5px; }
  .mp-31 .vc_row .vc_column_container>.vc_column-inner,.mp-31.vc_row .vc_column_container>.vc_column-inner{
    padding-left:15.5px;
    padding-right:15.5px; }

.mp-32 .bwp-widget-banner{
  margin-bottom:32px; }

.mp-32 .vc_row,.mp-32.vc_row{
  margin-left:-16px;
  margin-right:-16px; }
  .mp-32 .vc_row .vc_column_container>.vc_column-inner,.mp-32.vc_row .vc_column_container>.vc_column-inner{
    padding-left:16px;
    padding-right:16px; }

.mp-33 .bwp-widget-banner{
  margin-bottom:33px; }

.mp-33 .vc_row,.mp-33.vc_row{
  margin-left:-16.5px;
  margin-right:-16.5px; }
  .mp-33 .vc_row .vc_column_container>.vc_column-inner,.mp-33.vc_row .vc_column_container>.vc_column-inner{
    padding-left:16.5px;
    padding-right:16.5px; }

.mp-34 .bwp-widget-banner{
  margin-bottom:34px; }

.mp-34 .vc_row,.mp-34.vc_row{
  margin-left:-17px;
  margin-right:-17px; }
  .mp-34 .vc_row .vc_column_container>.vc_column-inner,.mp-34.vc_row .vc_column_container>.vc_column-inner{
    padding-left:17px;
    padding-right:17px; }

.mp-35 .bwp-widget-banner{
  margin-bottom:35px; }

.mp-35 .vc_row,.mp-35.vc_row{
  margin-left:-17.5px;
  margin-right:-17.5px; }
  .mp-35 .vc_row .vc_column_container>.vc_column-inner,.mp-35.vc_row .vc_column_container>.vc_column-inner{
    padding-left:17.5px;
    padding-right:17.5px; }

.mp-36 .bwp-widget-banner{
  margin-bottom:36px; }

.mp-36 .vc_row,.mp-36.vc_row{
  margin-left:-18px;
  margin-right:-18px; }
  .mp-36 .vc_row .vc_column_container>.vc_column-inner,.mp-36.vc_row .vc_column_container>.vc_column-inner{
    padding-left:18px;
    padding-right:18px; }

.mp-37 .bwp-widget-banner{
  margin-bottom:37px; }

.mp-37 .vc_row,.mp-37.vc_row{
  margin-left:-18.5px;
  margin-right:-18.5px; }
  .mp-37 .vc_row .vc_column_container>.vc_column-inner,.mp-37.vc_row .vc_column_container>.vc_column-inner{
    padding-left:18.5px;
    padding-right:18.5px; }

.mp-38 .bwp-widget-banner{
  margin-bottom:38px; }

.mp-38 .vc_row,.mp-38.vc_row{
  margin-left:-19px;
  margin-right:-19px; }
  .mp-38 .vc_row .vc_column_container>.vc_column-inner,.mp-38.vc_row .vc_column_container>.vc_column-inner{
    padding-left:19px;
    padding-right:19px; }

.mp-39 .bwp-widget-banner{
  margin-bottom:39px; }

.mp-39 .vc_row,.mp-39.vc_row{
  margin-left:-19.5px;
  margin-right:-19.5px; }
  .mp-39 .vc_row .vc_column_container>.vc_column-inner,.mp-39.vc_row .vc_column_container>.vc_column-inner{
    padding-left:19.5px;
    padding-right:19.5px; }

.mp-40 .bwp-widget-banner{
  margin-bottom:40px; }

.mp-40 .vc_row,.mp-40.vc_row{
  margin-left:-20px;
  margin-right:-20px; }
  .mp-40 .vc_row .vc_column_container>.vc_column-inner,.mp-40.vc_row .vc_column_container>.vc_column-inner{
    padding-left:20px;
    padding-right:20px; }

.mp-41 .bwp-widget-banner{
  margin-bottom:41px; }

.mp-41 .vc_row,.mp-41.vc_row{
  margin-left:-20.5px;
  margin-right:-20.5px; }
  .mp-41 .vc_row .vc_column_container>.vc_column-inner,.mp-41.vc_row .vc_column_container>.vc_column-inner{
    padding-left:20.5px;
    padding-right:20.5px; }

.mp-42 .bwp-widget-banner{
  margin-bottom:42px; }

.mp-42 .vc_row,.mp-42.vc_row{
  margin-left:-21px;
  margin-right:-21px; }
  .mp-42 .vc_row .vc_column_container>.vc_column-inner,.mp-42.vc_row .vc_column_container>.vc_column-inner{
    padding-left:21px;
    padding-right:21px; }

.mp-43 .bwp-widget-banner{
  margin-bottom:43px; }

.mp-43 .vc_row,.mp-43.vc_row{
  margin-left:-21.5px;
  margin-right:-21.5px; }
  .mp-43 .vc_row .vc_column_container>.vc_column-inner,.mp-43.vc_row .vc_column_container>.vc_column-inner{
    padding-left:21.5px;
    padding-right:21.5px; }

.mp-44 .bwp-widget-banner{
  margin-bottom:44px; }

.mp-44 .vc_row,.mp-44.vc_row{
  margin-left:-22px;
  margin-right:-22px; }
  .mp-44 .vc_row .vc_column_container>.vc_column-inner,.mp-44.vc_row .vc_column_container>.vc_column-inner{
    padding-left:22px;
    padding-right:22px; }

.mp-45 .bwp-widget-banner{
  margin-bottom:45px; }

.mp-45 .vc_row,.mp-45.vc_row{
  margin-left:-22.5px;
  margin-right:-22.5px; }
  .mp-45 .vc_row .vc_column_container>.vc_column-inner,.mp-45.vc_row .vc_column_container>.vc_column-inner{
    padding-left:22.5px;
    padding-right:22.5px; }

.mp-46 .bwp-widget-banner{
  margin-bottom:46px; }

.mp-46 .vc_row,.mp-46.vc_row{
  margin-left:-23px;
  margin-right:-23px; }
  .mp-46 .vc_row .vc_column_container>.vc_column-inner,.mp-46.vc_row .vc_column_container>.vc_column-inner{
    padding-left:23px;
    padding-right:23px; }

.mp-47 .bwp-widget-banner{
  margin-bottom:47px; }

.mp-47 .vc_row,.mp-47.vc_row{
  margin-left:-23.5px;
  margin-right:-23.5px; }
  .mp-47 .vc_row .vc_column_container>.vc_column-inner,.mp-47.vc_row .vc_column_container>.vc_column-inner{
    padding-left:23.5px;
    padding-right:23.5px; }

.mp-48 .bwp-widget-banner{
  margin-bottom:48px; }

.mp-48 .vc_row,.mp-48.vc_row{
  margin-left:-24px;
  margin-right:-24px; }
  .mp-48 .vc_row .vc_column_container>.vc_column-inner,.mp-48.vc_row .vc_column_container>.vc_column-inner{
    padding-left:24px;
    padding-right:24px; }

.mp-49 .bwp-widget-banner{
  margin-bottom:49px; }

.mp-49 .vc_row,.mp-49.vc_row{
  margin-left:-24.5px;
  margin-right:-24.5px; }
  .mp-49 .vc_row .vc_column_container>.vc_column-inner,.mp-49.vc_row .vc_column_container>.vc_column-inner{
    padding-left:24.5px;
    padding-right:24.5px; }

.mp-50 .bwp-widget-banner{
  margin-bottom:50px; }

.mp-50 .vc_row,.mp-50.vc_row{
  margin-left:-25px;
  margin-right:-25px; }
  .mp-50 .vc_row .vc_column_container>.vc_column-inner,.mp-50.vc_row .vc_column_container>.vc_column-inner{
    padding-left:25px;
    padding-right:25px; }

.mp-51 .bwp-widget-banner{
  margin-bottom:51px; }

.mp-51 .vc_row,.mp-51.vc_row{
  margin-left:-25.5px;
  margin-right:-25.5px; }
  .mp-51 .vc_row .vc_column_container>.vc_column-inner,.mp-51.vc_row .vc_column_container>.vc_column-inner{
    padding-left:25.5px;
    padding-right:25.5px; }

.mp-52 .bwp-widget-banner{
  margin-bottom:52px; }

.mp-52 .vc_row,.mp-52.vc_row{
  margin-left:-26px;
  margin-right:-26px; }
  .mp-52 .vc_row .vc_column_container>.vc_column-inner,.mp-52.vc_row .vc_column_container>.vc_column-inner{
    padding-left:26px;
    padding-right:26px; }

.mp-53 .bwp-widget-banner{
  margin-bottom:53px; }

.mp-53 .vc_row,.mp-53.vc_row{
  margin-left:-26.5px;
  margin-right:-26.5px; }
  .mp-53 .vc_row .vc_column_container>.vc_column-inner,.mp-53.vc_row .vc_column_container>.vc_column-inner{
    padding-left:26.5px;
    padding-right:26.5px; }

.mp-54 .bwp-widget-banner{
  margin-bottom:54px; }

.mp-54 .vc_row,.mp-54.vc_row{
  margin-left:-27px;
  margin-right:-27px; }
  .mp-54 .vc_row .vc_column_container>.vc_column-inner,.mp-54.vc_row .vc_column_container>.vc_column-inner{
    padding-left:27px;
    padding-right:27px; }

.mp-55 .bwp-widget-banner{
  margin-bottom:55px; }

.mp-55 .vc_row,.mp-55.vc_row{
  margin-left:-27.5px;
  margin-right:-27.5px; }
  .mp-55 .vc_row .vc_column_container>.vc_column-inner,.mp-55.vc_row .vc_column_container>.vc_column-inner{
    padding-left:27.5px;
    padding-right:27.5px; }

.mp-56 .bwp-widget-banner{
  margin-bottom:56px; }

.mp-56 .vc_row,.mp-56.vc_row{
  margin-left:-28px;
  margin-right:-28px; }
  .mp-56 .vc_row .vc_column_container>.vc_column-inner,.mp-56.vc_row .vc_column_container>.vc_column-inner{
    padding-left:28px;
    padding-right:28px; }

.mp-57 .bwp-widget-banner{
  margin-bottom:57px; }

.mp-57 .vc_row,.mp-57.vc_row{
  margin-left:-28.5px;
  margin-right:-28.5px; }
  .mp-57 .vc_row .vc_column_container>.vc_column-inner,.mp-57.vc_row .vc_column_container>.vc_column-inner{
    padding-left:28.5px;
    padding-right:28.5px; }

.mp-58 .bwp-widget-banner{
  margin-bottom:58px; }

.mp-58 .vc_row,.mp-58.vc_row{
  margin-left:-29px;
  margin-right:-29px; }
  .mp-58 .vc_row .vc_column_container>.vc_column-inner,.mp-58.vc_row .vc_column_container>.vc_column-inner{
    padding-left:29px;
    padding-right:29px; }

.mp-59 .bwp-widget-banner{
  margin-bottom:59px; }

.mp-59 .vc_row,.mp-59.vc_row{
  margin-left:-29.5px;
  margin-right:-29.5px; }
  .mp-59 .vc_row .vc_column_container>.vc_column-inner,.mp-59.vc_row .vc_column_container>.vc_column-inner{
    padding-left:29.5px;
    padding-right:29.5px; }

.mp-60 .bwp-widget-banner{
  margin-bottom:60px; }

.mp-60 .vc_row,.mp-60.vc_row{
  margin-left:-30px;
  margin-right:-30px; }
  .mp-60 .vc_row .vc_column_container>.vc_column-inner,.mp-60.vc_row .vc_column_container>.vc_column-inner{
    padding-left:30px;
    padding-right:30px; }

.mp-61 .bwp-widget-banner{
  margin-bottom:61px; }

.mp-61 .vc_row,.mp-61.vc_row{
  margin-left:-30.5px;
  margin-right:-30.5px; }
  .mp-61 .vc_row .vc_column_container>.vc_column-inner,.mp-61.vc_row .vc_column_container>.vc_column-inner{
    padding-left:30.5px;
    padding-right:30.5px; }

.mp-62 .bwp-widget-banner{
  margin-bottom:62px; }

.mp-62 .vc_row,.mp-62.vc_row{
  margin-left:-31px;
  margin-right:-31px; }
  .mp-62 .vc_row .vc_column_container>.vc_column-inner,.mp-62.vc_row .vc_column_container>.vc_column-inner{
    padding-left:31px;
    padding-right:31px; }

.mp-63 .bwp-widget-banner{
  margin-bottom:63px; }

.mp-63 .vc_row,.mp-63.vc_row{
  margin-left:-31.5px;
  margin-right:-31.5px; }
  .mp-63 .vc_row .vc_column_container>.vc_column-inner,.mp-63.vc_row .vc_column_container>.vc_column-inner{
    padding-left:31.5px;
    padding-right:31.5px; }

.mp-64 .bwp-widget-banner{
  margin-bottom:64px; }

.mp-64 .vc_row,.mp-64.vc_row{
  margin-left:-32px;
  margin-right:-32px; }
  .mp-64 .vc_row .vc_column_container>.vc_column-inner,.mp-64.vc_row .vc_column_container>.vc_column-inner{
    padding-left:32px;
    padding-right:32px; }

.mp-65 .bwp-widget-banner{
  margin-bottom:65px; }

.mp-65 .vc_row,.mp-65.vc_row{
  margin-left:-32.5px;
  margin-right:-32.5px; }
  .mp-65 .vc_row .vc_column_container>.vc_column-inner,.mp-65.vc_row .vc_column_container>.vc_column-inner{
    padding-left:32.5px;
    padding-right:32.5px; }

.mp-66 .bwp-widget-banner{
  margin-bottom:66px; }

.mp-66 .vc_row,.mp-66.vc_row{
  margin-left:-33px;
  margin-right:-33px; }
  .mp-66 .vc_row .vc_column_container>.vc_column-inner,.mp-66.vc_row .vc_column_container>.vc_column-inner{
    padding-left:33px;
    padding-right:33px; }

.mp-67 .bwp-widget-banner{
  margin-bottom:67px; }

.mp-67 .vc_row,.mp-67.vc_row{
  margin-left:-33.5px;
  margin-right:-33.5px; }
  .mp-67 .vc_row .vc_column_container>.vc_column-inner,.mp-67.vc_row .vc_column_container>.vc_column-inner{
    padding-left:33.5px;
    padding-right:33.5px; }

.mp-68 .bwp-widget-banner{
  margin-bottom:68px; }

.mp-68 .vc_row,.mp-68.vc_row{
  margin-left:-34px;
  margin-right:-34px; }
  .mp-68 .vc_row .vc_column_container>.vc_column-inner,.mp-68.vc_row .vc_column_container>.vc_column-inner{
    padding-left:34px;
    padding-right:34px; }

.mp-69 .bwp-widget-banner{
  margin-bottom:69px; }

.mp-69 .vc_row,.mp-69.vc_row{
  margin-left:-34.5px;
  margin-right:-34.5px; }
  .mp-69 .vc_row .vc_column_container>.vc_column-inner,.mp-69.vc_row .vc_column_container>.vc_column-inner{
    padding-left:34.5px;
    padding-right:34.5px; }

.mp-70 .bwp-widget-banner{
  margin-bottom:70px; }

.mp-70 .vc_row,.mp-70.vc_row{
  margin-left:-35px;
  margin-right:-35px; }
  .mp-70 .vc_row .vc_column_container>.vc_column-inner,.mp-70.vc_row .vc_column_container>.vc_column-inner{
    padding-left:35px;
    padding-right:35px; }

.mp-71 .bwp-widget-banner{
  margin-bottom:71px; }

.mp-71 .vc_row,.mp-71.vc_row{
  margin-left:-35.5px;
  margin-right:-35.5px; }
  .mp-71 .vc_row .vc_column_container>.vc_column-inner,.mp-71.vc_row .vc_column_container>.vc_column-inner{
    padding-left:35.5px;
    padding-right:35.5px; }

.mp-72 .bwp-widget-banner{
  margin-bottom:72px; }

.mp-72 .vc_row,.mp-72.vc_row{
  margin-left:-36px;
  margin-right:-36px; }
  .mp-72 .vc_row .vc_column_container>.vc_column-inner,.mp-72.vc_row .vc_column_container>.vc_column-inner{
    padding-left:36px;
    padding-right:36px; }

.mp-73 .bwp-widget-banner{
  margin-bottom:73px; }

.mp-73 .vc_row,.mp-73.vc_row{
  margin-left:-36.5px;
  margin-right:-36.5px; }
  .mp-73 .vc_row .vc_column_container>.vc_column-inner,.mp-73.vc_row .vc_column_container>.vc_column-inner{
    padding-left:36.5px;
    padding-right:36.5px; }

.mp-74 .bwp-widget-banner{
  margin-bottom:74px; }

.mp-74 .vc_row,.mp-74.vc_row{
  margin-left:-37px;
  margin-right:-37px; }
  .mp-74 .vc_row .vc_column_container>.vc_column-inner,.mp-74.vc_row .vc_column_container>.vc_column-inner{
    padding-left:37px;
    padding-right:37px; }

.mp-75 .bwp-widget-banner{
  margin-bottom:75px; }

.mp-75 .vc_row,.mp-75.vc_row{
  margin-left:-37.5px;
  margin-right:-37.5px; }
  .mp-75 .vc_row .vc_column_container>.vc_column-inner,.mp-75.vc_row .vc_column_container>.vc_column-inner{
    padding-left:37.5px;
    padding-right:37.5px; }

.mp-76 .bwp-widget-banner{
  margin-bottom:76px; }

.mp-76 .vc_row,.mp-76.vc_row{
  margin-left:-38px;
  margin-right:-38px; }
  .mp-76 .vc_row .vc_column_container>.vc_column-inner,.mp-76.vc_row .vc_column_container>.vc_column-inner{
    padding-left:38px;
    padding-right:38px; }

.mp-77 .bwp-widget-banner{
  margin-bottom:77px; }

.mp-77 .vc_row,.mp-77.vc_row{
  margin-left:-38.5px;
  margin-right:-38.5px; }
  .mp-77 .vc_row .vc_column_container>.vc_column-inner,.mp-77.vc_row .vc_column_container>.vc_column-inner{
    padding-left:38.5px;
    padding-right:38.5px; }

.mp-78 .bwp-widget-banner{
  margin-bottom:78px; }

.mp-78 .vc_row,.mp-78.vc_row{
  margin-left:-39px;
  margin-right:-39px; }
  .mp-78 .vc_row .vc_column_container>.vc_column-inner,.mp-78.vc_row .vc_column_container>.vc_column-inner{
    padding-left:39px;
    padding-right:39px; }

.mp-79 .bwp-widget-banner{
  margin-bottom:79px; }

.mp-79 .vc_row,.mp-79.vc_row{
  margin-left:-39.5px;
  margin-right:-39.5px; }
  .mp-79 .vc_row .vc_column_container>.vc_column-inner,.mp-79.vc_row .vc_column_container>.vc_column-inner{
    padding-left:39.5px;
    padding-right:39.5px; }

.mp-80 .bwp-widget-banner{
  margin-bottom:80px; }

.mp-80 .vc_row,.mp-80.vc_row{
  margin-left:-40px;
  margin-right:-40px; }
  .mp-80 .vc_row .vc_column_container>.vc_column-inner,.mp-80.vc_row .vc_column_container>.vc_column-inner{
    padding-left:40px;
    padding-right:40px; }

.mp-81 .bwp-widget-banner{
  margin-bottom:81px; }

.mp-81 .vc_row,.mp-81.vc_row{
  margin-left:-40.5px;
  margin-right:-40.5px; }
  .mp-81 .vc_row .vc_column_container>.vc_column-inner,.mp-81.vc_row .vc_column_container>.vc_column-inner{
    padding-left:40.5px;
    padding-right:40.5px; }

.mp-82 .bwp-widget-banner{
  margin-bottom:82px; }

.mp-82 .vc_row,.mp-82.vc_row{
  margin-left:-41px;
  margin-right:-41px; }
  .mp-82 .vc_row .vc_column_container>.vc_column-inner,.mp-82.vc_row .vc_column_container>.vc_column-inner{
    padding-left:41px;
    padding-right:41px; }

.mp-83 .bwp-widget-banner{
  margin-bottom:83px; }

.mp-83 .vc_row,.mp-83.vc_row{
  margin-left:-41.5px;
  margin-right:-41.5px; }
  .mp-83 .vc_row .vc_column_container>.vc_column-inner,.mp-83.vc_row .vc_column_container>.vc_column-inner{
    padding-left:41.5px;
    padding-right:41.5px; }

.mp-84 .bwp-widget-banner{
  margin-bottom:84px; }

.mp-84 .vc_row,.mp-84.vc_row{
  margin-left:-42px;
  margin-right:-42px; }
  .mp-84 .vc_row .vc_column_container>.vc_column-inner,.mp-84.vc_row .vc_column_container>.vc_column-inner{
    padding-left:42px;
    padding-right:42px; }

.mp-85 .bwp-widget-banner{
  margin-bottom:85px; }

.mp-85 .vc_row,.mp-85.vc_row{
  margin-left:-42.5px;
  margin-right:-42.5px; }
  .mp-85 .vc_row .vc_column_container>.vc_column-inner,.mp-85.vc_row .vc_column_container>.vc_column-inner{
    padding-left:42.5px;
    padding-right:42.5px; }

.mp-86 .bwp-widget-banner{
  margin-bottom:86px; }

.mp-86 .vc_row,.mp-86.vc_row{
  margin-left:-43px;
  margin-right:-43px; }
  .mp-86 .vc_row .vc_column_container>.vc_column-inner,.mp-86.vc_row .vc_column_container>.vc_column-inner{
    padding-left:43px;
    padding-right:43px; }

.mp-87 .bwp-widget-banner{
  margin-bottom:87px; }

.mp-87 .vc_row,.mp-87.vc_row{
  margin-left:-43.5px;
  margin-right:-43.5px; }
  .mp-87 .vc_row .vc_column_container>.vc_column-inner,.mp-87.vc_row .vc_column_container>.vc_column-inner{
    padding-left:43.5px;
    padding-right:43.5px; }

.mp-88 .bwp-widget-banner{
  margin-bottom:88px; }

.mp-88 .vc_row,.mp-88.vc_row{
  margin-left:-44px;
  margin-right:-44px; }
  .mp-88 .vc_row .vc_column_container>.vc_column-inner,.mp-88.vc_row .vc_column_container>.vc_column-inner{
    padding-left:44px;
    padding-right:44px; }

.mp-89 .bwp-widget-banner{
  margin-bottom:89px; }

.mp-89 .vc_row,.mp-89.vc_row{
  margin-left:-44.5px;
  margin-right:-44.5px; }
  .mp-89 .vc_row .vc_column_container>.vc_column-inner,.mp-89.vc_row .vc_column_container>.vc_column-inner{
    padding-left:44.5px;
    padding-right:44.5px; }

.mp-90 .bwp-widget-banner{
  margin-bottom:90px; }

.mp-90 .vc_row,.mp-90.vc_row{
  margin-left:-45px;
  margin-right:-45px; }
  .mp-90 .vc_row .vc_column_container>.vc_column-inner,.mp-90.vc_row .vc_column_container>.vc_column-inner{
    padding-left:45px;
    padding-right:45px; }

.mp-91 .bwp-widget-banner{
  margin-bottom:91px; }

.mp-91 .vc_row,.mp-91.vc_row{
  margin-left:-45.5px;
  margin-right:-45.5px; }
  .mp-91 .vc_row .vc_column_container>.vc_column-inner,.mp-91.vc_row .vc_column_container>.vc_column-inner{
    padding-left:45.5px;
    padding-right:45.5px; }

.mp-92 .bwp-widget-banner{
  margin-bottom:92px; }

.mp-92 .vc_row,.mp-92.vc_row{
  margin-left:-46px;
  margin-right:-46px; }
  .mp-92 .vc_row .vc_column_container>.vc_column-inner,.mp-92.vc_row .vc_column_container>.vc_column-inner{
    padding-left:46px;
    padding-right:46px; }

.mp-93 .bwp-widget-banner{
  margin-bottom:93px; }

.mp-93 .vc_row,.mp-93.vc_row{
  margin-left:-46.5px;
  margin-right:-46.5px; }
  .mp-93 .vc_row .vc_column_container>.vc_column-inner,.mp-93.vc_row .vc_column_container>.vc_column-inner{
    padding-left:46.5px;
    padding-right:46.5px; }

.mp-94 .bwp-widget-banner{
  margin-bottom:94px; }

.mp-94 .vc_row,.mp-94.vc_row{
  margin-left:-47px;
  margin-right:-47px; }
  .mp-94 .vc_row .vc_column_container>.vc_column-inner,.mp-94.vc_row .vc_column_container>.vc_column-inner{
    padding-left:47px;
    padding-right:47px; }

.mp-95 .bwp-widget-banner{
  margin-bottom:95px; }

.mp-95 .vc_row,.mp-95.vc_row{
  margin-left:-47.5px;
  margin-right:-47.5px; }
  .mp-95 .vc_row .vc_column_container>.vc_column-inner,.mp-95.vc_row .vc_column_container>.vc_column-inner{
    padding-left:47.5px;
    padding-right:47.5px; }

.mp-96 .bwp-widget-banner{
  margin-bottom:96px; }

.mp-96 .vc_row,.mp-96.vc_row{
  margin-left:-48px;
  margin-right:-48px; }
  .mp-96 .vc_row .vc_column_container>.vc_column-inner,.mp-96.vc_row .vc_column_container>.vc_column-inner{
    padding-left:48px;
    padding-right:48px; }

.mp-97 .bwp-widget-banner{
  margin-bottom:97px; }

.mp-97 .vc_row,.mp-97.vc_row{
  margin-left:-48.5px;
  margin-right:-48.5px; }
  .mp-97 .vc_row .vc_column_container>.vc_column-inner,.mp-97.vc_row .vc_column_container>.vc_column-inner{
    padding-left:48.5px;
    padding-right:48.5px; }

.mp-98 .bwp-widget-banner{
  margin-bottom:98px; }

.mp-98 .vc_row,.mp-98.vc_row{
  margin-left:-49px;
  margin-right:-49px; }
  .mp-98 .vc_row .vc_column_container>.vc_column-inner,.mp-98.vc_row .vc_column_container>.vc_column-inner{
    padding-left:49px;
    padding-right:49px; }

.mp-99 .bwp-widget-banner{
  margin-bottom:99px; }

.mp-99 .vc_row,.mp-99.vc_row{
  margin-left:-49.5px;
  margin-right:-49.5px; }
  .mp-99 .vc_row .vc_column_container>.vc_column-inner,.mp-99.vc_row .vc_column_container>.vc_column-inner{
    padding-left:49.5px;
    padding-right:49.5px; }

.mp-100 .bwp-widget-banner{
  margin-bottom:100px; }

.mp-100 .vc_row,.mp-100.vc_row{
  margin-left:-50px;
  margin-right:-50px; }
  .mp-100 .vc_row .vc_column_container>.vc_column-inner,.mp-100.vc_row .vc_column_container>.vc_column-inner{
    padding-left:50px;
    padding-right:50px; }
.margin-top-1{
  margin-top:1px !important; }

.margin-left-1{
  margin-left:1px !important; }

.margin-bottom-1{
  margin-bottom:1px !important; }

.margin-right-1{
  margin-right:1px !important; }

.margin-top-2{
  margin-top:2px !important; }

.margin-left-2{
  margin-left:2px !important; }

.margin-bottom-2{
  margin-bottom:2px !important; }

.margin-right-2{
  margin-right:2px !important; }

.margin-top-3{
  margin-top:3px !important; }

.margin-left-3{
  margin-left:3px !important; }

.margin-bottom-3{
  margin-bottom:3px !important; }

.margin-right-3{
  margin-right:3px !important; }

.margin-top-4{
  margin-top:4px !important; }

.margin-left-4{
  margin-left:4px !important; }

.margin-bottom-4{
  margin-bottom:4px !important; }

.margin-right-4{
  margin-right:4px !important; }

.margin-top-5{
  margin-top:5px !important; }

.margin-left-5{
  margin-left:5px !important; }

.margin-bottom-5{
  margin-bottom:5px !important; }

.margin-right-5{
  margin-right:5px !important; }

.margin-top-6{
  margin-top:6px !important; }

.margin-left-6{
  margin-left:6px !important; }

.margin-bottom-6{
  margin-bottom:6px !important; }

.margin-right-6{
  margin-right:6px !important; }

.margin-top-7{
  margin-top:7px !important; }

.margin-left-7{
  margin-left:7px !important; }

.margin-bottom-7{
  margin-bottom:7px !important; }

.margin-right-7{
  margin-right:7px !important; }

.margin-top-8{
  margin-top:8px !important; }

.margin-left-8{
  margin-left:8px !important; }

.margin-bottom-8{
  margin-bottom:8px !important; }

.margin-right-8{
  margin-right:8px !important; }

.margin-top-9{
  margin-top:9px !important; }

.margin-left-9{
  margin-left:9px !important; }

.margin-bottom-9{
  margin-bottom:9px !important; }

.margin-right-9{
  margin-right:9px !important; }

.margin-top-10{
  margin-top:10px !important; }

.margin-left-10{
  margin-left:10px !important; }

.margin-bottom-10{
  margin-bottom:10px !important; }

.margin-right-10{
  margin-right:10px !important; }

.margin-top-11{
  margin-top:11px !important; }

.margin-left-11{
  margin-left:11px !important; }

.margin-bottom-11{
  margin-bottom:11px !important; }

.margin-right-11{
  margin-right:11px !important; }

.margin-top-12{
  margin-top:12px !important; }

.margin-left-12{
  margin-left:12px !important; }

.margin-bottom-12{
  margin-bottom:12px !important; }

.margin-right-12{
  margin-right:12px !important; }

.margin-top-13{
  margin-top:13px !important; }

.margin-left-13{
  margin-left:13px !important; }

.margin-bottom-13{
  margin-bottom:13px !important; }

.margin-right-13{
  margin-right:13px !important; }

.margin-top-14{
  margin-top:14px !important; }

.margin-left-14{
  margin-left:14px !important; }

.margin-bottom-14{
  margin-bottom:14px !important; }

.margin-right-14{
  margin-right:14px !important; }

.margin-top-15{
  margin-top:15px !important; }

.margin-left-15{
  margin-left:15px !important; }

.margin-bottom-15{
  margin-bottom:15px !important; }

.margin-right-15{
  margin-right:15px !important; }

.margin-top-16{
  margin-top:16px !important; }

.margin-left-16{
  margin-left:16px !important; }

.margin-bottom-16{
  margin-bottom:16px !important; }

.margin-right-16{
  margin-right:16px !important; }

.margin-top-17{
  margin-top:17px !important; }

.margin-left-17{
  margin-left:17px !important; }

.margin-bottom-17{
  margin-bottom:17px !important; }

.margin-right-17{
  margin-right:17px !important; }

.margin-top-18{
  margin-top:18px !important; }

.margin-left-18{
  margin-left:18px !important; }

.margin-bottom-18{
  margin-bottom:18px !important; }

.margin-right-18{
  margin-right:18px !important; }

.margin-top-19{
  margin-top:19px !important; }

.margin-left-19{
  margin-left:19px !important; }

.margin-bottom-19{
  margin-bottom:19px !important; }

.margin-right-19{
  margin-right:19px !important; }

.margin-top-20{
  margin-top:20px !important; }

.margin-left-20{
  margin-left:20px !important; }

.margin-bottom-20{
  margin-bottom:20px !important; }

.margin-right-20{
  margin-right:20px !important; }

.margin-top-21{
  margin-top:21px !important; }

.margin-left-21{
  margin-left:21px !important; }

.margin-bottom-21{
  margin-bottom:21px !important; }

.margin-right-21{
  margin-right:21px !important; }

.margin-top-22{
  margin-top:22px !important; }

.margin-left-22{
  margin-left:22px !important; }

.margin-bottom-22{
  margin-bottom:22px !important; }

.margin-right-22{
  margin-right:22px !important; }

.margin-top-23{
  margin-top:23px !important; }

.margin-left-23{
  margin-left:23px !important; }

.margin-bottom-23{
  margin-bottom:23px !important; }

.margin-right-23{
  margin-right:23px !important; }

.margin-top-24{
  margin-top:24px !important; }

.margin-left-24{
  margin-left:24px !important; }

.margin-bottom-24{
  margin-bottom:24px !important; }

.margin-right-24{
  margin-right:24px !important; }

.margin-top-25{
  margin-top:25px !important; }

.margin-left-25{
  margin-left:25px !important; }

.margin-bottom-25{
  margin-bottom:25px !important; }

.margin-right-25{
  margin-right:25px !important; }

.margin-top-26{
  margin-top:26px !important; }

.margin-left-26{
  margin-left:26px !important; }

.margin-bottom-26{
  margin-bottom:26px !important; }

.margin-right-26{
  margin-right:26px !important; }

.margin-top-27{
  margin-top:27px !important; }

.margin-left-27{
  margin-left:27px !important; }

.margin-bottom-27{
  margin-bottom:27px !important; }

.margin-right-27{
  margin-right:27px !important; }

.margin-top-28{
  margin-top:28px !important; }

.margin-left-28{
  margin-left:28px !important; }

.margin-bottom-28{
  margin-bottom:28px !important; }

.margin-right-28{
  margin-right:28px !important; }

.margin-top-29{
  margin-top:29px !important; }

.margin-left-29{
  margin-left:29px !important; }

.margin-bottom-29{
  margin-bottom:29px !important; }

.margin-right-29{
  margin-right:29px !important; }

.margin-top-30{
  margin-top:30px !important; }

.margin-left-30{
  margin-left:30px !important; }

.margin-bottom-30{
  margin-bottom:30px !important; }

.margin-right-30{
  margin-right:30px !important; }

.margin-top-31{
  margin-top:31px !important; }

.margin-left-31{
  margin-left:31px !important; }

.margin-bottom-31{
  margin-bottom:31px !important; }

.margin-right-31{
  margin-right:31px !important; }

.margin-top-32{
  margin-top:32px !important; }

.margin-left-32{
  margin-left:32px !important; }

.margin-bottom-32{
  margin-bottom:32px !important; }

.margin-right-32{
  margin-right:32px !important; }

.margin-top-33{
  margin-top:33px !important; }

.margin-left-33{
  margin-left:33px !important; }

.margin-bottom-33{
  margin-bottom:33px !important; }

.margin-right-33{
  margin-right:33px !important; }

.margin-top-34{
  margin-top:34px !important; }

.margin-left-34{
  margin-left:34px !important; }

.margin-bottom-34{
  margin-bottom:34px !important; }

.margin-right-34{
  margin-right:34px !important; }

.margin-top-35{
  margin-top:35px !important; }

.margin-left-35{
  margin-left:35px !important; }

.margin-bottom-35{
  margin-bottom:35px !important; }

.margin-right-35{
  margin-right:35px !important; }

.margin-top-36{
  margin-top:36px !important; }

.margin-left-36{
  margin-left:36px !important; }

.margin-bottom-36{
  margin-bottom:36px !important; }

.margin-right-36{
  margin-right:36px !important; }

.margin-top-37{
  margin-top:37px !important; }

.margin-left-37{
  margin-left:37px !important; }

.margin-bottom-37{
  margin-bottom:37px !important; }

.margin-right-37{
  margin-right:37px !important; }

.margin-top-38{
  margin-top:38px !important; }

.margin-left-38{
  margin-left:38px !important; }

.margin-bottom-38{
  margin-bottom:38px !important; }

.margin-right-38{
  margin-right:38px !important; }

.margin-top-39{
  margin-top:39px !important; }

.margin-left-39{
  margin-left:39px !important; }

.margin-bottom-39{
  margin-bottom:39px !important; }

.margin-right-39{
  margin-right:39px !important; }

.margin-top-40{
  margin-top:40px !important; }

.margin-left-40{
  margin-left:40px !important; }

.margin-bottom-40{
  margin-bottom:40px !important; }

.margin-right-40{
  margin-right:40px !important; }

.margin-top-41{
  margin-top:41px !important; }

.margin-left-41{
  margin-left:41px !important; }

.margin-bottom-41{
  margin-bottom:41px !important; }

.margin-right-41{
  margin-right:41px !important; }

.margin-top-42{
  margin-top:42px !important; }

.margin-left-42{
  margin-left:42px !important; }

.margin-bottom-42{
  margin-bottom:42px !important; }

.margin-right-42{
  margin-right:42px !important; }

.margin-top-43{
  margin-top:43px !important; }

.margin-left-43{
  margin-left:43px !important; }

.margin-bottom-43{
  margin-bottom:43px !important; }

.margin-right-43{
  margin-right:43px !important; }

.margin-top-44{
  margin-top:44px !important; }

.margin-left-44{
  margin-left:44px !important; }

.margin-bottom-44{
  margin-bottom:44px !important; }

.margin-right-44{
  margin-right:44px !important; }

.margin-top-45{
  margin-top:45px !important; }

.margin-left-45{
  margin-left:45px !important; }

.margin-bottom-45{
  margin-bottom:45px !important; }

.margin-right-45{
  margin-right:45px !important; }

.margin-top-46{
  margin-top:46px !important; }

.margin-left-46{
  margin-left:46px !important; }

.margin-bottom-46{
  margin-bottom:46px !important; }

.margin-right-46{
  margin-right:46px !important; }

.margin-top-47{
  margin-top:47px !important; }

.margin-left-47{
  margin-left:47px !important; }

.margin-bottom-47{
  margin-bottom:47px !important; }

.margin-right-47{
  margin-right:47px !important; }

.margin-top-48{
  margin-top:48px !important; }

.margin-left-48{
  margin-left:48px !important; }

.margin-bottom-48{
  margin-bottom:48px !important; }

.margin-right-48{
  margin-right:48px !important; }

.margin-top-49{
  margin-top:49px !important; }

.margin-left-49{
  margin-left:49px !important; }

.margin-bottom-49{
  margin-bottom:49px !important; }

.margin-right-49{
  margin-right:49px !important; }

.margin-top-50{
  margin-top:50px !important; }

.margin-left-50{
  margin-left:50px !important; }

.margin-bottom-50{
  margin-bottom:50px !important; }

.margin-right-50{
  margin-right:50px !important; }

.margin-top-51{
  margin-top:51px !important; }

.margin-left-51{
  margin-left:51px !important; }

.margin-bottom-51{
  margin-bottom:51px !important; }

.margin-right-51{
  margin-right:51px !important; }

.margin-top-52{
  margin-top:52px !important; }

.margin-left-52{
  margin-left:52px !important; }

.margin-bottom-52{
  margin-bottom:52px !important; }

.margin-right-52{
  margin-right:52px !important; }

.margin-top-53{
  margin-top:53px !important; }

.margin-left-53{
  margin-left:53px !important; }

.margin-bottom-53{
  margin-bottom:53px !important; }

.margin-right-53{
  margin-right:53px !important; }

.margin-top-54{
  margin-top:54px !important; }

.margin-left-54{
  margin-left:54px !important; }

.margin-bottom-54{
  margin-bottom:54px !important; }

.margin-right-54{
  margin-right:54px !important; }

.margin-top-55{
  margin-top:55px !important; }

.margin-left-55{
  margin-left:55px !important; }

.margin-bottom-55{
  margin-bottom:55px !important; }

.margin-right-55{
  margin-right:55px !important; }

.margin-top-56{
  margin-top:56px !important; }

.margin-left-56{
  margin-left:56px !important; }

.margin-bottom-56{
  margin-bottom:56px !important; }

.margin-right-56{
  margin-right:56px !important; }

.margin-top-57{
  margin-top:57px !important; }

.margin-left-57{
  margin-left:57px !important; }

.margin-bottom-57{
  margin-bottom:57px !important; }

.margin-right-57{
  margin-right:57px !important; }

.margin-top-58{
  margin-top:58px !important; }

.margin-left-58{
  margin-left:58px !important; }

.margin-bottom-58{
  margin-bottom:58px !important; }

.margin-right-58{
  margin-right:58px !important; }

.margin-top-59{
  margin-top:59px !important; }

.margin-left-59{
  margin-left:59px !important; }

.margin-bottom-59{
  margin-bottom:59px !important; }

.margin-right-59{
  margin-right:59px !important; }

.margin-top-60{
  margin-top:60px !important; }

.margin-left-60{
  margin-left:60px !important; }

.margin-bottom-60{
  margin-bottom:60px !important; }

.margin-right-60{
  margin-right:60px !important; }

.margin-top-61{
  margin-top:61px !important; }

.margin-left-61{
  margin-left:61px !important; }

.margin-bottom-61{
  margin-bottom:61px !important; }

.margin-right-61{
  margin-right:61px !important; }

.margin-top-62{
  margin-top:62px !important; }

.margin-left-62{
  margin-left:62px !important; }

.margin-bottom-62{
  margin-bottom:62px !important; }

.margin-right-62{
  margin-right:62px !important; }

.margin-top-63{
  margin-top:63px !important; }

.margin-left-63{
  margin-left:63px !important; }

.margin-bottom-63{
  margin-bottom:63px !important; }

.margin-right-63{
  margin-right:63px !important; }

.margin-top-64{
  margin-top:64px !important; }

.margin-left-64{
  margin-left:64px !important; }

.margin-bottom-64{
  margin-bottom:64px !important; }

.margin-right-64{
  margin-right:64px !important; }

.margin-top-65{
  margin-top:65px !important; }

.margin-left-65{
  margin-left:65px !important; }

.margin-bottom-65{
  margin-bottom:65px !important; }

.margin-right-65{
  margin-right:65px !important; }

.margin-top-66{
  margin-top:66px !important; }

.margin-left-66{
  margin-left:66px !important; }

.margin-bottom-66{
  margin-bottom:66px !important; }

.margin-right-66{
  margin-right:66px !important; }

.margin-top-67{
  margin-top:67px !important; }

.margin-left-67{
  margin-left:67px !important; }

.margin-bottom-67{
  margin-bottom:67px !important; }

.margin-right-67{
  margin-right:67px !important; }

.margin-top-68{
  margin-top:68px !important; }

.margin-left-68{
  margin-left:68px !important; }

.margin-bottom-68{
  margin-bottom:68px !important; }

.margin-right-68{
  margin-right:68px !important; }

.margin-top-69{
  margin-top:69px !important; }

.margin-left-69{
  margin-left:69px !important; }

.margin-bottom-69{
  margin-bottom:69px !important; }

.margin-right-69{
  margin-right:69px !important; }

.margin-top-70{
  margin-top:70px !important; }

.margin-left-70{
  margin-left:70px !important; }

.margin-bottom-70{
  margin-bottom:70px !important; }

.margin-right-70{
  margin-right:70px !important; }

.margin-top-71{
  margin-top:71px !important; }

.margin-left-71{
  margin-left:71px !important; }

.margin-bottom-71{
  margin-bottom:71px !important; }

.margin-right-71{
  margin-right:71px !important; }

.margin-top-72{
  margin-top:72px !important; }

.margin-left-72{
  margin-left:72px !important; }

.margin-bottom-72{
  margin-bottom:72px !important; }

.margin-right-72{
  margin-right:72px !important; }

.margin-top-73{
  margin-top:73px !important; }

.margin-left-73{
  margin-left:73px !important; }

.margin-bottom-73{
  margin-bottom:73px !important; }

.margin-right-73{
  margin-right:73px !important; }

.margin-top-74{
  margin-top:74px !important; }

.margin-left-74{
  margin-left:74px !important; }

.margin-bottom-74{
  margin-bottom:74px !important; }

.margin-right-74{
  margin-right:74px !important; }

.margin-top-75{
  margin-top:75px !important; }

.margin-left-75{
  margin-left:75px !important; }

.margin-bottom-75{
  margin-bottom:75px !important; }

.margin-right-75{
  margin-right:75px !important; }

.margin-top-76{
  margin-top:76px !important; }

.margin-left-76{
  margin-left:76px !important; }

.margin-bottom-76{
  margin-bottom:76px !important; }

.margin-right-76{
  margin-right:76px !important; }

.margin-top-77{
  margin-top:77px !important; }

.margin-left-77{
  margin-left:77px !important; }

.margin-bottom-77{
  margin-bottom:77px !important; }

.margin-right-77{
  margin-right:77px !important; }

.margin-top-78{
  margin-top:78px !important; }

.margin-left-78{
  margin-left:78px !important; }

.margin-bottom-78{
  margin-bottom:78px !important; }

.margin-right-78{
  margin-right:78px !important; }

.margin-top-79{
  margin-top:79px !important; }

.margin-left-79{
  margin-left:79px !important; }

.margin-bottom-79{
  margin-bottom:79px !important; }

.margin-right-79{
  margin-right:79px !important; }

.margin-top-80{
  margin-top:80px !important; }

.margin-left-80{
  margin-left:80px !important; }

.margin-bottom-80{
  margin-bottom:80px !important; }

.margin-right-80{
  margin-right:80px !important; }

.padding-top-1{
  padding-top:1px !important; }

.padding-left-1{
  padding-left:1px !important; }

.padding-bottom-1{
  padding-bottom:1px !important; }

.padding-right-1{
  padding-right:1px !important; }

.padding-top-2{
  padding-top:2px !important; }

.padding-left-2{
  padding-left:2px !important; }

.padding-bottom-2{
  padding-bottom:2px !important; }

.padding-right-2{
  padding-right:2px !important; }

.padding-top-3{
  padding-top:3px !important; }

.padding-left-3{
  padding-left:3px !important; }

.padding-bottom-3{
  padding-bottom:3px !important; }

.padding-right-3{
  padding-right:3px !important; }

.padding-top-4{
  padding-top:4px !important; }

.padding-left-4{
  padding-left:4px !important; }

.padding-bottom-4{
  padding-bottom:4px !important; }

.padding-right-4{
  padding-right:4px !important; }

.padding-top-5{
  padding-top:5px !important; }

.padding-left-5{
  padding-left:5px !important; }

.padding-bottom-5{
  padding-bottom:5px !important; }

.padding-right-5{
  padding-right:5px !important; }

.padding-top-6{
  padding-top:6px !important; }

.padding-left-6{
  padding-left:6px !important; }

.padding-bottom-6{
  padding-bottom:6px !important; }

.padding-right-6{
  padding-right:6px !important; }

.padding-top-7{
  padding-top:7px !important; }

.padding-left-7{
  padding-left:7px !important; }

.padding-bottom-7{
  padding-bottom:7px !important; }

.padding-right-7{
  padding-right:7px !important; }

.padding-top-8{
  padding-top:8px !important; }

.padding-left-8{
  padding-left:8px !important; }

.padding-bottom-8{
  padding-bottom:8px !important; }

.padding-right-8{
  padding-right:8px !important; }

.padding-top-9{
  padding-top:9px !important; }

.padding-left-9{
  padding-left:9px !important; }

.padding-bottom-9{
  padding-bottom:9px !important; }

.padding-right-9{
  padding-right:9px !important; }

.padding-top-10{
  padding-top:10px !important; }

.padding-left-10{
  padding-left:10px !important; }

.padding-bottom-10{
  padding-bottom:10px !important; }

.padding-right-10{
  padding-right:10px !important; }

.padding-top-11{
  padding-top:11px !important; }

.padding-left-11{
  padding-left:11px !important; }

.padding-bottom-11{
  padding-bottom:11px !important; }

.padding-right-11{
  padding-right:11px !important; }

.padding-top-12{
  padding-top:12px !important; }

.padding-left-12{
  padding-left:12px !important; }

.padding-bottom-12{
  padding-bottom:12px !important; }

.padding-right-12{
  padding-right:12px !important; }

.padding-top-13{
  padding-top:13px !important; }

.padding-left-13{
  padding-left:13px !important; }

.padding-bottom-13{
  padding-bottom:13px !important; }

.padding-right-13{
  padding-right:13px !important; }

.padding-top-14{
  padding-top:14px !important; }

.padding-left-14{
  padding-left:14px !important; }

.padding-bottom-14{
  padding-bottom:14px !important; }

.padding-right-14{
  padding-right:14px !important; }

.padding-top-15{
  padding-top:15px !important; }

.padding-left-15{
  padding-left:15px !important; }

.padding-bottom-15{
  padding-bottom:15px !important; }

.padding-right-15{
  padding-right:15px !important; }

.padding-top-16{
  padding-top:16px !important; }

.padding-left-16{
  padding-left:16px !important; }

.padding-bottom-16{
  padding-bottom:16px !important; }

.padding-right-16{
  padding-right:16px !important; }

.padding-top-17{
  padding-top:17px !important; }

.padding-left-17{
  padding-left:17px !important; }

.padding-bottom-17{
  padding-bottom:17px !important; }

.padding-right-17{
  padding-right:17px !important; }

.padding-top-18{
  padding-top:18px !important; }

.padding-left-18{
  padding-left:18px !important; }

.padding-bottom-18{
  padding-bottom:18px !important; }

.padding-right-18{
  padding-right:18px !important; }

.padding-top-19{
  padding-top:19px !important; }

.padding-left-19{
  padding-left:19px !important; }

.padding-bottom-19{
  padding-bottom:19px !important; }

.padding-right-19{
  padding-right:19px !important; }

.padding-top-20{
  padding-top:20px !important; }

.padding-left-20{
  padding-left:20px !important; }

.padding-bottom-20{
  padding-bottom:20px !important; }

.padding-right-20{
  padding-right:20px !important; }

.padding-top-21{
  padding-top:21px !important; }

.padding-left-21{
  padding-left:21px !important; }

.padding-bottom-21{
  padding-bottom:21px !important; }

.padding-right-21{
  padding-right:21px !important; }

.padding-top-22{
  padding-top:22px !important; }

.padding-left-22{
  padding-left:22px !important; }

.padding-bottom-22{
  padding-bottom:22px !important; }

.padding-right-22{
  padding-right:22px !important; }

.padding-top-23{
  padding-top:23px !important; }

.padding-left-23{
  padding-left:23px !important; }

.padding-bottom-23{
  padding-bottom:23px !important; }

.padding-right-23{
  padding-right:23px !important; }

.padding-top-24{
  padding-top:24px !important; }

.padding-left-24{
  padding-left:24px !important; }

.padding-bottom-24{
  padding-bottom:24px !important; }

.padding-right-24{
  padding-right:24px !important; }

.padding-top-25{
  padding-top:25px !important; }

.padding-left-25{
  padding-left:25px !important; }

.padding-bottom-25{
  padding-bottom:25px !important; }

.padding-right-25{
  padding-right:25px !important; }

.padding-top-26{
  padding-top:26px !important; }

.padding-left-26{
  padding-left:26px !important; }

.padding-bottom-26{
  padding-bottom:26px !important; }

.padding-right-26{
  padding-right:26px !important; }

.padding-top-27{
  padding-top:27px !important; }

.padding-left-27{
  padding-left:27px !important; }

.padding-bottom-27{
  padding-bottom:27px !important; }

.padding-right-27{
  padding-right:27px !important; }

.padding-top-28{
  padding-top:28px !important; }

.padding-left-28{
  padding-left:28px !important; }

.padding-bottom-28{
  padding-bottom:28px !important; }

.padding-right-28{
  padding-right:28px !important; }

.padding-top-29{
  padding-top:29px !important; }

.padding-left-29{
  padding-left:29px !important; }

.padding-bottom-29{
  padding-bottom:29px !important; }

.padding-right-29{
  padding-right:29px !important; }

.padding-top-30{
  padding-top:30px !important; }

.padding-left-30{
  padding-left:30px !important; }

.padding-bottom-30{
  padding-bottom:30px !important; }

.padding-right-30{
  padding-right:30px !important; }

.padding-top-31{
  padding-top:31px !important; }

.padding-left-31{
  padding-left:31px !important; }

.padding-bottom-31{
  padding-bottom:31px !important; }

.padding-right-31{
  padding-right:31px !important; }

.padding-top-32{
  padding-top:32px !important; }

.padding-left-32{
  padding-left:32px !important; }

.padding-bottom-32{
  padding-bottom:32px !important; }

.padding-right-32{
  padding-right:32px !important; }

.padding-top-33{
  padding-top:33px !important; }

.padding-left-33{
  padding-left:33px !important; }

.padding-bottom-33{
  padding-bottom:33px !important; }

.padding-right-33{
  padding-right:33px !important; }

.padding-top-34{
  padding-top:34px !important; }

.padding-left-34{
  padding-left:34px !important; }

.padding-bottom-34{
  padding-bottom:34px !important; }

.padding-right-34{
  padding-right:34px !important; }

.padding-top-35{
  padding-top:35px !important; }

.padding-left-35{
  padding-left:35px !important; }

.padding-bottom-35{
  padding-bottom:35px !important; }

.padding-right-35{
  padding-right:35px !important; }

.padding-top-36{
  padding-top:36px !important; }

.padding-left-36{
  padding-left:36px !important; }

.padding-bottom-36{
  padding-bottom:36px !important; }

.padding-right-36{
  padding-right:36px !important; }

.padding-top-37{
  padding-top:37px !important; }

.padding-left-37{
  padding-left:37px !important; }

.padding-bottom-37{
  padding-bottom:37px !important; }

.padding-right-37{
  padding-right:37px !important; }

.padding-top-38{
  padding-top:38px !important; }

.padding-left-38{
  padding-left:38px !important; }

.padding-bottom-38{
  padding-bottom:38px !important; }

.padding-right-38{
  padding-right:38px !important; }

.padding-top-39{
  padding-top:39px !important; }

.padding-left-39{
  padding-left:39px !important; }

.padding-bottom-39{
  padding-bottom:39px !important; }

.padding-right-39{
  padding-right:39px !important; }

.padding-top-40{
  padding-top:40px !important; }

.padding-left-40{
  padding-left:40px !important; }

.padding-bottom-40{
  padding-bottom:40px !important; }

.padding-right-40{
  padding-right:40px !important; }

.padding-top-41{
  padding-top:41px !important; }

.padding-left-41{
  padding-left:41px !important; }

.padding-bottom-41{
  padding-bottom:41px !important; }

.padding-right-41{
  padding-right:41px !important; }

.padding-top-42{
  padding-top:42px !important; }

.padding-left-42{
  padding-left:42px !important; }

.padding-bottom-42{
  padding-bottom:42px !important; }

.padding-right-42{
  padding-right:42px !important; }

.padding-top-43{
  padding-top:43px !important; }

.padding-left-43{
  padding-left:43px !important; }

.padding-bottom-43{
  padding-bottom:43px !important; }

.padding-right-43{
  padding-right:43px !important; }

.padding-top-44{
  padding-top:44px !important; }

.padding-left-44{
  padding-left:44px !important; }

.padding-bottom-44{
  padding-bottom:44px !important; }

.padding-right-44{
  padding-right:44px !important; }

.padding-top-45{
  padding-top:45px !important; }

.padding-left-45{
  padding-left:45px !important; }

.padding-bottom-45{
  padding-bottom:45px !important; }

.padding-right-45{
  padding-right:45px !important; }

.padding-top-46{
  padding-top:46px !important; }

.padding-left-46{
  padding-left:46px !important; }

.padding-bottom-46{
  padding-bottom:46px !important; }

.padding-right-46{
  padding-right:46px !important; }

.padding-top-47{
  padding-top:47px !important; }

.padding-left-47{
  padding-left:47px !important; }

.padding-bottom-47{
  padding-bottom:47px !important; }

.padding-right-47{
  padding-right:47px !important; }

.padding-top-48{
  padding-top:48px !important; }

.padding-left-48{
  padding-left:48px !important; }

.padding-bottom-48{
  padding-bottom:48px !important; }

.padding-right-48{
  padding-right:48px !important; }

.padding-top-49{
  padding-top:49px !important; }

.padding-left-49{
  padding-left:49px !important; }

.padding-bottom-49{
  padding-bottom:49px !important; }

.padding-right-49{
  padding-right:49px !important; }

.padding-top-50{
  padding-top:50px !important; }

.padding-left-50{
  padding-left:50px !important; }

.padding-bottom-50{
  padding-bottom:50px !important; }

.padding-right-50{
  padding-right:50px !important; }

.padding-top-51{
  padding-top:51px !important; }

.padding-left-51{
  padding-left:51px !important; }

.padding-bottom-51{
  padding-bottom:51px !important; }

.padding-right-51{
  padding-right:51px !important; }

.padding-top-52{
  padding-top:52px !important; }

.padding-left-52{
  padding-left:52px !important; }

.padding-bottom-52{
  padding-bottom:52px !important; }

.padding-right-52{
  padding-right:52px !important; }

.padding-top-53{
  padding-top:53px !important; }

.padding-left-53{
  padding-left:53px !important; }

.padding-bottom-53{
  padding-bottom:53px !important; }

.padding-right-53{
  padding-right:53px !important; }

.padding-top-54{
  padding-top:54px !important; }

.padding-left-54{
  padding-left:54px !important; }

.padding-bottom-54{
  padding-bottom:54px !important; }

.padding-right-54{
  padding-right:54px !important; }

.padding-top-55{
  padding-top:55px !important; }

.padding-left-55{
  padding-left:55px !important; }

.padding-bottom-55{
  padding-bottom:55px !important; }

.padding-right-55{
  padding-right:55px !important; }

.padding-top-56{
  padding-top:56px !important; }

.padding-left-56{
  padding-left:56px !important; }

.padding-bottom-56{
  padding-bottom:56px !important; }

.padding-right-56{
  padding-right:56px !important; }

.padding-top-57{
  padding-top:57px !important; }

.padding-left-57{
  padding-left:57px !important; }

.padding-bottom-57{
  padding-bottom:57px !important; }

.padding-right-57{
  padding-right:57px !important; }

.padding-top-58{
  padding-top:58px !important; }

.padding-left-58{
  padding-left:58px !important; }

.padding-bottom-58{
  padding-bottom:58px !important; }

.padding-right-58{
  padding-right:58px !important; }

.padding-top-59{
  padding-top:59px !important; }

.padding-left-59{
  padding-left:59px !important; }

.padding-bottom-59{
  padding-bottom:59px !important; }

.padding-right-59{
  padding-right:59px !important; }

.padding-top-60{
  padding-top:60px !important; }

.padding-left-60{
  padding-left:60px !important; }

.padding-bottom-60{
  padding-bottom:60px !important; }

.padding-right-60{
  padding-right:60px !important; }

.padding-top-61{
  padding-top:61px !important; }

.padding-left-61{
  padding-left:61px !important; }

.padding-bottom-61{
  padding-bottom:61px !important; }

.padding-right-61{
  padding-right:61px !important; }

.padding-top-62{
  padding-top:62px !important; }

.padding-left-62{
  padding-left:62px !important; }

.padding-bottom-62{
  padding-bottom:62px !important; }

.padding-right-62{
  padding-right:62px !important; }

.padding-top-63{
  padding-top:63px !important; }

.padding-left-63{
  padding-left:63px !important; }

.padding-bottom-63{
  padding-bottom:63px !important; }

.padding-right-63{
  padding-right:63px !important; }

.padding-top-64{
  padding-top:64px !important; }

.padding-left-64{
  padding-left:64px !important; }

.padding-bottom-64{
  padding-bottom:64px !important; }

.padding-right-64{
  padding-right:64px !important; }

.padding-top-65{
  padding-top:65px !important; }

.padding-left-65{
  padding-left:65px !important; }

.padding-bottom-65{
  padding-bottom:65px !important; }

.padding-right-65{
  padding-right:65px !important; }

.padding-top-66{
  padding-top:66px !important; }

.padding-left-66{
  padding-left:66px !important; }

.padding-bottom-66{
  padding-bottom:66px !important; }

.padding-right-66{
  padding-right:66px !important; }

.padding-top-67{
  padding-top:67px !important; }

.padding-left-67{
  padding-left:67px !important; }

.padding-bottom-67{
  padding-bottom:67px !important; }

.padding-right-67{
  padding-right:67px !important; }

.padding-top-68{
  padding-top:68px !important; }

.padding-left-68{
  padding-left:68px !important; }

.padding-bottom-68{
  padding-bottom:68px !important; }

.padding-right-68{
  padding-right:68px !important; }

.padding-top-69{
  padding-top:69px !important; }

.padding-left-69{
  padding-left:69px !important; }

.padding-bottom-69{
  padding-bottom:69px !important; }

.padding-right-69{
  padding-right:69px !important; }

.padding-top-70{
  padding-top:70px !important; }

.padding-left-70{
  padding-left:70px !important; }

.padding-bottom-70{
  padding-bottom:70px !important; }

.padding-right-70{
  padding-right:70px !important; }

.padding-top-71{
  padding-top:71px !important; }

.padding-left-71{
  padding-left:71px !important; }

.padding-bottom-71{
  padding-bottom:71px !important; }

.padding-right-71{
  padding-right:71px !important; }

.padding-top-72{
  padding-top:72px !important; }

.padding-left-72{
  padding-left:72px !important; }

.padding-bottom-72{
  padding-bottom:72px !important; }

.padding-right-72{
  padding-right:72px !important; }

.padding-top-73{
  padding-top:73px !important; }

.padding-left-73{
  padding-left:73px !important; }

.padding-bottom-73{
  padding-bottom:73px !important; }

.padding-right-73{
  padding-right:73px !important; }

.padding-top-74{
  padding-top:74px !important; }

.padding-left-74{
  padding-left:74px !important; }

.padding-bottom-74{
  padding-bottom:74px !important; }

.padding-right-74{
  padding-right:74px !important; }

.padding-top-75{
  padding-top:75px !important; }

.padding-left-75{
  padding-left:75px !important; }

.padding-bottom-75{
  padding-bottom:75px !important; }

.padding-right-75{
  padding-right:75px !important; }

.padding-top-76{
  padding-top:76px !important; }

.padding-left-76{
  padding-left:76px !important; }

.padding-bottom-76{
  padding-bottom:76px !important; }

.padding-right-76{
  padding-right:76px !important; }

.padding-top-77{
  padding-top:77px !important; }

.padding-left-77{
  padding-left:77px !important; }

.padding-bottom-77{
  padding-bottom:77px !important; }

.padding-right-77{
  padding-right:77px !important; }

.padding-top-78{
  padding-top:78px !important; }

.padding-left-78{
  padding-left:78px !important; }

.padding-bottom-78{
  padding-bottom:78px !important; }

.padding-right-78{
  padding-right:78px !important; }

.padding-top-79{
  padding-top:79px !important; }

.padding-left-79{
  padding-left:79px !important; }

.padding-bottom-79{
  padding-bottom:79px !important; }

.padding-right-79{
  padding-right:79px !important; }

.padding-top-80{
  padding-top:80px !important; }

.padding-left-80{
  padding-left:80px !important; }

.padding-bottom-80{
  padding-bottom:80px !important; }

.padding-right-80{
  padding-right:80px !important; }

.rtl{
  direction:rtl; }
  @media (min-width: 1200px){
    .rtl .col-xl-2-4{
      width:20%; } }
  .rtl .widget.widget_categories ul li:hover a:before,.rtl .widget.widget_categories ul li:hover span:before{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg); }
  .rtl .bwp-top-bar .display li:last-child{
    margin-right:15px; }
  .rtl .bwp-top-bar .display li:first-child{
    margin-right:0; }
  .rtl .slick-carousel .slick-arrow{
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg); }
  @media (min-width: 1200px){
    .rtl .forcefullwidth_wrapper_tp_banner .rev_slider_wrapper.fullwidthbanner-container{
      padding-right:270px !important;
      padding-left:0 !important; } }
  .rtl .wpb_single_image.vc_align_left{
    text-align:right; }
  .rtl .wpb_single_image.vc_align_right{
    text-align:left; }
  .rtl .bwp-filter-homepage .bwp-filter-heading ul{
    left:0;
    right:auto; }
    @media (max-width: 991px){
      .rtl .bwp-filter-homepage .bwp-filter-heading ul{
        right:-80px;
        left:auto; } }
  @media (max-width: 767px){
    .rtl .bwp-lookbook.lookbook-slide-nopadding .slick-arrow{
      left:calc(50% + 0px);
      right:auto; }
      .rtl .bwp-lookbook.lookbook-slide-nopadding .slick-arrow.fa-angle-left{
        left:calc(50% - 35px); } }
  .rtl .slick-arrow{
    text-indent:-1px; }
    .rtl .slick-arrow.fa-angle-left{
      text-indent:1px; }
  .rtl .bwp-header .block-top-link>.widget .widget-custom-menu>div{
    left:auto;
    right:0; }
  .rtl #bwp-topbar .topbar-right .block-top-link>.widget .widget-custom-menu>div{
    right:auto;
    left:0; }
  .rtl .entry-meta>:not(.sticky-post):first-child{
    padding-left:14px;
    padding-right:0; }
  .rtl .entry-meta>:not(.sticky-post):last-child{
    padding-left:0;
    padding-right:14px; }
  .rtl .header-wpbingo-menu-left{
    text-align:right; }
    .rtl .header-wpbingo-menu-left .wpbingo-menu-left{
      display:inline-block; }
  .rtl .products-list.grid .product-wapper .products-content .product-button .yith-wcwl-add-to-wishlist{
    margin-right:12px;
    margin-left:0; }
    @media (min-width: 992px) and (max-width: 1199px){
      .rtl .products-list.grid .product-wapper .products-content .product-button .yith-wcwl-add-to-wishlist{
        margin-right:2px;
        margin-left:0; } }
  .rtl .bwp-filter-homepage .bwp-filter-heading .bwp-filter-toggle{
    margin-left:0;
    padding-left:0;
    margin-right:23px;
    padding-right:23px; }
    .rtl .bwp-filter-homepage .bwp-filter-heading .bwp-filter-toggle:before{
      right:-3px;
      left:auto; }
    @media (max-width: 991px){
      .rtl .bwp-filter-homepage .bwp-filter-heading .bwp-filter-toggle{
        margin-right:0;
        padding-right:0;
        margin-left:23px;
        padding-left:23px; }
        .rtl .bwp-filter-homepage .bwp-filter-heading .bwp-filter-toggle:before{
          right:-3px;
          left:auto !important; } }
  @media (min-width: 768px){
    .rtl .bwp-filter-homepage.loadmore.style .bwp-filter-heading ul.filter-orderby li:last-child{
      padding-left:0;
      padding-right:22px; }
    .rtl .bwp-filter-homepage.loadmore.style .bwp-filter-heading ul.filter-orderby li:first-child{
      padding-right:0;
      padding-left:22px; } }
  .rtl .border-policy-2{
    margin:0 !important; }
    @media (min-width: 768px){
      .rtl .border-policy-2{
        display:flex; } }
    .rtl .border-policy-2>.wpb_column{
      border:1px solid hsla(0,0%,91%,.3);
      padding-top:100px;
      padding-bottom:93px; }
      @media (min-width: 768px){
        .rtl .border-policy-2>.wpb_column:not(:last-child){
          border-right:1px solid hsla(0,0%,91%,.3);
          border-left:0; } }
  .rtl .wpbingo-newsletter .content-newsletter input[type=email]::placeholder{
    text-align:right; }
  .rtl .bwp-top-bar .woocommerce-result-count{
    display:inline-block !important; }
    @media (max-width: 1199px){
      .rtl .bwp-top-bar .woocommerce-result-count{
        display:none !important; } }
  .rtl .about-top .social-link li{
    margin-right:0 !important; }
  .rtl .bwp-lookbook.slider .item .bwp-content-lookbook:before{
    display:none; }
  .rtl .bwp-lookbook.slider .item .bwp-content-lookbook .item-lookbook,.rtl .bwp-lookbook.slider .item .info-lookbook{
    display:block; }
    .rtl .bwp-lookbook.slider .item .info-lookbook h2{
      font-size:30px;
      margin-bottom:15px;
      margin-top:42px; }
    .rtl .bwp-lookbook.slider .item .info-lookbook .description-lookbook{
      font-size:15px;
      text-transform:uppercase; }
  .rtl .bwp-testimonial .slider-thumb .testimonial-image.slick-center img{
    -webkit-transform:scale(1) !important;
    transform:scale(1) !important;
    border:0 !important;
    box-shadow:unset !important; }
  .rtl .bwp-testimonial .slider-thumb .testimonial-image.slick-center .testimonial-customer-name{
    display:none !important; }
  .rtl .header-vertical-menu{
    float:right !important; }
  .rtl .bwp-filter-homepage.slider .bwp-filter-heading ul.filter-category li:first-child{
    padding-left:30px !important; }
  .rtl .bwp-filter-homepage.slider .bwp-filter-heading ul.filter-category li:last-child{
    padding-right:30px !important; }
  @media (max-width: 991px){
    .rtl .wpbingo-verticalmenu-mobile .navbar-header{
      float:right; } }
  .rtl .bwp-countdown.slider .slick-arrow.fa-angle-left{
    left:15px !important;
    right:auto !important; }
  .rtl .bwp-countdown.slider .slick-arrow{
    left:55px !important; }
  .rtl .bwp-recent-post.slider2 .slick-arrow.fa-angle-left{
    left:15px !important;
    right:auto !important; }
  .rtl .bwp-recent-post.slider2 .slick-arrow{
    left:55px !important; }
  .rtl .bwp-widget-video .title-video h2:before{
    text-indent:-5px; }
  .rtl .wpbingo-newsletter-1 .content-newsletter .clearfix{
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    border-top-right-radius:0;
    border-bottom-right-radius:0; }
  .rtl .bwp_list_default.slider .slick-arrow.fa-angle-left{
    left:0 !important;
    right:auto !important; }
  .rtl .bwp_list_default.slider .slick-arrow.fa-angle-right{
    left:45px !important;
    right:auto !important; }
  .rtl .bwp-testimonial.default .slick-arrow.fa-angle-left{
    left:15px !important;
    right:auto !important; }
  .rtl .bwp-testimonial.default .slick-arrow.fa-angle-right{
    left:55px !important;
    right:auto !important; }
  .rtl .bwp-brand.default .slick-arrow.fa-angle-left{
    left:15px !important;
    right:auto !important; }
  .rtl .bwp-brand.default .slick-arrow.fa-angle-right{
    left:55px !important;
    right:auto !important; }
  .rtl .bwp-recent-post.slider .slick-arrow.fa-angle-left{
    left:15px !important;
    right:auto !important; }
  .rtl .bwp-recent-post.slider .slick-arrow.fa-angle-right{
    left:55px !important;
    right:auto !important; }
  .rtl #bwp-footer.footer-1 .footer-main .footer-right{
    padding-left:0 !important; }
  .rtl .bwp-header.header-v1 .bwp-navigation ul>li.level-0:first-child{
    padding-left:20px !important; }
  .rtl .onsale:before{
    border-right-color:transparent;
    border-left-color:#ff4646; }
  .rtl .bwp-widget-video.default2 .bwp-video{
    text-indent:-3px; }
  .rtl .mini-cart .cart-popup.popup{
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%); }

.rtl .bwp-countdown.slider5 .content-product-list .products-list.grid .item-product .item-product-content .item-countdown .product-countdown:before{
  content:"\7b"; }

.rtl .bwp-header .header-right .container>div:last-child,.rtl .bwp-header .header-right>div:last-child{
  padding-left:10px !important;
  padding-right:0 !important; }

.rtl .woo-slider-default .content-product-list .slick-arrow{
  left:0 !important;
  right:auto !important; }
  .rtl .woo-slider-default .content-product-list .slick-arrow.fa-angle-right{
    left:30px !important;
    right:auto !important; }

.rtl .categories-vertical-menu .bwp-vertical-navigation>div ul.menu li.level-0.menu-item-has-children>a:after{
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg); }
