/************************************************************************************************
    BLOCK TOP BAR  
*************************************************************************************************/  
#bwp-topbar{
    color: $topbar-color;
    font-size: 14px;
	height:40px;
	line-height: 40px;
	a {
		color:$gray;
		&:hover{
			color:$theme-color;
		}
	}
	#topbar_menu{
		list-style:none;
		padding:0;
		li{
			display:inline-block;
			line-height:20px;
			@include rtl-margin-right(20px);
			@include rtl-padding-right(20px);
			@include rtl-border-right(1px solid #dedede);
			&:last-child{
				@include rtl-margin-right(0);
				@include rtl-padding-right(0);
				@include rtl-border-right(0);
			}
		}
	}
	.topbar-right{
		@include rtl-text-align-right();
		>*{
			display:inline-block;
			line-height:20px;
			@include rtl-margin-right(20px);
			@include rtl-padding-right(20px);
			@include rtl-border-right(1px solid #dedede);
			&:last-child{
				@include rtl-margin-right(0);
				@include rtl-padding-right(0);
				@include rtl-border-right(0);
			}
			a{
				color:$gray;
				&:hover{
					color:$theme-color;
				}
			}
			i{
				margin-right:10px;
				color:$gray-dark;
				font-size:17px;
				position:relative;
				top:3px;
			}
		}
	}
	.woocs-style-1-dropdown{
		border: 0;
		width:auto !important;
		color: $gray-dark;
		background: transparent;
		box-shadow: unset;
		height: auto;
		border-radius: 0;
		@include rtl-border-right(1px solid $base-bg);
		&:focus{
			outline:unset;
		}
		&.woocs-style-1-active{
			.woocs-style-1-select{
				color:$theme-color;
				> i{
					@include transform(rotate(-180deg));
					color:$theme-color;
				}
			}
		}
		.woocs-style-1-select{
			padding:0;
			&:hover{
				color:$theme-color;
				i{
					color:$theme-color;
				}
			}
			&:focus{
				outline:unset;
			}
			i{
				color:$gray-dark;
				font-size:14px;
				font-style:inherit;
				margin:0;
				&:before{
					display:inline-block;
					font-family: 'ElegantIcons';
					content: "\33";
					position:relative;
					top:1px;
				}
				img{
					display:none;
				}
			}
		}
		.woocs-style-1-dropdown-menu{
			min-width:50px;
			color:$text-color;
			@include border-radius(0);
		}
	}
	.block-top-link{
		.menu-language,.menu-currency{
			.widget-title{
				color:$gray-dark;
				font-weight:400;
				&:after{
					display:inline-block;
					font-family: 'ElegantIcons' !important;
					content: "\33";
					position:relative;
					top:1px;
					font-size:14px;
					color:$gray-dark;
					@include transition(all 0.3s ease);
					line-height:1;
				}
				&.active,&:hover{
					color:$theme-color;
					&:after{
						color:$theme-color;
					}
				}
				&.active{
					&:after{
						@include transform(rotate(-180deg));
						color:$theme-color;
					}
				}
			}
			a{
				color:$text-color;
				&:hover{
					color:$theme-color;
				}
			}
			.menu-language-menu-container,.menu-currency-menu-container{
				top:30px;
			}
		}
	}
	.social-link{
		position:relative;
		top:-3px;
		li{
			margin:0 15px;
			&:last-child{
				@include rtl-margin-right(0);
			}
			&:first-child{
				@include rtl-margin-left(0);
			}
			a{
				i{
					font-size:12px;
					margin:0;
					font-weight:400;
				}
				&:hover{
					i{
						color:$theme-color;
					}
				}
			}
		}
	}
	&.topbar-v1 {
		border-bottom:1px solid $light-gray;
		.email{
			i{
				color:$gray-dark;
			}
		}
	}
	&.topbar-v2 {
		background:$gray-darker;
		border-bottom:1px solid $gray;
		.topbar-right{
			@include rtl-text-align-right();
			>*{
				@include rtl-border-right(1px solid $gray);
				&:last-child{
					@include rtl-border-right(0);
				}
			}
			.block-top-link{
				>*{
					@include rtl-border-right(1px solid $gray);
					&:last-child{
						@include rtl-border-right(0);
					}
				}
			}
		}
		.woocs-style-1-dropdown{
			color: $white;
			.woocs-style-1-select{
				i{
					color:$white;
				}
			}
		}
		.block-top-link{
			.menu-language,.menu-currency{
				.widget-title{
					color:$white;
					&:after{
						color:$white;
					}
					&.active,&:hover{
						color:$theme-color;
						&:after{
							color:$theme-color;
						}
					}
					&.active{
						&:after{
							@include transform(rotate(-180deg));
							color:$theme-color;
						}
					}
				}
			}
			
		}
		#topbar_menu{
			li{
				@include rtl-border-right(1px solid $gray);
				&:last-child{
					@include rtl-border-right(0);
				}
			}
		}
	}
	&.topbar-v3 {
		border-bottom:1px solid rgba($white,0.12);
		a{
			color:$white;
			&:hover{
				color:$theme-color;
			}
		}
		.email{
			i{
				color:$white;
			}
		}
		#topbar_menu li{
			border-color:rgba($white,0.2);
		}
		.topbar-right > *{
			border-color:rgba($white,0.2);
			i{
				color:$white;
				&:hover{
					color:$theme-color;
				}
			}
		}
		.block-top-link{
			.menu-currency,.menu-language{
				.widget-title{
					color:$white;
					&:after{
						color:$white;
					}
					&:hover{
						color:$theme-color;
						&:after{
							color:$theme-color;
						}
					}
				}
			}
			>*{
				border-color:$white;
			}
			
		}
	}
} 
/************************************************************************************************
    BLOCK HEADER 
*************************************************************************************************/ 
.title-vertical{
	h2{
		font-size:15px;
		padding-bottom:10px !important;
		position:relative;
		font-family:$font-family-monospace;
		color:$theme-color !important;
		&:before{
			position:absolute;
			bottom:-1px;
			@include size(40px,1px);
			background:$theme-color;
			content:"";
			@include rtl-left(0);
		}
	}
}
.categories-vertical-menu{
	position: relative;
	&.show{
		@media (min-width:$screen-md-max){
			.bwp-vertical-navigation >div{
				display : block !important;
				height : 100% !important;
			}
		}
	}	
	&.accordion{
		.verticalmenu{
			border:0 !important;
			@include box-shadow(0 1px 12px 2px hsla(0,0%,56%,.3));
		}
		.bwp-vertical-navigation >div{
			display : none;
		}
	}
	.bwp-client.slider2 .item-image{
		height:117px;
		min-height:unset;
	}
	.menu-item-desc{
		display:none;
	}
	.widget-title{
		font-size: 14px;
		text-transform: uppercase;
		color: $white;
		margin: 0;
		line-height: 55px;
		background: $gray-dark;
		display:flex;
		cursor:pointer;
		position:relative;
		font-family: "CerebriSans ExtraBold";
		i{
			background:$white;
			width:13px;
			height:2px;
			@include rtl-margin(26px ,55px ,0 ,17px);
			position:relative;
			&:before{
				content:"";
				position:absolute;
				background:$white;
				width:29px;
				height:2px;
				top:-6px;
			}
			&:after{
				content:"";
				position:absolute;
				background:$white;
				width:22px;
				height:2px;
				bottom:-6px;
			}
			@media (max-width:$screen-md-max){
				@include rtl-margin(26px ,40px ,0 ,17px);
			}
		}
		&:before{
			content:"";
			position:absolute;
			top:0;
			@include rtl-left(0);
			@include size(60px,55px);
			background:$theme-color;
		}
		&:after{
			display: inline-block;
			font-family: 'ElegantIcons';
			content: "\33";
			position: relative;
			@include rtl-margin-left(5px);
			font-size:16px;
			@include transition(all 0.3s ease);
		}
		&.active{
			&:after{
				@include transform(rotate(-180deg));
			}
		}
	}
	.verticalmenu{
		position: absolute;
		width: 100%;
		background: $white;
		border:1px solid #e3e3e3;
		border-top:0;
	}
	.bwp-vertical-navigation >div{
		padding: 0;
		display:block;
		position:relative;
		ul.menu{
			padding:0;
			li{
				&.menu-hide-title{
					> span.title, >a{
						@media (max-width: 991px){
							display: block !important;
							margin:0;
							padding:0!important;
						}
					}
				}
				&.menu-item-has-children{
					>a{
						display: inline-block;
						width: 100%;
						&:after{
							top: 1px;
							content: "\f2fb"!important;
							position:absolute;
							@include rtl-margin-left(5px);
							@include rtl-right(0);
						}
					}
				}
			}
			li.level-0{
				float:unset;
				width:100%;
				position:unset !important;
				border-bottom:1px solid #e3e3e3;
				list-style:none;
				&:last-child{
					border-bottom:none;
				}
				i{
					font-size: 18px;
					width: 20px;
					text-align: center;
					@include rtl-margin-right(16px);
					position: relative;
					top: 2px;
					@include rtl-float-left();
				}
				>a{
					margin:0;
					width:100%;
					font-weight: 500;
					font-size: 16px;
					text-transform: capitalize;
					white-space: normal;
					position:relative;
					color:$text-color;
					position:relative;
					padding: 11.2px 20px;
					display:inline-block;
					&:before{
						position:absolute;
						@include size(1px,100%);
						background:$theme-color;
						@include opacity-h();
						content:"";
						position:absolute;
						top:0;
						@include rtl-left(0);
					}
					&:hover{
						color:$theme-color;
						&:before{
							@include opacity-s();
						}
					}
					> span{
						position: relative;
						
						&:before, &:after{
							display:none!important;
						}
					}
					@media (max-width:1400px){
						padding:8px 20px;
					}
				}
				&.menu-item-has-children{                       
					@media (min-width: $screen-md){
						> ul.sub-menu,div.sub-menu {
							top: 0;
							@include rtl-left(calc(100% + 50px));
						}
						&:hover {
							> ul.sub-menu,div.sub-menu {
								@include opacity-s();
								@include rtl-left(calc(100% + 10px));
							}
						}
					}
					&:not(.mega-menu){
						position:relative !important;
						li.menu-item-has-children{
							@media (min-width: $screen-md){
								> ul.sub-menu,div.sub-menu {
									top: 0;
								}
								&:hover {
									> ul.sub-menu {
										top: 0 !important;
									}
								}
							}
						}
					}
					>a{
						&:after{
							font-family: "Material";
							display: inline-block;
							background: transparent;
							opacity: 1;
							@include rtl-right(20px);
							top: calc(50% - 13.5px);
							bottom: auto;
							@include square(auto);
							@media(max-width:$screen-sm-max){
								display:none;
							}
						}
					}
				}
				.menu-item-has-children{
					>a >span{
						&:after{
							display:none;
						}
					}
				}
				&.current_page_item, &:hover, &.current-menu-item{
					> a >span{
						color: $theme-color;
						&:before{
							content:"";
							width:100%;
							height:1px;
							@include rtl-left(0);
							background:$navbar-link-hover-color;
							position:absolute;
							bottom:0;
						}
					}
				}
				&.mega-menu-fullwidth-width{
					ul.sub-menu,div.sub-menu{
						@include rtl-left(calc(100% + 30px));
					}
				}
				ul.sub-menu,div.sub-menu{
					@include rtl-left(100%);
					top: 0;
					padding:25px 20px;
					@include transform(unset);
					position:absolute;
					z-index: 9999;
					background: $white;
					display: block;
					min-width: 225px;
					@include transition(all 0.3s ease);
					@include opacity-h();
					@include box-shadow(0 1px 12px 2px hsla(0,0%,56%,.3));
					li{
						list-style:none;
						padding-top: 5px;
						padding-bottom: 5px;
						&:last-child{
							border-bottom:0;
						}
					}
					@media(max-width:$screen-sm-max){
						padding-top:0;  
					}
					a{
						color:$text-color;
						&:hover{
							color:$theme-color;
						}
					}
				}
				&.mega-menu{
					&.verticalwidth-1{
						>ul.sub-menu,div.sub-menu{
							@media(min-width:992px){
								width:800px;
								@media (max-width:$screen-md-max){
									width:700px;
								}
							}
						}
					}
					&.verticalwidth-2{
						>ul.sub-menu,div.sub-menu{
							@media(min-width:992px){
								width:770px;
								@media (max-width:$screen-md-max){
									width:700px;
								}
							}
						}
					}
					>ul.sub-menu,div.sub-menu{
						padding:0;
						>div{
							height:100%;
							>div{
								height:100%;
								>div{
									height:100%;
								}
							}
						}
						.box-vertical{
							padding:30px 15px;
						}
						@media(min-width:992px){
							width:1120px;
							@media (max-width:1430px){
								width:875px;
							}
							@media (max-width:$screen-md-max){
								width:700px;
							}
						}
						.title h2{
							font-size:15px;
							text-transform:uppercase;
							margin:0;
							margin-bottom:17px;
						}
						ul{
							padding:0;
							font-size:15px;
							li{
								list-style:none;
								padding:4px 0;
								&:last-child{
									border-bottom:0;
								}
								a{
									color:$text-color;
									&:hover{
										color:$theme-color;
									}
								}
							}
						}
						.vertical-menu{
							padding:35px 30px;
							height:100%;
							margin:0;
						}
					}
					&.vertical-menu3{
						div.sub-menu{
							width:530px;
						}
					}
					&.vertical-menu5{
						div.sub-menu ul li a{
							color:$white;
							&:hover{
								color:$theme-color;
							}
						}
						.title-vertical h2{
							@media (min-width:$screen-sm-max){
								color:$white;
							}
						}
					}
				}
				&:not(.mega-menu)> ul.sub-menu,div.sub-menu{
					@media (min-width: $screen-sm-max){
						li.level-1{
							.sub-menu{
								@include rtl-left(calc(100% + 20px));
							}
						}
					}   
				}
			}
			.more-wrap{
				padding: 0 20px;
				color: $gray-dark;
				font-weight:500;
				background:rgba($gray-dark,0.1);
				font-size:16px;
				&:hover{
					cursor: pointer;
					color: $theme-color;
				}
				span{
					line-height:45px;
					@media(max-width:1499px)and(min-width:$screen-lg){
						line-height:40px;
					}
					&:before{
						font-size: 16px;
						content: "\f278";
						font-family: Material;
						width: 20px;
						font-weight: 400;
						text-align: center;
						display: inline-block;
						vertical-align: top;
						@media (max-width: 1529px){
							@include rtl-margin-right(8px);
						}
					}
				}
				&.open{
					span{
						&:before{
							content: "\f273";
						}
					}
				}
			}
		}
	}
}

.page-template-homepage{
	.bwp-header{
		&.header-v2{
			@media (min-width:$screen-md-max){
				position:absolute;
				width:100%;
				padding:50px 0;
			}
		}
		&.header-v8{
			@media (min-width:$screen-md-max){
				position:absolute;
				width:100%;
				padding:50px 0;
			}
			@media (max-width:$screen-md-max){
				background:rgba($gray-dark,0.5);
			}
			.bwp-navigation ul > li.level-0{
				> a{
					color:$white;
				}
				&:hover{
					> a{
						color: $navbar-link-hover-color;
					}
				}
				&.current_page_item, &:hover, &.current-menu-item, &.current-menu-ancestor{
					> a{
						color: $navbar-link-hover-color;
					}
				}
			}
			.header-page-link{
				.search-box .search-toggle,a{
					color:$white;
					&:hover{
						color:$theme-color;
					}
				}
			}
		}
		&.header-v5 .wpbingoLogo img{
			max-height:16px;
		}
	}
}
.home.blog{
	.bwp-header{
		margin-bottom:30px;
	}
}
.#{$app-prefix}-header {
    margin-bottom: $header-margin-bottom;
    position: relative;
    z-index: 9999;
    background: $header-bg;
    .header-content{
        @include transition(all .3s ease 0s);
        .wpbingo-menu-left .menu-title-box{
            .navbar-toggle{
                display: inline-block;
                color: $gray-dark;
                >span{
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                i{
                    font-size: 15px;
                }
            }
        }
        .search-box {
            color: $gray-dark;
            &:hover{
                color: $theme-color;
            }
            .search-toggle {
                display: block;
                cursor: pointer;
                font-size: 22px;
            }
        }
		&.empty_header_right{
			@media(max-width:$screen-sm-max){
				>.container{
					>.row{
						display:flex;
						.header-logo{
							text-align:left!important;
						}
						.header-right{
							display:none;
						}
					}
				}
			}
		}
    }
	.header-menu{
		position:unset;
		@include rtl-margin-left(55px);
		@media (max-width:1350px){
			@include rtl-margin-left(30px);
		}
		@media (max-width:$screen-md-max){
			@include rtl-margin-left(100px);
		}
	}
	.header-left{
		>*{
			display:inline-block;
			vertical-align:middle;
		}
	}
	.header-page-link{
		@include rtl-text-align-right();
		>*{
			display:inline-block;
			@include rtl-margin-left(20px);
			vertical-align:middle;
			&:first-child{
				@include rtl-margin-left(0);
			}
			@media (max-width:$screen-md-max) and (min-width:$screen-sm-max){
				@include rtl-margin-left(15px);
			}
			@media (max-width:$screen-xs-max){
				@include rtl-margin-left(10px);
			}
		}
		.phone{
			padding:10px 15px 15px;
			border:2px solid $base-bg;
			@include border-radius(4px);
			display:inline-flex;
			align-items:center;
			i{
				color:$theme-color;
				font-size:43px;
			}
			.content{
				@include rtl-text-align-left();
				@include rtl-padding-left(15px);
				label{
					margin:0 0 -6px;
					display:block;
					font-size:11px;
					text-transform:uppercase;
					font-family: "CerebriSans ExtraBold";
				}
				a,span{
					display:block;
					font-size:18px;
				}
			}
		}
		.account{
			font-size:16px;
			margin-top:-5px;
			margin-bottom:0;
			font-family:$font-family-second;
			h2{
				font-size:16px;
				margin:0;
				cursor:pointer;
				&:hover{
					color:$theme-color;
				}
			}
			i{
				font-size:20px;
				@include rtl-margin-right(5px);
				position:relative;
				top:3px;
			}
		}
		.wishlist-box{
            font-size: 20px;    
			position:relative;
			top:2px;
			i{
				font-weight:700;
			}
        }
		.compare-box{
			position:relative;
			top:2px;	
			a{
				font-size:0;
				&:before{
					content:"\e905";
					font-family:icomoon;
					display:inline-block;
					font-size:20px;
					position: relative;
					line-height: 1;
					font-weight:700;
				}
			}
		}
        .davici-topcart{
            .cart-icon {
            	position: relative;
				cursor:pointer;
				color:$gray-dark;
				&:hover{
					color:$theme-color;
				}
				.icons-cart{
					position:relative;
				}
            	i{
					font-size: 18px;
					position: relative;
					top: 2px;
					font-weight:700;
            	} 
            }
            .cart-count {
            	position: absolute;
            	top: -10px;
            	@include rtl-right(-14px);
            	@include size(22px,15px);
            	line-height: 15px;
            	display: inline-block;
            	color:$white;
            	text-align: center;
            	background:$theme-color;
            	@include border-radius(15px);
				font-size:10px;
            }
        }
        .search-box .search-toggle{
            font-size: 20px;
			position:relative;
			top:2px;
			color:$gray-dark;
			&:hover{
				color:$theme-color;
			}
        }
        >.search-from{
            >ul.result-search-products{
                padding: 20px !important;
                max-height: 380px !important;
                min-width: 290px;
                top: 40px;
                li{
                    width: 100% !important;
                }
            }
        }
	}
    //Search
	.header-search-form{
		flex:1;
		@media (max-width:$screen-xs-max){
			margin-bottom:30px;
		}
		.result-search-products-content{
			position: absolute;
			background: $white;
			width:100%;
			top:calc(100% + 10px);
			left:0;
			@include border-radius(4px);
			@include box-shadow(0 1px 12px 2px hsla(0,0%,56%,.3));
			display:none;
			z-index:10;
			&:before{
				content:"";
				position:absolute;
				top:-14px;
				@include rtl-left(50px);
				border-style:solid;
				border-width:7px 8px;
				border-color:transparent;
				border-bottom-color: $white;
			}
		}
		.result-search-products{
			display:none;
			z-index: 10;
			max-height: 300px;
			overflow-y: auto;
			padding: 30px;
			overflow-x: hidden;
			list-style:none;
			&::-webkit-scrollbar-track
			{
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 5px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
				background-color: rgba($gray-dark, 0.1);
			}
			.item-search{
				list-style:none;
				padding:15px 0;
				display:table;
				width:100%;
				border-bottom:1px solid #f5f5f5;
				.item-image{
					display: table-cell;
					width: 70px;
				}
				.item-content{
					display: table-cell;
					vertical-align: top;
					@include rtl-padding-left(20px);
					a{
						font-weight:500;
						text-transform:capitalize;
					}
				}
				&:last-child{
					padding-bottom:0;
					border-bottom:0;
				}
				&:first-child{
					padding-top:0;
				}
			}
			.price{
				font-size:14px;
				del{
					font-size:13px;
				}
			}
			&.loading{
				&:before{
					position: absolute;
					left: 50%;
					top: calc(50% - 17px);
					display: inline-block;
					content: "\f110";
					width: auto;
					height: auto;
					color: $theme-color;
					margin-left: 0;
					font-family: FontAwesome;
					background-color: transparent !important;
					background: none;
					font-size: 20px;
					@include animation(2s linear 0s normal none infinite running spinAround);
				}
			}
		}
		.search-from{
			@include size(100%,47px);
			display:flex;
			position:relative;
			background:$white;
			@include border-radius(3px);
			padding:5px;
			border:1px solid $light-gray ;
			max-width:430px;
			@media (max-width:$screen-md-max){
				width:auto;
			}
			.select_category{
				line-height:35px;
				@include rtl-padding-left(15px);
				position:relative;
				@media (max-width:$screen-xs-max){
					display:none;
				}
				&.open{
					.caret{
						@include transform(rotate(-180deg));
					}
				}
				&:before{
					position:absolute;
					@include rtl-left(0);
					content:"";
					background:$gray-light ;
					height:28px;
					width:1px;
					top:calc(50% - 14px);
				}
				.dropdown-backdrop{
					display:none;
				}
				.pwb-dropdown-toggle{
					line-height: 35px;
					display: inline-block;
					cursor:pointer;
					&:hover{
						color:$theme-color;
					}
				}
				ul{
					padding:15px 20px;
					max-height:350px;
					overflow:auto;
					min-width: 200px;
					right: -30px;
					left: auto;
					&::-webkit-scrollbar-track
					{
						background-color: #F5F5F5;
					}

					&::-webkit-scrollbar
					{
						width: 5px;
						background-color: #F5F5F5;
					}

					&::-webkit-scrollbar-thumb
					{
						background-color: rgba($gray-dark, 0.1);
					}
					li{
						border-bottom: 1px solid #f5f5f5;
						cursor:pointer;
						line-height:1.3;
						padding:15px 0;
						&:last-child{
							border-bottom:0;
						}
						&:hover,&.active{
							color:$theme-color;
						}
					}
				}
			}
			.caret{
				@include transition(all 0.3s ease);
				display:inline-block;
				font-size: 18px;
				line-height: 1;
				position:relative;
				top:3px;
				&:before{
					font-family: 'ElegantIcons';
					content: "\33";
				}
			}
			.search-box{
				@include rtl-text-align-left();
				flex:1;
				input[type="text"]{
					border:0;
					padding:0;
					line-height:35px;
					width:100%;
					@include rtl-padding-left(20px);
				}
				@media (max-width:$screen-md-max){
					width:auto;
				}
				@media (max-width:$screen-xs-max){
					@include rtl-padding-left(15px);
				}
			}
			#searchsubmit,#searchsubmit2{
				background:$gray-dark;
				color:$white;
				@include rtl-margin-left(10px);
				font-size:0;
				padding:0 30px;
				i{
					font-size:16px;
				}
				&:hover{
					background:$theme-color;
				}
			}
		}
	}
    .searchform{
        color: $gray-light;
        border: 1px solid $border-color;
        display: flex;
        font-size: 14px;
        height: 40px;
        padding: 0 25px;
        max-width: 415px;
        width: 100%;
        @include border-radius(5px);
        .searchsubmit{
            background: transparent;
            font-size: 19px;
            padding: 0;
			@include transform(rotateY(180deg));
            i{
                color: $gray-dark;
            }
            &:hover{
            	i{
                    color: $theme-color;
                }
            }
            &:active{
                @include box-shadow(none);
            }
        }
        input[type="text"]{
            border: 0;
            font-weight: 300;
            padding: 5px 0;
            width: 100%;
            @include rtl-margin-right(10px);
        }
    }
	.search-style{
		ul.result-search-products{
			li{
				width:100%;
			}
		}
	}
	.content-header{
		position:unset;
		display:flex;
		align-items:center;
	}
    //Block Top Link
    .block-top-link{
		&.acount{
			@include rtl-text-align-left();
			label{
				margin-bottom:-4px;
				font-size:14px;
				font-weight:400;
				text-transform:capitalize;
			}
		}
		> .widget{
			margin-bottom: 0;
			.widget-custom-menu{
				.widget-title{
					margin: 0;
					font-size:15px;
					font-weight:500;
					cursor:pointer;
					line-height:24px;
					&:after{
						position: relative;
						top: 3px;
						font-size: 21px;
						content: "\e900";
						font-family:icomoon !important;
					}
				}
				>div {
					display: none;
					margin: 0;
					padding: 15px 30px;
					font-size: 16px;
					text-transform: capitalize;
					position: absolute;
					z-index: 1001;
					@include rtl-right(0);
					background: $white;
					line-height: 28px;
					border: 1px solid rgba($light-gray,0.1);
					top: 40px;
					@include rtl-text-align-left();
					@include box-shadow( 0px 5px 15px 5px rgba(144, 144, 144, 0.15));
					@media (max-width:$screen-sm-max){
						@include rtl-right(0);
						@include rtl-left(unset);
					}
					&.menu-currency-menu-container{
						@include rtl-right(auto);
						@include rtl-left(0);
					}
					.widget{
						margin-bottom: 0;
						ul{
							padding: 0;     
							list-style: none;
						}
					}
					ul#menu-top-menu{
						min-width: 100px; 
						padding: 0;
						li{
							border-bottom:1px solid  $table-bg-hover;
							a{
								color:$text-color;
								padding:5px 0;
								display:inline-block;
								&:hover{
									color:$theme-color;
								}
							}
							&:last-child{
								border-bottom:0;
								a{
									padding-bottom:0;
								}
							}
							&:first-child{
								a{
									padding-top:0;
								}
							}
						}
					}
					ul{
						li{
							border-bottom:1px solid  $table-bg-hover;
							a{
								color:$text-color;
								padding:5px 0;
								display:inline-block;
								font-size:14px;
								&:hover{
									color:$theme-color;
								}
							}
							&:last-child{
								border-bottom:0;
								a{
									padding-bottom:0;
								}
							}
							&:first-child{
								a{
									padding-top:0;
								}
							}
						}
					}
				}
			}
		}
	}

    // Menu Fixed
    .menu_fixed{
        position: fixed;
        top: 0;
        z-index: 9999;
        background: $white;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $container-lg-desktop;
        padding: 0 ($grid-gutter-width + 10);
        @include transition(all .6s ease 0s);
        .logo{
            margin: $theme-margin 0;
        }
        .navbar-mega{
            .navbar-nav > li > a{
                line-height: 55px;
            }
        }
        .search-from{
            top: 22px;
            @include rtl-right(40px);
        }
        .top-cart{
            @include rtl-right(90px);
            top: 23px;
        }
    }
    .header-logo{
		z-index:9;
    }
    .header-right{
        position: relative;
        color:$gray;
		display:flex;
		align-items:center;
		justify-content:flex-end;
    }
	.header-bottom{
		border-top:1px solid #eaeaea;
		.content-header-bottom{
			display:flex;
			align-items:center;
		}
		.header-vertical-menu{
			max-width:275px;
			width:100%;
			@media (max-width:$screen-md-max){
				max-width:240px;
			}
		}
		.header-search-form{
			width:100%;
			flex:1;
			.search-from{
				padding:0;
				border:0;
				max-width:800px;
				height:55px;
				padding:10px 0;
				@include rtl-margin-right(auto);
				@include rtl-margin-left(unset);
			}
		}
		.list-link-menu{
			@include rtl-margin-left(50px);
			ul{
				padding:0;
				li{
					display:inline-block;
					list-style:none;
					text-transform:uppercase;
					font-size:12px;
					line-height:26px;
					@include rtl-margin-right(20px);
					@include rtl-padding-right(20px);
					@include rtl-border-right(1px solid #dedede);
					font-family: "CerebriSans ExtraBold";
					&:last-child{
						@include rtl-margin-right(0);
						@include rtl-padding-right(0);
						@include rtl-border-right(0);
					}
				}
			}
		}
		@media (max-width:$screen-sm-max){
			padding:10px 0;
			.content-header-bottom{
				justify-content:space-between;
			}
			.list-link-menu{
				@include rtl-margin-left(0);
				@include rtl-text-align-right();
				ul{
					li{
						@include rtl-margin-right(10px);
						@include rtl-padding-right(10px);
						letter-spacing:2px;
					}
				}
			}
			.header-vertical-menu{
				max-width:unset;
				width:auto;
			}
		}
	}
	.wpbingoLogo{
		img{
			max-height:37px;
			width:auto;
		}
		@media (max-width:$screen-xs){
			margin-bottom:15px;
			text-align:center;
		}
	}
    .wpbingo-menu-mobile{
		@media(max-width:$screen-md-max){
			&.text-center{
				.wpbingo-menu-wrapper{
					@include rtl-margin-right(-30px);
				}
			}
		}
    }
	@media (max-width:$screen-sm-max){
		.header-desktop{
			display:none;
		}
	}
	@media (min-width:$screen-md){
		.header-mobile{
			display:none;
		}
	}
	.header-mobile{
		padding:20px 0;
		>.container{
			>.row{
				align-items:center;
			}
		}
		.header-left-default{
			.wpbingoLogo{
				@include rtl-text-align-left();
			}
		}
		.navbar-toggle{
			border:0;
			background:transparent;
			padding:0;
			&:before{
				content: "\e908";
				font-family:wpbingofont;
				font-size:23px;
				color:$gray-dark;
			}
			span{
				display:none;
			}
		}
		.wpbingoLogo{
			text-align:center;
			margin:0 !important;
		}
		.davici-topcart{
			@include rtl-margin-left(15px);
		}
		.mini-cart{
			@include rtl-text-align-right();
			.cart-icon {
				position: relative;
				top:-2px;
				color:$gray-dark;
				&:hover{
					color:$theme-color;
				}
				.icons-cart{
					display:inline-block;
					position:relative;
				}
				i{
					font-size: 18px;
					position: relative;
					top: 2px;
					font-weight:700;
            	} 
			}
			.cart-count {
            	position: absolute;
            	top: -10px;
            	@include rtl-right(-12px);
            	@include size(22px,15px);
            	line-height: 15px;
            	display: inline-block;
            	color:$white;
            	text-align: center;
            	background:$theme-color;
            	@include border-radius(15px);
				font-size:10px;
            }
		}
		.header-right{
			display:flex;
			justify-content:flex-end;
			align-items:center;
		}
		.wpbingo-verticalmenu-mobile{
			display:inline-block;
		}
		#show-megamenu{
			@include transform(rotateY(180deg));
		}
		#show-verticalmenu{
			border:0;
			&:before{
				content: "\e909";
			}
		}
		.header-mobile-fixed{
			position:fixed;
			bottom:0;
			width:100%;
			background:$white;
			display:flex;
			padding:10px 15px 5px;
			align-items:center;
			@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
			>div{
				flex:1;
				text-align:center;
			}
			.search-toggle{
				color:$gray-dark;
				font-size:20px;
			}
			.wishlist-box{
				a{
					color:$gray-dark;
					font-size:20px;
					&:hover{
						color:$theme-color;
					}
				}
			}
			i{
				font-size:20px;
			}
			a{
				&:hover{
					color:$theme-color;
				}
			}
		}
	}
	.header-wrapper{
		position:relative;
	}
    &.header-sticky {
        position: fixed;
        top: 0px;
        width: 100%;
        #bwp-topbar {
            display: none;
        }
    }
	&.header-normal{
		background:transparent !important;
	}
	.header-normal{
		padding:30px 0;
		background:transparent !important;
		.header-main{
			@media (max-width:$screen-sm-max){
				justify-content: flex-end !important;
			}
		}
		.menu{
			display: flex;
			flex-wrap: wrap;
		}
		.wpbingo-menu-mobile .navbar-default .navbar-toggle{
			color:$theme-color!important;
			border-color:$theme-color!important;
			position:unset !important;
		}
		.header-wrapper{
			background:transparent !important;
			.header-left{
				order:unset;
			}
		}
		.header-wrapper{
			.wpbingoLogo{
				margin-bottom:0;
				@include rtl-text-align-left();
			}
		}
		@media (max-width:$screen-sm-max){
			.header-wrapper{
				.wpbingoLogo{
					margin-bottom:0;
					@include rtl-text-align-left();
				}
			}
		}
		@media (max-width:$screen-xs){
			.wpbingoLogo{
				margin-bottom:0;
				@include rtl-text-align-left();
			}
		}
	}
	&.header-v1{
		.header-wrapper{
			padding:25px 0;
		}
	}
	&.header-v2{
		padding:30px 0;
		@media (max-width:$screen-sm-max){
			padding:0;
		}
	}
	&.header-v3{
		.categories-vertical-menu .verticalmenu{
			border:0;
		}
		.header-wrapper{
			padding:13px 0;
			.row{
				align-items:center;
			}
		}
	}
	&.header-v4{
		.categories-vertical-menu .widget-title{
			background:$theme-color;
			i{
				background:$gray-dark;
				&:before,&:after{
					background:$gray-dark;
				}
			}
			&:before{
				background:$white;
			}
		}
		.header-bottom{
			background:#1f1f1f;
		}
		.header-wrapper{
			padding:13px 0;
			.row{
				align-items:center;
				margin:0;
				justify-content:space-between;
			}
		}
		.header-search-form{
			@include rtl-margin-left(85px);
			.search-from{
				max-width:100%;
			}
		}
		.header-menu{
			@include rtl-margin-left(30px);
			flex:1;
			.bwp-navigation ul > li.level-0{
				>a{
					font-size:14px;
					text-transform:uppercase;
					color:$white;
					&:after{
						position:relative;
						top:-2px;
					}
					
				}
				&.current_page_item, &:hover, &.current-menu-item, &.current-menu-ancestor{
					> a{
						color: $navbar-link-hover-color;
					}
				}
				&:first-child{
					@include rtl-padding-left(0);
				}
			}
		}
		.list-link-menu{
			ul{
				li{
					border-color:#505050;
					font-size:16px;
					text-transform: capitalize;
					letter-spacing:0;
				}
			}
			a{
				color:$theme-color;
				position:relative;
				top: -2px;
				display:inline-block;
				&:before{
					width:100%;
					background:$theme-color;
					height:1px;
					content:"";
					position:absolute;
					bottom:0;
					@include transform(translateX(-50%));
					left:50%;
					@include transition(all 0.3s ease);
				}
				&:hover{
					color:darken($theme-color,10%);
					&:before{
						width:50%;
						background:darken($theme-color,10%);
					}
				}
			}
		}
		.header-left{
			display:flex;
			flex:1;
			@include rtl-margin-right(30px);
		}
		@media (max-width:$screen-sm-max){
			.header-mobile{
				border-bottom:1px solid $gray-lighter;
			}
			.header-left{
				@include rtl-margin-right(0);
			}
		}
	}
	&.header-v5{
		.header-wrapper{
			padding:10px 0;
			.row{
				align-items:center;
			}
		}
		.header-search-form{
			display:block;
			.search-from{
				max-width:500px;
			}
		}
		.wpbingoLogo{
			text-align:center;
		}
		.header-menu{
			margin:0;
		}
		.content-header-bottom{
			justify-content:center;
		}
		.bwp-navigation ul > li.level-0{
			>a{
				font-size:14px;
				text-transform:uppercase;
				&:after{
					position:relative;
					top:-2px;
				}
				
			}
		}
		.header-bottom{
			padding:15px 0;
			border-bottom:1px solid #eaeaea;
		}
	}
	&.header-v6{
		@media (min-width: 1440px){
			.container {
				max-width: 100%;
			}
		}
		@media (min-width: 1800px){
			.container {
				max-width: 1800px;
			}
		}
		#bwp-topbar,.header-wrapper{
			background:#33373e;
		}
		.header-search-form{
			max-width:730px;
			.search-from{
				#searchsubmit,#searchsubmit2{
					background:$theme-color;
					&:hover{
						background:darken($theme-color,10%);
					}
				}
			}
		}
		.header-bottom .header-vertical-menu{
			width:270px;
		}
		.header-main{
			display:flex;
			justify-content:space-between;
		}
		.header-bottom{
			border:0;
			background:$white;
			padding:6px 0;
		}
		.verticalmenu{
			border:1px solid #e3e3e3;
			top:calc(100% + 6px);
		}
		.bwp-navigation ul > li.level-0{
			@include rtl-border-left(1px solid #e1e1e1);
			line-height:24px;
			&:first-child{
				@include rtl-border-left(0);
			}
		}
		.header-left{
			display:flex;
			flex:1;
			@include rtl-margin-right(30px);
			.wpbingoLogo{
				width:100%;
				max-width:300px;
			}
			.header-search-form{
				@include rtl-margin-left(0);
				.search-from{
					max-width:100%;
				}
			}
		}
		.categories-vertical-menu .widget-title{
			background:$theme-color;
			&:before{
				background:$white;
				width:1px;
				height:40px;
				top:calc(50% - 20px);
				left:60px;
			}
		}
		.header-menu{
			@include rtl-margin-left(10px);
			width:100%;
			flex:1;
			@media (max-width:1400px){
				@include rtl-margin-left(20px);
			}
		}
		.header-wrapper{
			padding:13px 0;
			.row{
				align-items:center;
			}
		}
		.header-page-link{
			.phone{
				border-color:#494d53;
				label{
					color:$white;
				}
				a,span{
					color:$white;
				}
			}
			a{
				color:$white;
				&:hover{
					color:$theme-color;
				}
			}
			.mini-cart{
				.cart-icon {
					color:$white;
					&:hover{
						color:$theme-color;
					}
				}
			}
			.account h2{
				color:$white;
				&:hover{
					color:$theme-color;
				}
			}
		}
		.list-link-menu{
			ul{
				li{
					font-size:16px;
					text-transform:capitalize;
					font-family:$font-family-second;
					a{
						color:$theme-color;
						position:relative;
						display:inline-block;
						top:-2px;
						&:before{
							content:"";
							position:absolute;
							bottom:2px;
							left:50%;
							@include transform(translateX(-50%));
							@include transition(all 0.3s ease);
							@include size(100%,1px);
							background:$theme-color;
						}
						&:hover{
							&:before{
								width:50%;
							}
						}
					}
				}
			}
		}
		@media (max-width:1700px) and (min-width:1601px){
			.categories-vertical-menu .bwp-vertical-navigation > div ul.menu li.level-0 > a{
				padding:9px 20px;
			}
		}
		@media (max-width:1600px) and (min-width:1530px){
			.categories-vertical-menu .bwp-vertical-navigation > div ul.menu{
				li.level-0 > a{
					padding:7.5px 20px;
				}
				.more-wrap span{
					line-height:35px;
				}
			}
		}
		@media (max-width:1400px) and (min-width:$screen-md-max){
			.header-page-link{
				.ship{
					display:none;
				}
				@include rtl-margin-left(-20px);
				>*{
					@include rtl-margin-left(10px);
				}
			}
		}
		@media (max-width:$screen-sm-max){
			.header-left{
				@include rtl-margin-right(0);
			}
			.header-mobile{
				background:#33373e;
				.navbar-toggle:before{
					color:$white;
				}
				.mini-cart .cart-icon{
					color:$white;
				}
			}
		}
	}
	&.header-v7{
		.categories-vertical-menu{
			.widget-title{
				background:$gray-dark;
				i{
					background:$gray-dark;
					&:before,&:after{
						background:$gray-dark;
					}
				}
				&:before{
					background:$white;
				}
			}
			>div{
				top:calc(100% + 10px);
				border: 1px solid #e3e3e3;
			}
		}
		.header-bottom{
			background:$theme-color;
			border:0;
		}
		.header-wrapper{
			padding:13px 0;
			.row{
				align-items:center;
				margin:0;
				justify-content:space-between;
			}
		}
		.header-search-form{
			@include rtl-margin-left(85px);
			.search-from{
				max-width:100%;
			}
		}
		.header-menu{
			@include rtl-margin-left(30px);
			flex:1;
			.bwp-navigation ul > li.level-0{
				@include rtl-border-right(1px solid rgba($white,0.2));
				&:last-child{
					@include rtl-border-right(0);
				}
				>a{
					color:$white;
					&:after{
						position:relative;
						top:-2px;
					}
					
				}
				&:first-child{
					@include rtl-padding-left(0);
				}
			}
		}
		.list-link-menu{
			ul{
				li{
					border-color:rgba($white,0.2);
					font-size:16px;
					text-transform: capitalize;
					letter-spacing:0;
				}
			}
			a{
				color:$white;
				position:relative;
				display:inline-block;
				top:-2px;
				&:before{
					width:100%;
					background:$white;
					height:1px;
					content:"";
					position:absolute;
					bottom:0;
					@include transform(translateX(-50%));
					left:50%;
					@include transition(all 0.3s ease);
				}
				&:hover{
					&:before{
						width:50%;
					}
				}
			}
		}
		.header-left{
			display:flex;
			flex:1;
			@include rtl-margin-right(30px);
		}
		@media (max-width:$screen-sm-max){
			.header-mobile{
				border-bottom:1px solid $gray-lighter;
			}
			.header-left{
				@include rtl-margin-right(0);
			}
		}
	}
    &.bwp-header-default{
        padding: 40px 0;
		.header-content{
			.row{
				align-items:center;
			}
		}
		.wpbingoLogo{
			@media (max-width:$screen-xs){
				@include rtl-text-align-left();
			}
		}
        .wpbingo-menu-mobile{
			&.text-right{
				.navbar-toggle{
					@include rtl-float-right();
				}
				.bwp-navigation ul>li.level-0{
					&:last-child{
						>a{
							@include rtl-margin-right(0);
						}
					}
				}
			}
        }
		@media (max-width:$screen-sm-max){
			padding:0;
			.wpbingoLogo{
				margin-bottom:0 !important;
			}
			.header-logo{
				margin-bottom:0 !important;
			}
			#show-megamenu{
				position:unset !important;
				margin-top:10px;
			}
		}
    }
}
.form-login-register{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba($gray-dark,0.7);
	&.active{
		display:block;
	}
	.active-login{
		position:absolute;
		@include square(30px);
		@include border-radius(50%);
		color:$white;
		font-size:18px;
		text-align:center;
		line-height:30px;
		background:$theme-color;
		@include rtl-right(-15px);
		top:-15px;
		z-index:10;
		cursor:pointer;
		&:hover{
			background:darken($theme-color,10%);
		}
	}
	.box-content{
		position:relative;
		overflow:hidden;
		.form-login{
			position:relative;
			z-index:3;
			background:$white;
			@include opacity-h();
			@include transition(all 0.5s ease);
			@include transform(translateX(-100%));
			&.active{
				@include opacity-s();
				@include transform(translateX(0));
			}
		}
		.form-register{
			position:absolute;
			width:100%;
			top:0;
			left:0;
			z-index:2;
			background:$white;
			@include opacity-h();
			@include transition(all 0.5s ease);
			@include transform(translateX(100%));
			&.active{
				@include opacity-s();
				@include transform(translateX(0));
			}
		}
	}
	.box-form-login{
		width:100%;
		max-width:510px;
		background:$white;
		margin:auto;
		position:absolute;
		left:calc(50% - 255px);
		top:50%;
		@include transform(translateY(-50%));
		h2{
			text-align:center;
			position:relative;
			padding-top:40px;
			margin:0;
			font-size:24px;
			font-family:$font-family-monospace;
			border-bottom:1px solid #e1e1e1;
			padding-bottom:12px;
			margin-bottom:40px;
			margin-top:20px;
			&:before{
				position:absolute;
				top:0;
				font-size:28px;
				left:calc(50% - 14px);
				content:"\e911";
				font-family:wpbingofont;
			}
			&:after{
				content:"";
				@include size(210px,1px);
				background:$theme-color;
				position:absolute;
				bottom:-1px;
				left:calc(50% - 105px);
			}
		}
		.button-login{
			input[type="submit"]{
				background:$gray-dark;
				border:0;
				font-size:12px;
				color:$white;
				font-family:$font-family-monospace;
				text-transform:uppercase;
				cursor:pointer;
				&:hover{
					background:$theme-color;
				}
			}
		}
		.button-next-reregister{
			line-height:48px;
			color:$gray-dark;
			border:1px solid $gray-dark;
			font-family:$font-family-monospace;
			text-transform:uppercase;
			cursor:pointer;
			text-align:center;
			margin-top:12px;
			display:inline-block;
			width:100%;
			&:hover{
				background:$theme-color;
				color:$white;
				border-color:$theme-color;
			}
		}
		.content{
			padding:0 60px 30px;
			input{
				width:100%;
				height:50px;
				line-height:50px;
			}
			.username,.password,.email{
				margin-bottom:15px;
				input{
					@include rtl-padding(0 ,20px ,0 ,40px);
				}
			}
			.username{
				margin-bottom:15px;
				position:relative;
				&:before{
					content:"\e910";
					font-family:wpbingofont;
					font-size:20px;
					color:$gray-dark;
					position:absolute;
					line-height:50px;
					@include rtl-left(13px);
				}
			}
			.password{
				position:relative;
				&:before{
					content:"\e90f";
					font-family:wpbingofont;
					font-size:20px;
					color:$gray-dark;
					position:absolute;
					line-height:50px;
					@include rtl-left(13px);
				}
			}
			.email{
				position:relative;
				&:before{
					content:"\e90e";
					font-family:wpbingofont;
					font-size:20px;
					color:$gray-dark;
					position:absolute;
					line-height:50px;
					@include rtl-left(13px);
				}
			}
		}
		.user-role{
			margin:0 0 18px;
			justify-content:space-between;
			&:after,&:before{
				display:none;
			}
			input{
				@include square(16px);
				display:inline-block;
				position:relative;
				top:3px;
			}
			.radio{
				color:$gray-dark;
				font-family:$font-family-second;
				cursor: pointer;
			}
		}
		.rememberme-lost{
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
			margin-top:17px;
			margin-bottom:20px;
			.rememberme{
				@include rtl-margin-right(10px);
				position:relative;
				input{
					display:none;
					&:checked + label:after{
						@include scale(1);
					}
				}
			}
			.inline{
				color:$gray-dark;
				font-family:$font-family-second;
				cursor: pointer;
				&:before{
					@include square(16px);
					content:"";
					display:inline-block;
					@include border-radius(50%);
					border:2px solid $gray-dark;
					@include rtl-margin-right(5px);
					position:relative;
					top:3px;
					z-index:2;
				}
				&:after{
					@include square(16px);
					content:"";
					display:inline-block;
					@include border-radius(50%);
					position:absolute;
					top:3px;
					border:4px solid $white;
					@include rtl-left(0);
					background:$theme-color;
					@include transition(all 0.3s ease);
					z-index:1;
					@include scale(0);
				}
			}
			.lost_password{
				font-family:$font-family-second;
				a{
					display:inline-block;
					position:relative;
					&:before{
						bottom:0;
						left:50%;
						@include translateX(-50%);
						content:"";
						position:absolute;
						@include size(100%,1px);
						@include transition(all 0.3s ease);
						background:$gray-dark;
					}
					&:hover{
						&:before{
							background:$theme-color;
							width:50%;
						}
					}
				}
			}
		}
		.form-register{
			h2{
				&:before{
					content:"\e910";
				}
			}
		}
	}
	@media (max-width:$screen-xs-max){
		.box-form-login{
			max-width:310px;
		}
	}
}
/************************************************************************************************
    SICKEY MENU
*************************************************************************************************/ 
.bwp-header.sticky{
    position: fixed !important;
    width: 100%;
    background: rgba($white,0.93);
    z-index: 900;
    left: 0;
    padding: 20px 0 !important;
    right: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
    top: 0;
    border: none;
    @include animation(sticky-header 900ms ease-in-out);
    #bwp-topbar{ display: none; }
	.header-wrapper{
		padding:0 !important;
	}
	.header-vertical-menu{
		display:none;
	}
	&.header-v3{
		.header-bottom{
			display:none;
		}
	}
	&.header-v5{
		padding: 0 !important;
		.header-wrapper{
			display:none;
		}
	}
	&.header-v4{
		background: #1f1f1f;
		.header-wrapper{
			display:none;
		}
		.header-bottom{
			border:0;
		}
		.header-menu{
			@include rtl-margin-left(0);
		}
	}
	&.header-v6{
		.header-wrapper{
			display:none;
		}
		.header-menu{
			@include rtl-margin-left(0);
		}
		.bwp-navigation ul > li.level-0:first-child{
			@include rtl-padding-left(0);
		}
	}
	&.header-v7{
		background:$theme-color;
		.header-wrapper{
			display:none;
		}
		.header-menu{
			@include rtl-margin-left(0);
		}
	}
	@media (max-width:$screen-sm-max){
		position:relative !important;
		animation: none;
		.header-mobile{
			>.container{
				position: fixed !important;
				width: 100%;
				background: #fff;
				z-index: 900;
				left: 0;
				padding-top:15px;
				padding-bottom:15px;
				right: 0;
				box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
				top: 0;
				border: none;
				@include animation(sticky-header 900ms ease-in-out);
			}
		}
	}
}

.wpbingoLogo-sticky{
    display: none;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
