h1.bwp-title-default{
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
}


/* Block default ------------------------------------------------------------------------*/
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    border: 0px solid $block-module-border-color;
    position: relative;
    padding: $block-module-padding;
    .#{$block-heading-selector}{
        
        &.separator_align_center{
            .widget-arrow{
                margin: 0 auto;
                @include rtl-left(0);
                @include rtl-right(0);
            }
        }
        // Align  right
        &.separator_align_right{
            .widget-arrow{
                &:before{
                    @include rtl-left(auto);
                    @include rtl-right(47px);
                }
                &:after{
                    @include rtl-left(47px);
                }
                @include rtl-left(auto);
                @include rtl-right(70px);
            }
        }
        // Align  left
        &.separator_align_left{
            .widget-arrow{
                &:before{
                    @include rtl-left(-70px);
                }
                &:after{
                    @include rtl-left(47px);
                }
                @include rtl-left(74px);
            }
        }

    }
    .#{$block-content-selector} {
        @include border-radius ($block-module-content-radius);
        @include clearfix();
    }
    .#{$block-heading-reversed-selector}{
        @include rtl-margin-right(75px);
    }

    /* block styles */
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }
}
 
  
/* Contextual variations ------------------------------------------------------------*/
.#{$block-prefix}-theme {
  @include block-variant($panel-default-border, $white, $theme-color, $panel-default-border);
}
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

.#{$block-prefix}-highlighted {
    margin: $block-sidebar-hightlight-margin;
    .#{$block-heading-selector}{
        margin: $block-sidebar-heading-hightlight-margin;
        color: $block-sidebar-heading-hightlight-color;
        padding: $block-sidebar-heading-hightlight-padding;
        @include rtl-padding-right(0);
        background: $block-sidebar-heading-hightlight-bg;
        font-weight: $block-sidebar-heading-hightlight-font-weight;
        font-size: $block-sidebar-heading-hightlight-font-size;
        border: none!important;
        text-transform: uppercase;
        overflow: hidden;
        > span{
            position: relative;
            padding: 0 15px;
            &:after, &:before{
                content: "";
                position: absolute;
                top: 50%;
                height: 1px;
                width: 1000px;
                background: $border-color;
            }
            &:after{
                @include rtl-left(100%); 
            }
            &:before{
                 @include rtl-right(100%);
            }
            > span{ 
                position: relative;
                padding: 7px 15px;
                &:after, &:before{
                    content: ""; 
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background: $theme-color;
                    @include rotate(-45deg);
                }
                &:after{
                    left: 100%;
                }
                &:before{
                    right: 100%;
                }
            }
        }
    } 
    .#{$block-content-selector} {
        padding: $block-sidebar-hightlight-content-padding;
        background: $block-sidebar-hightlight-content-bg;
        > div {
            background: $block-sidebar-hightlight-content-bg;
            > ul > li{
                border: none;
                > a{
                    padding: $block-sidebar-list-hightlight-padding;
                    border-top: $block-sidebar-hightlight-border;
                    color: $block-sidebar-hightlight-content-color;
                    margin: 0;
                    &:hover{
                       border-top: $block-sidebar-hightlight-border; 
                    }
                }
                &:first-child a{
                    border-top: none;
                }
            }
        }
    }      
}

.productListBanner {
    position: relative;
    z-index: 9;
    margin-top: 60px;
}
.productListTitle {
    padding-top: 32px;
    padding-bottom: 20px;
     .bingoHomeTitle {
        padding-bottom: 10px;
        @include rtl-text-align-left();
        @include rtl-float-left();
    }
}
.bingoHomeTitle {
    position: relative;
    font-family: Quantico;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 10px 0px;
    padding-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    span {
        display: block;
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 400;
        color: #898989;
        text-transform: none;
        line-height: 22px;
        padding-top: 5px;
    }
}
.productListTitle .btnBingoOne {
    float: right;
    font-weight: bold;
    border: 3px solid #252525;
    color: #252525;
    background-color: transparent;
    margin-top: 8px;
}
.btnBingoOne {
    font-family: Quantico;
    font-size: 18px;
    padding: 10px 22px;
    text-transform: uppercase;
    background-color: #cb2e41;
    border-color: #cb2e41;
    color: #ffffff;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    &:hover {
        color: white;
        background-color: #cb2d41;
        border-color: #cb2d41;
    } 
}

/* Block inline style -----------------------------------------------------------*/
.#{$block-prefix}-inline{
    .icon{
        @include font-size(font-size, 35px);
    }
    .explain{
        @include font-size(font-size, 11px);
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;
        text-transform: $block-module-heading-transform;
        font-weight: $headings-font-weight;
        @include font-size(font-size,$block-module-heading-font-size);
    }
    .input-group{
        width: 98%
    }
}

/* Twitter -----------------------------------------------------------------------*/
.bwp-twitter-slider {
    a {
        color: $theme-color-default;
    }
}

/* Testimonial -----------------------------------------------------------------*/
//testimonial
.bwp-testimonial{
    h5.testimonial-customer-name{
        font-size: 22px;
    }
    .testimonial-image{
        img{
            @include border-radius(50%);
        }
    }
    &.default,&.layout3{
		.slick-dots{
			margin-top:30px;
		}
		.item{
			border:1px solid #e5e5e5;
			padding:25px 35px 40px;
			@media (max-width:$screen-xs-max){
				padding:25px 20px 15px;
			}
		}
		.testimonial-customer-position{
			margin-bottom:30px;
		}
		
		.testimonial-image{
			img{
				max-width:65px;
			}
		}
		.testimonial-info{
			display:flex;
			align-items:center;
		}
		.testimonial-customer-name{
			margin:0;
			font-size:12px;
			text-transform:uppercase;
			font-weight:500;
			font-family:CerebriSans Bold;
			position:relative;
			&:before{
				content:"";
				@include size(22px,1px);
				background:$gray-dark;
				display:inline-block;
				@include rtl-margin-right(15px);
				vertical-align:middle;
				position:relative;
				top:-2px;
			}
		}
		.star{
			margin-bottom:10px;
			&:before,&:after{
				display:inline-block;
				color:#ffc107;
				font-family:"FontAwesome";
				font-size:13px;
				line-height:1;
				letter-spacing:4px;
			}
			&:after{
				color:$gray-light;
			}
			&.star-1{
				&:before{
					content:"\f005";
				}
				&:after{
					content:"\f005\f005\f005\f005";
				}
			}
			&.star-2{
				&:before{
					content:"\f005\f005";
				}
				&:after{
					content:"\f005\f005\f005";
				}
			}
			&.star-3{
				&:before{
					content:"\f005\f005\f005";
				}
				&:after{
					content:"\f005\f005";
				}
			}
			&.star-4{
				&:before{
					content:"\f005\f005\f005\f005";
				}
				&:after{
					content:"\f005";
				}
			}
			&.star-5{
				&:before{
					content:"\f005\f005\f005\f005\f005";
				}
			}
		}
    }
	&.layout2{
		.slick-dots{
			margin-top:30px;
		}
		.title-item{
			font-size:24px;
			margin:-5px 0 15px;
		}
		.testimonial-customer-position{
			margin-bottom:10px;
			font-size:16px;
		}
		.testimonial-job{
			font-size:15px;
		}
		.star{
			margin-bottom:10px;
			&:before,&:after{
				display:inline-block;
				color:#ffc107;
				font-family:"FontAwesome";
				font-size:13px;
				line-height:1;
				letter-spacing:4px;
			}
			&:after{
				color:$gray-light;
			}
			&.star-1{
				&:before{
					content:"\f005";
				}
				&:after{
					content:"\f005\f005\f005\f005";
				}
			}
			&.star-2{
				&:before{
					content:"\f005\f005";
				}
				&:after{
					content:"\f005\f005\f005";
				}
			}
			&.star-3{
				&:before{
					content:"\f005\f005\f005";
				}
				&:after{
					content:"\f005\f005";
				}
			}
			&.star-4{
				&:before{
					content:"\f005\f005\f005\f005";
				}
				&:after{
					content:"\f005";
				}
			}
			&.star-5{
				&:before{
					content:"\f005\f005\f005\f005\f005";
				}
			}
		}
		.testimonial-image{
			img{
				max-width:95px;
			}
		}
		.testimonial-info{
			display:flex;
			align-items:center;
			margin-top:25px;
		}
		.content{
			@include rtl-padding-left(25px);
		}
		.testimonial-customer-name{
			margin:0 0 5px;
			font-size:14px;
			text-transform:uppercase;
		}
		.item{
			padding:50px;
		}
		.testimonial-content{
			.item{
				background:#efe6f4;
			}
			&:nth-child(2n + 1){
				.item{
					background:#e6f1f4;
				}
			}
			&:nth-child(3n + 1){
				.item{
					background:#f4ece6;
				}
			}
		}
		@media (max-width:$screen-md-max){
			.item{
				padding:30px 25px;
			}
		}
    }
	&.layout4{
		.slick-dots{
			margin-top:30px;
		}
		.testimonial-customer-position{
			margin-bottom:10px;
			font-style:italic;
		}
		.star{
			margin-bottom:10px;
			&:before,&:after{
				display:inline-block;
				color:#ffc107;
				font-family:"FontAwesome";
				font-size:13px;
				line-height:1;
				letter-spacing:4px;
			}
			&:after{
				color:$gray-light;
			}
			&.star-1{
				&:before{
					content:"\f005";
				}
				&:after{
					content:"\f005\f005\f005\f005";
				}
			}
			&.star-2{
				&:before{
					content:"\f005\f005";
				}
				&:after{
					content:"\f005\f005\f005";
				}
			}
			&.star-3{
				&:before{
					content:"\f005\f005\f005";
				}
				&:after{
					content:"\f005\f005";
				}
			}
			&.star-4{
				&:before{
					content:"\f005\f005\f005\f005";
				}
				&:after{
					content:"\f005";
				}
			}
			&.star-5{
				&:before{
					content:"\f005\f005\f005\f005\f005";
				}
			}
		}
		.testimonial-item{
			position:relative;
			padding-top:35px;
			&:before{
				content:"\e911";
				font-family:icomoon;
				position:absolute;
				top:0;
				@include rtl-left(0);
				color:$theme-color;
				line-height:1;
				font-size:22px;
			}
		}
		.testimonial-image{
			img{
				max-width:95px;
			}
		}
		.testimonial-info{
			display:flex;
			align-items:center;
			margin-top:25px;
		}
		.content{
			@include rtl-padding-left(25px);
		}
		.testimonial-customer-name{
			margin:0 0 5px;
			font-size:14px;
			text-transform:uppercase;
			font-family: $font-family-monospace;
		}
		.item{
			padding:25px 20px 15px;
			border:2px solid #e5e5e5;
		}
		@media (max-width:$screen-md-max){
			.slick-list{
				margin:0 -14px;
			}
			.item{
				padding:30px 25px;
			}
		}
    }
	&.layout5{
		.slick-dots{
			margin-top:30px;
			li{
				button{
					background:rgba($white,0.3);
				}
				&.slick-active{
					button{
						background:$white;
					}
				}
			}
		}
		.testimonial-customer-position{
			margin-bottom:10px;
		}
		.star{
			margin-bottom:10px;
			&:before,&:after{
				display:inline-block;
				color:#ffc107;
				font-family:"FontAwesome";
				font-size:13px;
				line-height:1;
				letter-spacing:4px;
			}
			&:after{
				color:$gray-light;
			}
			&.star-1{
				&:before{
					content:"\f005";
				}
				&:after{
					content:"\f005\f005\f005\f005";
				}
			}
			&.star-2{
				&:before{
					content:"\f005\f005";
				}
				&:after{
					content:"\f005\f005\f005";
				}
			}
			&.star-3{
				&:before{
					content:"\f005\f005\f005";
				}
				&:after{
					content:"\f005\f005";
				}
			}
			&.star-4{
				&:before{
					content:"\f005\f005\f005\f005";
				}
				&:after{
					content:"\f005";
				}
			}
			&.star-5{
				&:before{
					content:"\f005\f005\f005\f005\f005";
				}
			}
		}
		.testimonial-item{
			position:relative;
		}
		.testimonial-image{
			img{
				max-width:95px;
			}
		}
		.testimonial-info{
			display:flex;
			align-items:center;
			margin-top:25px;
		}
		.content{
			@include rtl-padding-left(25px);
		}
		.testimonial-customer-name{
			margin:0 0 5px;
			font-size:14px;
			text-transform:uppercase;
			font-family: $font-family-monospace;
		}
		.item{
			padding:45px 50px 40px;
			background:$white;
		}
		@media (max-width:$screen-md-max){
			.slick-list{
				margin:0 -14px;
			}
			.item{
				padding:30px 25px;
			}
		}
    }
	&.layout6{
		text-align:center;
		.slick-dots{
			margin-top:5px;
			li{
				button{
					background:rgba($white,0.3);
				}
				&.slick-active{
					button{
						background:$white;
					}
				}
			}
		}
		.testimonial-customer-position{
			margin-bottom:10px;
			color:$white;
		}
		.star{
			margin-bottom:10px;
			&:before,&:after{
				display:inline-block;
				color:#ffc107;
				font-family:"FontAwesome";
				font-size:13px;
				line-height:1;
				letter-spacing:4px;
			}
			&:after{
				color:$gray-light;
			}
			&.star-1{
				&:before{
					content:"\f005";
				}
				&:after{
					content:"\f005\f005\f005\f005";
				}
			}
			&.star-2{
				&:before{
					content:"\f005\f005";
				}
				&:after{
					content:"\f005\f005\f005";
				}
			}
			&.star-3{
				&:before{
					content:"\f005\f005\f005";
				}
				&:after{
					content:"\f005\f005";
				}
			}
			&.star-4{
				&:before{
					content:"\f005\f005\f005\f005";
				}
				&:after{
					content:"\f005";
				}
			}
			&.star-5{
				&:before{
					content:"\f005\f005\f005\f005\f005";
				}
			}
		}
		.testimonial-item{
			position:relative;
			padding-top:35px;
			&:before{
				content:"\e911";
				font-family:icomoon;
				position:absolute;
				top:0;
				left:calc(50% - 13px);
				color:$white;
				line-height:1;
				font-size:26px;
			}
		}
		.testimonial-image{
			img{
				max-width:90px;
				margin:auto;
			}
		}
		.testimonial-customer-name{
			margin:10px 0 0;
			font-size:14px;
			text-transform:uppercase;
			font-family: $font-family-monospace;
			color:$white;
		}
		.testimonial-job{
			color:$white;
			font-size:14px;
		}
		.block_content{
			padding:30px 20px 25px;
		}
		@media (max-width:$screen-md-max){
			.slick-list{
				margin:0 -14px;
			}
			.item{
				padding:30px 25px;
			}
		}
    }
	&.layout3{
		.item{
			background:$white;
			border:0;
		}
	}
}

/* Bin Brand -----------------------------------------------------------------*/
.bwp-brand{
    .item{
        .item-image{
            display: flex;
            justify-content: center;
        }
    }
	&.default{
		.slick-arrow{
			top:-5px;
			right:15px;
			height:40px;
			line-height:40px;
			@include border-radius(0);
			border:1px solid rgba($light-gray,0.25);
			color:$light-gray;
			background:$white;
			&:hover{
				color:$theme-color;
				background:$white;
			}
			&.fa-angle-left{
				right:55px !important;
				left:auto !important;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				border-right:0;
				padding:0 5px 0 15px;
				&:before{
					content: "\23";
					font-family: eleganticons;
				}
			}
			&.fa-angle-right{
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				border-left:0;
				padding:0 15px 0 5px;
				&:before{
					content: "\24";
					font-family: eleganticons;
				}
			}
			@media (max-width:$screen-sm-max){
				display:none !important;
			}
		}
		.item{
			&.slick-active{
				&:last-child{
					border-right:0;
				}
			}
			.item-image{
				margin-bottom:20px;
				&:last-child{
					border-bottom:0;
				} 
				a {
					min-height: 55px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				img{
					@include transition(all 0.5s ease);
					@include scale(1);
				}
				&:hover{
					img{
						@include scale(1.1);
					}
				}
				&:last-child{
					margin-bottom:0;
				}
			}
			&.slick-active{
				&:first-child{
					border-left:0;
				}
			}
		}
		.slider{
			.slick-list{
				margin:0 -10px;
			}
		}
	}
	&.default{
		.item-image{
			min-height:100px;
			display:flex;
			align-items:center;
			justify-content:center;
			img{
				@include transition(all 0.5s ease);
				@include scale(1);
			}
			&:hover{
				img{
					@include scale(1.1);
				}
			}
		}
	}
	&.default2{
		background:$white;
		border:1px solid #dedede;
		.slick-list{
			margin:0 -1px;
		}
		.item{
			padding:0;
		}
		.item-image{
			min-height:200px;
			padding:5px 0;
			display:flex;
			align-items:center;
			justify-content:center;
			@include rtl-border-right(1px solid #dedede);
			img{
				@include transition(all 0.5s ease);
				@include scale(1);
			}
			&:hover{
				img{
					@include scale(1.1);
				}
			}
		}
		.slick-arrow{
			background:$theme-color;
			&:hover{
				background:darken($theme-color,10%);
			}
			&.fa-angle-left{
				@include rtl-left(-12.5px);
			}
			&.fa-angle-right{
				@include rtl-right(-12.5px);
			}
		}
	}
	&.layout2{
		border:1px solid #dddddd;
		.slick-list{
			margin:0 -1px;
		}
		.item{
			padding:30px 0;
		}
		.item-image{
			min-height:100px;
			display:flex;
			align-items:center;
			justify-content:center;
			@include rtl-border-right(1px solid #dddddd);
			img{
				@include transition(all 0.5s ease);
				@include scale(1);
			}
			&:hover{
				img{
					@include scale(1.1);
				}
			}
		}
		.slick-arrow{
			background:$theme-color;
			&:hover{
				background:darken($theme-color,10%);
			}
			&.fa-angle-left{
				@include rtl-left(-12.5px);
			}
			&.fa-angle-right{
				@include rtl-right(-12.5px);
			}
		}
	}
}

/* bwp client -----------------------------------------------------------------*/
.bwp-client{
    .item{
        .item-image{
            display: flex;
            justify-content: center;
        }
    }
	&.default{
		.item-image{
			min-height:100px;
			display:flex;
			align-items:center;
			justify-content:center;
			img{
				@include transition(all 0.5s ease);
				@include scale(1);
			}
			&:hover{
				img{
					@include scale(1.1);
				}
			}
		}
	}
	&.slider{
		background:$white;
		border:1px solid #dedede;
		.slick-list{
			margin:0 -1px;
		}
		.item{
			padding:5px 0;
			@include rtl-border-right(1px solid #dedede);
		}
		.item-image{
			min-height:200px;
			padding:5px 0;
			display:flex;
			align-items:center;
			justify-content:center;
			img{
				@include transition(all 0.5s ease);
				@include scale(1);
			}
			&:hover{
				img{
					@include scale(1.1);
				}
			}
		}
		.slick-arrow{
			background:$theme-color;
			&:hover{
				background:darken($theme-color,10%);
			}
			&.fa-angle-left{
				@include rtl-left(-12.5px);
			}
			&.fa-angle-right{
				@include rtl-right(-12.5px);
			}
		}
	}
	&.slider2{
		.item-image{
			min-height:150px;
			display:flex;
			align-items:center;
			justify-content:center;
			img{
				@include transition(all 0.5s ease);
				@include scale(1);
			}
			&:hover{
				img{
					@include scale(1.1);
				}
			}
		}
	}
}

/* CTA -----------------------------------------------------------------*/
.bwp-cta{
	&.default{
		text-align:center;
		border:1px solid rgba($gray-lighter,0.5);
		padding:30px 25px;
		&:hover{
			.box-image{
				img{
					-webkit-animation-name: shakes;
					animation-name: shakes;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-timing-function: ease-in-out;
					animation-timing-function: ease-in-out;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
				}
			}
		}
		.count-cta{
			font-size:28px;
			font-weight:700;
			margin:0;
			margin-top:25px;
		}
		.title-cta{
			font-size:18px;
			margin-top:5px;
		}
	}
}

/* Block style in footer ------------------------------------------------------------*/
.#{$app-prefix}-footer{
    .#{$block-selector} {
        border:none;
        padding: 0;
        background: $nocolor;
        margin: $footer-column-margin;
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            padding: $footer-heading-padding;
            font-size: $footer-heading-font-size;
            @include rtl-text-align-left();
            border: none; 
            > span{
                position: relative; 
                padding: 0 10px;
                &:after, &:before{
                    content: "";
                    height: 0;
                    width: 0;
                    background: none;
                }
               
                > span{ 
                    position: relative;
                    padding: 0 10px;
                    &:after, &:before{
                       content: "";
                        height: 0;
                        width: 0;
                        background: none;
                    }
                }
            }   
        }
        .#{$block-content-selector}{
            border:none;
            padding: 0
        }
    }
    @media (max-width: $screen-xs-max){
        .vc_row{
            >div + div{
                margin-top: 0;
            }
            &.footer-copyright{
                >div + div{
                    margin-top: 15px;
                }
            }
        }
    }
}

/************************************************************************************************
    WIDGET SEARCH
*************************************************************************************************/
.widget_search{
    .container{
        padding: 0;
        input[type="text"]{
            border: 0;
            padding: 0;
        }
    }
	.form-content{
		position:relative;
		input[type="text"]{
			line-height:45px;
			height:45px;
			border:1px solid $light-gray;
			padding:0 20px;
			width:100%;
		}
		#searchsubmit{
			position:absolute;
			top:0;
			@include rtl-right(0);
			padding:0 10px;
			&:hover{
				i{
					color:$theme-color;
				}
			}
		}
	}
    .search-from .btn{
		background:transparent;
		border:0;
		line-height:0;
    }
}

/************************************************************************************************
    Bingo Filter Hompage
*************************************************************************************************/
.bwp-filter-homepage{
    .bwp-filter-heading{
        display: inline-block;
        width: 100%;
        vertical-align: top;
        overflow: hidden;
		@media (max-width:$screen-sm-max){
			margin-bottom:30px;
		}
        ul{
            list-style-type: none;
            right: 0;
            left: auto;
            padding: 0;
			li{
				@include transition(all 0.3s ease);
			}
        }
		.category-nav{
			display:inline-block;
			text-align:center;
		}
        ul.filter-category{
            padding: 0;
            li{
                display:inline-block;
                &:hover,&.active{
                    cursor: pointer;
                }
            }
        }
        .bwp-filter-toggle{
            font-weight: 500;
            display: inline-block;
            position: relative;
            font-size: 12px;
            text-transform: uppercase;
			cursor: pointer;
			color:$gray-dark;
			padding:0 15px 0 35px;
			line-height:32px;
			border:2px solid $gray-dark;
			position:relative;
			top:20px;
            &:before{
                position: absolute;
                content: "\f136";
                font-family: Material;
                font-size: 0;
                color: $brand-danger;
                @include transform(scale(0));
                opacity: 0;
                visibility: hidden;
                @include transition(transform 0.2s ease);
				left:15px;
				font-size: 16px;
				top: calc(50% - 8px);
				line-height:1;
            }
			i{
				font-size: 16px;
				position: absolute;
				top: calc(50% - 8px);
				left:15px;
			}
            &.active{
				i{
					display:none;
				}
                &:before{
                    @include transform(scale(1));
                    opacity: 1;
                    visibility: visible;
                }
            }
			&:hover{
				border-color:$theme-color;
				color:$theme-color;
			}
        }
        .filter-order-by{
            &.open{
                >button{
                    color: $theme-color;
                    &:before{
                        opacity: 1;
                        width: 100%;
                    }
                    .caret{
                        &:before{
                            content: "\32";
							font-family: ElegantIcons;
                        }
                    }
                }
            }
            >.dropdown-menu{
                top: calc(100% + 5px);
                padding: 10px 20px;
                line-height: 28px;
				min-width:200px;
            }
            >button{
                text-transform: uppercase;
                background: transparent;
                border: 0;
                color: $gray-dark;
                font-weight: 500;
                font-size: 15px;
                padding: 0;
                &:focus{
                    outline: none;
                }
                .caret{
                    &:before{
                        content: "\33";
						font-family: ElegantIcons;
						font-size: 22px;
						font-size: 16px;
						position: relative;
						top: -3px;
                    }
                }
                &:hover{
                    color: $theme-color;
                }
            }
            ul li{ 
                cursor: pointer; 
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
	.bwp-filter-attribute{
		display: none;
		width: 100%;
		margin-bottom: 15px;
		.bwp-filter-attribute-inner{
			display: flex;
			flex-wrap:wrap;
			width: 100%;
			padding-top: 30px;
			@media (max-width: $screen-xs-max) {
				display: inline-block;
				padding-top: 0;
			}
			@media (min-width: $screen-sm) {
				padding: 37px 25px 30px;
				border: 1px solid $border-color;
				margin-bottom: 60px;
			}
			@media (max-width: $screen-sm-max) and (min-width: $screen-sm){
				padding-top: 20px;
				padding-bottom: 30px;
			}
			> div{
				flex:1;
				padding:0 15px;
				@media (max-width: $screen-sm-max) {
					flex:0 0 50%;
					margin-bottom:30px;
				}
				@media (max-width: $screen-xs-max) {
					width: 100%;
					padding: 0 !important;
					margin-bottom: 25px;
					display: inline-block;
				}
				ul{
					list-style:none;
					padding:0;
					li{
						float: left;
						width: 50%;
						padding: 5px 0;
						span{
							color: $text-color;
							cursor: pointer;
							&:hover{
								color: $gray-dark;
							}
						}
					}
					&:not(.pa_color){
						li{
							span{
								position:relative;
								&:before{
									content:"";
									@include square(17px);
									cursor: pointer;
									overflow: visible;
									display: inline-block;
									vertical-align: middle;
									border:1px solid #cccccc;
									@include rtl-margin-right(10px);
									position:relative;
									top:-2px;
								}
							}
							&.active{
								span{
									color:$gray-dark;
									&:before{
										border-color:$gray-dark;
									}
									&:after{
										content: "\f00c";
										font-family: FontAwesome;
										position: absolute;
										top: 4px;
										left: 4px;
										font-size: 11px;
										color: $gray-dark;
									}
								}
							}
						}
					}
				}
				&.bwp-filter-color{
					order: 1;
					.pa_color{
						li{
							.color{
								display: inline-block;
								vertical-align: top;
								@include square(16px);
								@include rtl-margin-right(10px);
								@include transform(translateY(3px));
								padding: 0;
								@include transition(transform 0.1s ease);
								@include border-radius(50%);
								&:before{
									content:"";
									@include square(22px);
									@include border-radius(50%);
									top:calc(50% - 11px);
									left:calc(50% - 11px);
									position:absolute;
									border:1px solid #cccccc;
								}
							}
							&.active{
								span{
									color:$gray-dark;
								}
								.color{
									&:before{
										border-color:$gray-dark;
									}
									&:after{
										display:none;
									}
								}
							}
						}
					}
					li[data-value="white"]{
						.color{
							border: 1px solid $border-color;
						}
						&.active{
							.color{
								&:before{
									top: -2px;
									@include rtl-left(5.5px);
									color: $theme-color;
								}
							}
						}
					}
				}
				&.bwp-filter-price{
					order: 3;
					h2{
						margin-bottom: 45px;
					}
					.bwp_slider_price{
						margin: 0;
						background: transparent;
						@include box-shadow(inset 0px 1px 3px 3px rgba(0, 0, 0, 0.2));
						height: 5px;
						@include border-radius(10px);
						width: calc(100% - 20px);
						&:after, &:before{
							display: none;
						}
						.ui-slider-handle{
							@include size(10px,14px);
							border: 1px solid $theme-color;
							background:$theme-color;
							top: -5px;  
						}
						.ui-slider-range{
							height: 5px;
							background: $theme-color;
							position: absolute;
							@include transform(translateX(10px));
							width: calc(100% -50px) !important;
						}
					}
					.price-input{
						margin-top: 20px;
						font-size: 14px;
						color: $gray-dark;
						font-weight:500;
						>span:not(.text-price-filter){
							color:$text-color;
							font-weight:400;
						}
					}
				}
				&.bwp-filter-brand{
					order: 2;
				}
			}
		}
		.clear_all{
			span{
				background: $theme-color;
				color: $white;
				text-transform: uppercase;
				padding: 5px 10px;
				font-size: 12px;
				display: inline-block; 
				&:hover{
					cursor: pointer;
					background: $gray-dark;
				}  
			}     
		}
		h2{
			color: $gray-dark;
			padding: 0 0 15px;
			background: transparent;
			font-weight: 500;
			font-size: 14px;
			margin: 0px 0 40px 0;
			position: relative;
			text-transform: uppercase;
			border-bottom: 1px solid $gray-light;
			letter-spacing: 3.2px;
		}
	}
	&.filter.slider{
		.bwp-filter-heading{
			overflow:unset;
		}
	}
	&.filter-default{
		.bwp-filter-heading{
			display:flex;
			justify-content:space-between;
			margin-bottom:50px;
			flex-wrap:wrap;
			ul{
				li{
					font-size:20px;
					margin:0 25px;
					position:relative;
					padding:15px 0;
					font-weight:500;
					&:before{
						content:"";
						position:absolute;
						bottom:0;
						@include size(0,2px);
						background:$gray-dark;
						@include transition(all 0.3s ease);
						left:50%;
						@include transform(translateX(-50%));
					}
					.item-count{
						position:absolute;
						top:0;
						font-size:14px;
						@include rtl-right(-10px);
					}
					&.active,&:hover{
						color:$gray-dark;
						&:before{
							width:100%;
						}
					}
					@media (max-width:$screen-sm-max){
						margin:0 15px;
						font-size:16px;
					}
				}
			}
			@media (max-width:$screen-sm-max){
				.filter-content{
					order:2;
					margin-top:10px;
					a{
						top:0;
					}
				}
			}
			@media (max-width:$screen-xs-max){
				.filter-content{
					flex:0 0 100%;
					margin-top:30px;
				}
				.filter-category{
					flex:0 0 100%;
					text-align:center;
				}
			}
			@media (max-width:$screen-xs){
				.filter-content{
					a{
						width:100%;
					}
				}
				.filter-category{
					li{
						margin:0 0 5px;
						width:100%;
						padding:10px;
						background:#f5f5f5;
						&:before{
							display:none;
						}
						.item-count{
							display:inline-block;
							font-size:12px;
							position:relative;
							top:-10px;
							right:0;
						}
					}
				}
			}
		}
		.products_loadmore{
			.btn.loadmore{
				margin-top:30px;
				line-height: 40px;
				height:44px;
				padding: 0 30px;
				background:transparent;
				color:$gray-dark;
				font-size:16px;
				font-weight:500;
				@include border-radius(0);
				letter-spacing:0;
				border:2px solid $gray-dark;
				span{
					padding:0;
					&:before{
						display:none;
					}
				}
				i{
					line-height:1;
					@include size(20px,15px);
					display:none;
					&:before{
						position:relative;
						left:1px;
					}
				}
				&:hover{
					i{
						color:$theme-color !important;
					}
				}
				&.loading{
					i{
						display:block;
					}
				}
			}
		}
	}
	&.tab_category_slider{
		.title-block{
			h2{
				font-size:30px;
				position:relative;
				margin:0;
			}
		}
		.bwp-filter-heading{ 
			position:relative;
			margin-bottom:30px;
			.category-tab-nav{
				display:flex;
				justify-content:space-between;
			}
			.filter-category{
				li{
					font-size:18px;
					a{
						display:inline-block;
						line-height:33px;
						@include transition(all 0.3s ease);
						color:$text-color;
						border:2px solid transparent;
						padding:0 22px;
						&:focus{
							color:$text-color;
						}
					}
					&:last-child{
						@include rtl-margin-right(0);
					}
					&:first-child{
						@include rtl-margin-left(0);
					}
					&.active{
						a{
							color:$gray-dark;
							border-color:$theme-color;
						}
					}
					&:hover{
						a{
							color:$gray-dark;
						}
					}
					@media (max-width:$screen-xs){
						width:100%;
						margin:0;
					}
				}
			}
			@media (max-width:$screen-sm-max){
				.category-tab-nav{
					flex-wrap:wrap;
					.title-block{
						width:100%;
						text-align:center;
						margin-bottom:30px;
						h2{
							&:before{
								left:calc(50% - 25px) !important;
							}
						}
					}
					.filter-category{
						width: 100%;
						text-align: center;
					}
				}
			}
		}
		.products-list.grid .product-wapper{
			margin-bottom:20px;
			.products-thumb{
				border:1px solid #e2e2e2;
			}
			.products-content{
				@include rtl-text-align-left();
			}
		}
		@media (max-width:$screen-md-max){
			.slick-list{
				margin:0 -14px;
			}
			.category-tab-nav{
				flex-wrap:wrap;
			}
			.title-block{
				width:100%;
				text-align:center;
				margin-bottom:20px;
			}
			.filter-category{
				width:100%;
				text-align:center;
			}
		}
	}
	&.tab_category_slider_2{
		.bwp-filter-heading{
			overflow:unset;
			margin-bottom:25px;
			.category-tab-nav{
				display:flex;
				justify-content:space-between;
				align-items:center;
			}
		}
		.title-block{
			h2{
				margin:0;
				text-transform:uppercase;
				font-size:20px;
				font-family:$font-family-monospace;
			}
		}
		.filter-category{
			li{
				@include rtl-margin-right(35px);
				&:last-child{
					@include rtl-margin-right(0);
				}
				a{
					color:$text-color;
					text-transform:uppercase;
					font-size:14px;
					font-family:$font-family-monospace;
					position:relative;
					display:inline-block;
					padding-bottom:5px;
					&:before{
						content:"";
						position:absolute;
						width:0;
						height:2px;
						background:$theme-color;
						@include transition(all 0.3s ease);
						bottom:0;
						left:50%;
						@include transform(translateX(-50%));
					}
				}
				&.active{
					a{
						color:$gray-dark;
						&:before{
							width:100%;
						}
					}
				}
			}
		}
		@media (max-width:$screen-sm-max){
			.bwp-filter-heading .category-tab-nav{
				display:block;
				text-align:center;
			}
			.title-block{
				margin-bottom:20px;
			}
			.filter-category{
				li{
					margin:0 10px !important;
				}
			}
		}
		@media (max-width:$screen-xs){
			.filter-category{
				li{
					margin:0 0 10px !important;
					display:block;
					width:100%;
					a{
						display:block;
						width:100%;
						background:#f5f5f5;
						padding:5px 0;
						&:before{
							display:none;
						}
					}
				}
			}
		}
	}
    &.loadmore{
		.bwp-filter-heading{
			margin-bottom:45px;
			.filter-order-by{
				float:unset;
				margin:0;
				text-align:center;
				ul{
					li{
						display:inline-block;
						font-size:16px;
						font-weight:500;
						color:$text-color;
						text-transform:uppercase;
						letter-spacing:3.2px;
						margin:0 25px;
						position:relative;
						padding-bottom:10px;
						&:before{
							content:"";
							position:absolute;
							bottom:0;
							left:50%;
							@include transform(translateX(-50%));
							@include transition(all 0.3s ease);
							@include opacity-h();
							background:$gray-dark;
							@include size(0,2px);
						}
						&.active,&:hover{
							color:$gray-dark;
							&:before{
								width:100%;
								@include opacity-s();
							}
						}
						@media (max-width:$screen-xs-max){
							margin:0;
							width:100%;
							&:before{
								display:none;
							}
						}
					}
				}
			}
		}
		.products_loadmore{
			.btn.loadmore{
				margin-top:15px;
				height:44px;
				line-height: 40px;
				padding: 0 30px;
				background:transparent;
				color:$gray-dark;
				font-size:12px;
				font-weight:700;
				text-transform:uppercase;
				@include border-radius(0);
				letter-spacing:4.8px;
				border:2px solid $gray-dark;
				span{
					padding:0;
					&:before{
						display:none;
					}
				}
				i{
					line-height:1;
					@include square(12px);
					display:none;
					&:before{
						position:relative;
						left:1px;
					}
				}
				&:hover{
					i{
						color:$theme-color !important;
					}
				}
			}
		}
    }
	&.tab_product_default{
		.button-all{
			width:20%;
			@include rtl-text-align-right();
			a{
				display:inline-block;
				position:relative;
				border:1px solid $gray-dark;
				padding:0 20px;
				line-height:40px;
				&:after{
					display:inline-block;
					content: "\24";
					font-family: 'ElegantIcons';
					font-size:16px;
					position:relative;
					top:3px;
					margin-left:5px;
					line-height:1;
				}
				&:hover{
					background:$theme-color;
					color:$white;
					border-color:$theme-color;
				}
			}
			@media (max-width:$screen-xs-max){
				width:100%;
			}
		}
		.title-block{
			position:relative;
			width:20%;
			padding-bottom:25px;
			h2{
				margin:0;
				font-size:30px;
			}
			&:before{
				content:"";
				position:absolute;
				bottom:0;
				@include size(48px,2px);
				@include rtl-left(0);
				background:$theme-color;
			}
			@media (max-width:$screen-xs-max){
				width:100%;
				margin-bottom:20px;
			}
		}
		.bwp-filter-heading {
			display:flex;
			margin-bottom:40px;
			align-items:center;
			.filter-order-by{
				width:60%;
			}
			.filter-orderby{
				text-align:center;
				li{
					display:inline-block;
					font-size:14px;
					text-transform:uppercase;
					margin:0 25px;
					position:relative;
					padding-bottom:7px;
					font-family: $font-family-monospace;
					&:before{
						content:"";
						position:absolute;
						bottom:0;
						left:50%;
						@include transform(translateX(-50%));
						@include size(0,1px);
						background:$gray-dark;
						@include transition(all 0.3s ease);
					}
					&.active,&:hover{
						color:$gray-dark;
						&:before{
							width:calc(100% - 3.2px);
						}
					}
					@media (max-width:$screen-sm-max){
						margin:0 15px;
						margin-bottom:5px;
					}
					@media (max-width:$screen-xs-max){
						margin-bottom:10px;
					}
					@media (max-width:$screen-xs){
						display:block;
						width:100%;
						background:#f5f5f5;
						padding:0 15px;
						line-height:30px;
						margin:0 0 10px;
						&:before{
							display:none;
						}
					}
				}
			}
			@media (max-width:$screen-xs-max){
				flex-wrap:wrap;
				.filter-order-by{
					width:100%;
				}
			}
		}
	}
	&.tab_product_slider{
		.bwp-filter-heading{
			display:flex;
			margin-bottom:30px;
			justify-content:center;
			ul{
				display:flex;
				justify-content:center;
				li{
					font-size:16px;
					@include rtl-margin-right(25px);
					position:relative;
					padding:0 0 3px;
					font-weight:500;
					text-transform:uppercase;
					white-space: nowrap;
					font-family: "CerebriSans ExtraBold";
					&:last-child{
						@include rtl-margin-right(0);
					}
					@media (max-width:$screen-xs-max){
						font-size:15px;
					}
					&:before{
						content:"";
						position:absolute;
						bottom:0;
						@include size(0,2px);
						background:$theme-color;
						@include transition(all 0.3s ease);
						left:50%;
						@include transform(translateX(-50%));
					}
					&.active,&:hover{
						color:$gray-dark;
						&:before{
							width:100%;
						}
					}
				}
			}
		}
		.slick-list{
			margin:0;
			border:1px solid #dedede;
		}
		.item-product{
			padding:0;
			@include rtl-border-right(1px solid #dedede);
			@media (max-width:$screen-xs){
				@include rtl-border-right(0);
			}
		}
		.products-list.grid .product-wapper{
			margin:0;
		}
		.slick-arrow{
			@include square(35px);
			line-height:35px;
			background:$theme-color;
			color:$white;
			&.fa-angle-right{
				@include rtl-right(-15px);
			}
			&.fa-angle-left{
				@include rtl-left(-15px);
			}
		}
		@media (max-width:$screen-xs){
			.bwp-filter-heading{
				display:block;
			}
			.bwp-filter-heading ul{
				display:block;
				text-align:center;
				li{
					margin:0 0 10px;
					background:#f5f5f5;
					width:100%;
					display:block;
					padding:5px 0;
					&:before{
						display:none;
					}
				}
			}
		}
	}
	&.filter{
		&.slider{
			.bwp-filter-heading{
				.filter-category{
					margin-bottom:50px;
					li{
						margin:0;
						@include rtl-margin-right(10px);
						padding:0;
						&:last-child{
							@include rtl-margin-right(0);
						}
						span{
							font-size:15px;
							color:$text-color;
							text-transform:capitalize;
							padding:0 20px;
							line-height:25px;
							font-weight:600;
						}
						&.active,&:hover{
							span{
								background:$theme-color;
								color:$white;
							}
						}
					}
				}
				.filter-order-by{
					margin:0;
					margin-top:-1px;
					@media (max-width: $screen-sm-max) {
						@include rtl-margin-left(30px);
					}
					>button{
						font-size:12px;
						color:$text-color;
						line-height:24px;
						padding:0 20px;
						border:1px solid $text-color;
						.caret{
							line-height:1;
							&:before{
								top:0;
							}
						}
					}
				}
				.bwp-filter-toggle{
					font-size:12px;
					color:$text-color;
					line-height:24px;
					padding:0 20px;
					border:1px solid $text-color;
					margin:0;
					@include rtl-margin-left(10px);
					&:after{
						display:none;
					}
					&:before{
						display:none;
					}
					i{
						font-size:18px;
						top:5px;
					}
					&.active{
						&:after{
							display:none;
						}
						i{
							display:inline-block;
							&:before{
								display:inline-block;
								position: relative;
								top: -3px;
								content: "\f136";
								font-family: Material;
							}
						}
					}
				}
			}
			.bwp-filter-content {
				.slick-dots {
					@media (max-width: $screen-md-max) {
						bottom: 0;
					}
				}
			}
		}
	}
}
.bwp-filter-content, ul.products-list{
    position: relative;
    >.content, >.content-product-list{
        @include transition(opacity 0.2s ease);
		.slick-arrow{
			opacity:0;
			visibility:hidden;
			@media(max-width:$screen-sm-max){
				opacity:1;
				visibility:visible;
			}
			@media(max-width:$screen-xs-max){
				visibility:hidden;
			}
		}
		&:hover{
			.slick-arrow{
				opacity:1;
				visibility:visible;
			}
		}
    }
    &.active{
        >.content, >.content-product-list, >li{
            opacity: 0;
        }
    }
    >.loading{
        position: absolute;
        top: 0;
        left: 50%;
        .chasing-dots{
            position: initial;
        }
        &:before{
            display: none;
        }
    }
}

/************************************************************************************************
    Bingo Woo Tab Caterories
*************************************************************************************************/
.bwp-woo-tab-cat{
    .bwp-category-tab{
        text-align: center;
        margin-bottom: 32px;
        ul.nav-tabs{
            display: inline-block;
            float: none;
            li{
                padding: 0;
                float: none;
                display: inline-block;
                a{
                    font-size: 16px;
                    padding: 0 20px;
                    text-transform: uppercase;
                    font-weight: 700;
                    position: relative;
                    @media (max-width: $screen-xs){
                        padding: 0 10px;
                    }
                    &:after{
                        top: 0;
                        content: "/";
                        color: $light-gray;
                        position: absolute;
                        @include rtl-right(-1px);
                        @media (max-width: $screen-xs){
                            display: none;
                        }
                    }
                    &:before{
                        display: none;
                    }
                }
                &:last-child{
                    a{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .tab-content{
        position: relative;
    }
    .tab-pane{
        display: block !important;
        &.active{
            .slick-arrow{
                display: block !important;
            }
        }
    }
    &.slider{
		.row{
			display:flex;
			align-items:center;
			@media (max-width:$screen-sm-max){
				display:block;
			}
		}
		.category-nav{
			.category{
				position:relative;
				margin-bottom:30px;
				.name-category{
					position:absolute;
					font-size:18px;
					color:$gray-dark;
					font-weight:700;
					bottom:20px;
					@include rtl-left(50%);
					@include transform(translateX(-50%));
					margin:0;
					&:hover{
						color:$theme-color;
					}
				}
			}
		}
		.title-block{
			position:absolute;
			z-index:99;
			h2{
				font-size:35px;
				font-weight:500;
				color:$gray-dark;
				margin:0;
				margin-top:-7px;
				display:inline-block;
			}
		}
		.category{
			padding:86px 15px;
			.category-content{
				width: 55%;
				@include rtl-padding(72px, 30px, 153px, 30px);
				background: #fff;
				background:$white;
				.name-category{
					text-transform:uppercase;
					font-size:18px;
					color:$gray-dark;
					font-weight:500;
					margin-bottom:35px;
					display:block;
					&:hover{
						color:$theme-color;
					}
				}
				.description-category{
					color:$text-color;
					
				}
				@media (max-width:$screen-sm-max){
					width:50%;
				}
				@media (max-width:$screen-xs-max){
					width:100%;
				}
			}
			.category-img{
				position: absolute;
				top: 0;
				@include rtl-right(20px);
				@include box-shadow(3px 4px 5px 0px rgba($gray-dark, 0.25));
				@media (max-width:$screen-md-max){
					max-width:280px;
					top:130px;
				}
				@media (max-width:$screen-sm-max){
					right: 120px;
				}
				@media (max-width:$screen-xs-max){
					display:none;
				}
			}
		}
		.slick-arrow{
			border: none;
			background: #f5f5f5;
			@include border-radius(0);
			top: auto;
			@include rtl-left(45px);
			bottom: 27%;
			@include square(34px);
			line-height:34px;
			color:$text-color;
			&.fa-angle-right{
				@include rtl-left(88px);
			}
			&:hover{
				background:$theme-color;
				color:$white;
			}
		}
		.prodcut-slider{
			.products-list{
				padding-top:40px;
				padding:0;
			}
		}
    }
}

/************************************************************************************************
    Bingo Woo Caterories
*************************************************************************************************/
.bwp_widget_woo_categories.widget{
    margin-bottom: 0;
}
.bwp-woo-categories{
	&.slider{
		position:relative;
		&:hover{
			.slick-arrow{
				@include opacity-s();
			}
		}
		.item-product-cat-content{
			position:relative;
			&:hover{
				.item-image{
					img{
						@include scale(1.1);
					}
				}
			}
		}
		.item-title{
			font-size:20px;
			margin:0;
			position:absolute;
			@include rtl-left(35px);
			bottom:30px;
			@media (max-width:$screen-sm-max){
				@include rtl-left(25px);
				bottom:15px;
			}
		}
		.item-count{
			font-size:16px;
			color:#a4a4a4;
			position:absolute;
			@include rtl-right(30px);
			top:30px;
			@media (max-width:$screen-sm-max){
				@include rtl-right(15px);
				top:10px;
			}
		}
		.item-image{
			display:inline-block;
			overflow:hidden;
			@include border-radius(3px);
			img{
				@include scale(1);
				@include transition(all 0.5s ease);
				width:100%;
			}
			@media (max-width:$screen-sm-max){
				display:block;
			}
		}
		.slick-dots{
			margin-top:17px;
		}
	}
	&.slider2{
		&:hover{
			.slick-arrow{
				@include opacity-s();
			}
		}
		.item-product-cat-content{
			text-align:center;
			&:hover{
				.item-thumbnail{
					img{
						-webkit-animation-name: rotate2;
						animation-name: rotate2;
						-webkit-animation-duration: 1s;
						animation-duration: 1s;
						-webkit-animation-timing-function: ease-in-out;
						animation-timing-function: ease-in-out;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}
				}
			}
		}
		.item-thumbnail{
			max-width:208px;
			height:208px;
			display:flex;
			justify-content:center;
			align-items:center;
			margin:auto;
			background:$white;
			@include border-radius(50%);
			padding:20px;
			overflow:hidden;
			img{
				@include border-radius(50%);
				margin:auto;
			}
		}
		.item-title{
			font-size:22px;
			margin:25px 0 0;
		}
		.slick-arrow{
			@include square(35px);
			line-height:35px;
			background:$theme-color;
			color:$white;
			top: calc(50% - 40px);
			&.fa-angle-left{
				@include rtl-left(5px);
			}
			&.fa-angle-right{
				@include rtl-right(5px);
			}
			&:hover{
				background:darken($theme-color,10%);
			}
			@media (max-width:$screen-md-max){
				&.fa-angle-left{
					@include rtl-left(0);
				}
				&.fa-angle-right{
					@include rtl-right(0);
				}
			}
		}
	}
	&.slider3{
		.item-product-cat-content{
			position:relative;
			&:hover{
				.content-image{
					img{
						@include scale(1.1);
					}
				}
			}
		}
		.box-content-category{
			&:hover{
				.slick-arrow{
					@include opacity-s();
				}
			}
		}
		.slick-list{
			margin:0 -13.5px;
		}
		.item-title{
			margin:0;
			font-size:20px;
			font-family:$font-family-monospace;
		}
		.content{
			text-align:center;
			border:1px solid #ececec;
			border-top:0;
			padding:13px 15px;
		}
		.content-image{
			>div{
				overflow:hidden;
			}
			img{
				@include transition(all 0.5s ease);
				@include scale(1);
			}
		}
	}
	&.slider4{
		.content{
			text-align:center;
		}
		.item-title{
			margin:16px 0 0;
			font-size:14px;
			text-transform:uppercase;
			font-family:$font-family-monospace;
			a{
				display:inline-block;
				position:relative;
				border-bottom:1px solid $gray-dark;
				padding-bottom:4px;
				&:after{
					content: "\24";
					font-family: eleganticons;
					display:inline-block;
					font-size:18px;
					position:relative;
					top:3px;
					@include rtl-margin-left(5px);
				}
				&:hover{
					border-color:$theme-color;
				}
			}
		}
	}
	&.list{
		padding:25px 20px 30px;
		border:1px solid rgba($light-gray,0.25);
		@include border-radius(8px);
		@include rtl-text-align-left();
		@media(max-width:1499px)and(min-width:$screen-md){
			padding:15px 20px 10px;
		}
		.title-sidebar{
			background:transparent;
			color:$gray-dark;
			font-size:25px;
			text-transform:capitalize;
			padding:0;
			margin-bottom:26px;
			@media(max-width:1499px)and(min-width:$screen-md){
				margin-bottom:10px;
			}
		}
		.content-box{
			ul.content-category{
				list-style:none;
				padding:0;
				li.item-category{
					display: flex;
					align-items: center;
					margin-bottom:20px;
					position:relative;
					@media(max-width:1499px)and(min-width:$screen-md){
						margin-bottom:3.5px;
					}
					&:before{
						position:absolute;
						content:"";
						width:90%;
						height:80%;
						background:rgba(245,245,245,0.6);
						z-index:-1;
						@include border-radius(8px);
						@include rtl-right(0);
					}
					&:last-child{
						margin-bottom:0;
					}
					.item-thumbnail{
						width:48px;
					}
					.item-inner{
						@include rtl-padding-left(20px);
						.item-title{
							a{
								font-size:15px;
								color:$text-color;
							}
						}
					}
					&:hover{
						&:before{
							background:rgba($theme-color,0.3);
						}
						.item-title{
							a{
								color:$gray-dark;
							}
						}
					}
				}
			}
		}
	}
}

/************************************************************************************************
    Bingo Slider
*************************************************************************************************/
.bwp-slider{
    &.default{
		.slider-content{
			position:absolute;
			bottom:60px;
			width:100%;
			text-align:center;
		}
		.item-slider {
			padding: 0 15px;
			.item {
				padding-bottom: 40px;
			}
		}
		.content{
			position:relative;
		}
		.description-slider{
			color:$white;
			font-size:15px;
			margin-bottom:5px;
		}
		.title-slider{
			color:$white;
			font-size:24px;
			text-transform:uppercase;
			letter-spacing:2px;
			margin-bottom:0;
		}
		.slick-arrow{
			@include border-radius(0);
			border-color:$text-color;
			color:#999999;
			line-height:45px;
			font-size:18px;
			@media (max-width:$screen-sm-max){
				display:none !important;
			}
			&.fa-angle-left{
				left:0;
				&:before{
					content: "\23";
					font-family: eleganticons;
					position:relative;
					right:-25px;
					@include transition(all 0.3s ease);
				}
			}
			&.fa-angle-right{
				right:-20px;
				@media (max-width:$screen-md-max){
					right:0;
				}
				&:before{
					content: "\24";
					font-family: eleganticons;
					position:relative;
					left:-25px;
					@include transition(all 0.3s ease);
				}
			}
			&:hover{
				background:transparent;
				border-color:$theme-color;
				color:$theme-color;
				&.fa-angle-left{
					&:before{
						right:0;
					}
				}
				&.fa-angle-right{
					&:before{
						left:0;
					}
				}
			}
		}
	}
	&.gallery{
		position:relative;
		margin:0;
		.title{
			position:absolute;
			left:50%;
			top:50%;
			z-index:10;
			line-height:40px;
			padding:0 40px;
			background:$white;
			color:$theme-color;
			font-size:12px;
			text-transform:uppercase;
			letter-spacing:2px;
			font-weight:700;
			@include transform(translate(-50%,-50%));
		}
		.slick-list{
			margin:0;
			.item{
				padding:0;
			}
		}
		.image-slider{
			overflow:hidden;
			img{
				@include scale(1);
				@include transition(all 0.5s ease);
			}
			&:hover{
				img{
					@include scale(1.1);
				}
			}
		}
	}
	&.gallery1{
		position:relative;
		.title{
			position:absolute;
			left:50%;
			top:50%;
			z-index:10;
			line-height:40px;
			padding:0 40px;
			background:$white;
			color:$theme-color;
			font-size:12px;
			text-transform:uppercase;
			letter-spacing:2px;
			font-weight:700;
			@include transform(translate(-50%,-50%));
		}
		.slick-list{
			margin:0 -5px;
			.item{
				padding:0 5px;
			}
		}
		.image-slider{
			overflow:hidden;
			img{
				@include scale(1);
				@include transition(all 0.5s ease);
				width:100%;
			}
			&:hover{
				img{
					@include scale(1.1);
				}
			}
		}
	}
}
.social-link{
    padding: 0;
    li{
        display: inline-block;
        text-align: center;
        margin: 0 17px;
        &:first-child{
            @include rtl-margin-left(0);
        }
        &:last-child{
            @include rtl-margin-right(0);
        }
        a i{
            font-size: 18px;
            color: $gray-lighter;
			&.social_instagram{
				color:#bc1a1a;
			}
			&.social_googleplus{
				color:#dd4b39;
			}
			&.social_twitter{
				color:#1b80be;
			}
			&.social_facebook{
				color:#3b5998;
			}
			&.social_linkedin{
				color:#1da1f2;
			}
			&.social_pinterest{
				color:#bc1a1a;
			}
        }
        &:hover{
            a{
                i{
                    color: $theme-color;
                }
            }
        }
    }
}


/************************************************************************************************
    Bingo Woo Countdown
*************************************************************************************************/
.bwp-countdown{
	&.slider{
		&:hover{
			.slick-arrow{
				@include opacity-s();
			}
		}
		.slick-arrow{
			@include box-shadow(0px 7px 35px 0px rgba(0, 0, 0, 0.05));
		}
		.item-product-content{
			border:1px solid #e4e4e4 !important;
			&.product-wapper{
				padding:30px 20px 35px;
			}
		}
		.content-title{
			text-align:center;
			margin-bottom:10px;
		}
		.product-title{
			font-size:18px;
			margin:0 0 5px;
		}
		.product-price{
			font-size:16px;
			color:$theme-color;
			ins{
				text-decoration:none;
			}
		}
		.available-box{
			margin-top:20px;
			.content-available{
				display:flex;
				justify-content:space-between;
				label{
					margin-bottom:0;
					@include rtl-margin-right(5px);
					color:$text-color;
				}
				.available{
					color:$gray-dark;
				}
				.sold{
					color:$theme-color;
				}
			}
			.percent{
				position:relative;
				height:6px;
				width:100%;
				@include border-radius(10px);
				background:#f5f5f5;
				margin-bottom:12px;
				.content{
					position:absolute;
					top:0;
					left:0;
					height:6px;
					@include border-radius(10px);
					background:#4bc871;
				}
			}
		}
		.item-countdown{
			display:flex;
			align-items:center;
			border:1px solid #dadada;
			justify-content:center;
			margin-top:10px;
			h2{
				font-size:16px;
				color:$text-color;
				margin:0;
				@include rtl-margin-right(5px);
			}
			.countdown-content{
				font-family:$font-family-second;
				color:$gray-dark;
				font-size:18px;
				>span{
					display:inline-block;
					&:before{
						content:":";
						margin:0 5px;
						display:inline-block;
					}
					&:first-child{
						&:before{
							display:none;
						}
					}
				}
			}
		}
		@media (max-width:$screen-xs){
			.item-countdown{
				padding:5px 0;
				h2{
					font-size:14px;
				}
				.countdown-content{
					font-size:14px;
				}
			}
		}
	}
	&.slider2{
		position:relative;
		.title-block{
			border-bottom:1px solid $gray-light ;
			margin-bottom:25px;
			h2{
				margin:0;
				font-size:20px;
				padding-bottom:15px;
				font-family: "CerebriSans ExtraBold";
				position:relative;
				text-transform:uppercase;
				&:before{
					content:"";
					position:absolute;
					bottom:-1px;
					@include rtl-left(0);
					@include size(72px,2px);
					background:$theme-color;
				}
			}
		}
		.slick-arrow{
			@include opacity-s();
			@include square(21px);
			@include border-radius(0);
			background:#e9e9e9;
			line-height:21px;
			font-size:14px;
			top:0;
			&.fa-angle-left{
				left:auto;
				right:24px;
			}
			&.fa-angle-right{
				@include rtl-right(0);
			}
			&:hover{
				background:$theme-color;
			}
		}
		.item-product-content{
			border:2px solid #e7e7e7 !important;
		}
		.grid-content{
			padding:20px 30px;
			display:flex;
			flex-wrap:wrap;
		}
		.content-image{
			width:45%;
		}
		.products-content{
			width:55%;
			@include rtl-padding-left(30px);
		}
		.products-list.grid{
			.product-wapper{
				.products-content{
					@include rtl-text-align-left();
					margin-top:0;
					h3.product-title{
						font-size:24px;
						margin-bottom:12px;
						margin-top:3px;
					}
					.price{
						font-size:18px;
						color:$theme-color;
						display:block;
						border-bottom:1px solid #e7e7e7;
						padding-bottom:25px;
						font-family:$font-family-second;
					}
				}
			}
		}
		.product-description{
			margin-top:5px;
		}
		.brands-single{
			display:flex;
			align-items:center;
			margin-top:15px;
			.title-brand{
				margin:0;
				font-size:12px;
				text-transform:uppercase;
				letter-spacing:3.2px;
			}
			ul{
				padding:0;
				list-style:none;
				li{
					display:inline-block;
					@include rtl-margin-left(5px);
					margin-bottom:5px;
					a{
						display:inline-block;
						border:1px solid #cccccc;
						height:66px;
						padding:10px;
						img{
							max-height:45px;
							max-width:unset;
							width:auto;
						}
						&:hover{
							border-color:$gray-dark;
						}
					}
				}
			}
		}
		.available-box{
			margin-top:15px;
			.content-available{
				display:flex;
				justify-content:space-between;
				font-family:$font-family-second;
				label{
					margin-bottom:0;
					@include rtl-margin-right(5px);
					color:$text-color;
				}
				.available{
					color:$gray-dark;
				}
				.sold{
					color:$theme-color;
				}
			}
			.percent{
				position:relative;
				height:6px;
				width:100%;
				@include border-radius(10px);
				background:#f5f5f5;
				margin-bottom:12px;
				.content{
					position:absolute;
					top:0;
					left:0;
					height:6px;
					@include border-radius(10px);
					background:#4bc871;
				}
			}
		}
		.content-countdown{
			border-top:1px solid #e7e7e7;
			padding:20px 30px;
			display:flex;
			align-items:center;
			flex-wrap:wrap;
			>h2{
				font-size:14px;
				margin:0;
				font-family: $font-family-monospace;
				text-transform:uppercase;
				color:#ff4545;
				width:45%;
				position:relative;
				display:flex;
				align-items:center;
				&:before{
					content: "";
					@include size(23px,25px);
					background: url('#{$image-theme-path}/icon/fire.svg') no-repeat;
					background-size:content;
					@include rtl-margin-right(10px);
				}
			}
			.item-countdown{
				width:55%;
				@include rtl-padding-left(30px);
				display:flex;
				align-items:center;
				h2{
					margin:0;
					font-size:16px;
					color:$text-color;
					@include rtl-margin-right(5px);
				}
				.countdown-content{
					font-size:17px;
					font-family:$font-family-second;
					color:$white;
					background:#ff4545;
					padding:10px 15px;
					@include border-radius(30px);
					>*{
						&:before{
							content:":";
							margin:0 7px;
						}
						&:first-child{
							&:before{
								display:none;
							}
						}
					}
				}
			}
		}
		.product-button{
			margin-top:22px;
			>*{
				display:inline-block;
				vertical-align:top;
				@include rtl-margin-right(5px);
				&:last-child{
					@include rtl-margin-right(0);
				}
			}
			>a{
				display:inline-block;
				font-size:12px;
				text-transform:uppercase;
				font-family: $font-family-monospace;
				border:1px solid #e7e7e7;
				line-height:48px;
				padding:0 18px;
				&:before{
					content: "\e900";
					font-family: 'icomoon';
					font-size: 16px;
					@include transition(all 0.1s ease);
					margin:0;
					display: inline-block;
					line-height:1;
					position:relative;
					top:1px;
					@include rtl-margin-right(10px);
				}
				&.added{
					display: none;
				}
				&.loading {    
					@include transition(all 0.2s ease);                   
					&:before {
						position: initial;
						display: inline-block;
						content: "\e02d";
						width: 18px;
						height: 18px;
						@include rtl-margin-left(0);
						font-family: 'ElegantIcons';
						background-color: transparent !important;
						background: none;
						font-size: 18px;
						@include animation(2s linear 0s normal none infinite running spinAround);
						text-indent: 0;
						position:relative;
						top:3px;
					}
				}
				&.added_to_cart, .product_type_variable{                        
					&:before{
						content:"\4e";
						font-family: 'ElegantIcons';
						text-indent: 0px;
						top:2px;
						position:relative;
					}
					&:after{
						display: none;
					}
				} 
				&.product_type_variable{
					&:before{
						content: "\24";
						font-family: 'ElegantIcons';
						top:3px;
						position:relative;
					}
				}  
				&.read_more{
					&:before{
						content: "\24";
						font-family: 'ElegantIcons';
						text-indent: 0;
						top:3px;
						position:relative;
					}
				}
				&:hover{ 
					color: $white;
					background:$theme-color;
					border-color:$theme-color;
					&:before{
						color: $white;
					}
				}
			}
			.product-quickview{
				display:none;
			}
			.woocommerce{
				text-align: center;
				background: $white;
				font-size: 0;
				white-space: nowrap;
				>a{
					color: $gray-dark;
					@include square(50px);
					line-height: 48px; 
					display: inline-block;
					border:1px solid $gray-lighter;
					&:before{
						font-size: 16px;
						color: $gray-dark;
						line-height: 48px;
						@include transition(all 0.1s ease);
						content:"\e905";
						font-family:icomoon;
					}
				}
				&:hover{
					>a{
						background:$theme-color;
						border-color:$theme-color;
						&:before{
							color: $white;
						}
					}
					.loading{
						&:before{
							color: $white;
						}
					}
				}
				.loading {
					i{
						display: none;
					}
					&:before {
						position: absolute;
						left: 10px;
						color: $gray-dark;
						display: inline-block;
						content: "\e02d";
						width: auto;
						height: auto;
						@include rtl-margin-left(0);
						font-family: 'ElegantIcons';
						background-color: transparent !important;
						background: none;
						font-size: 20px;
						@include animation(2s linear 0s normal none infinite running spinAround);
					}
				} 
			}
			.yith-wcwl-wishlistaddedbrowse.show, .yith-wcwl-wishlistexistsbrowse.show{
				.feedback{
					display: none;
				}
			} 
			.yith-wcwl-add-to-wishlist{                     
				font-size: 0;
				background: $white;
				text-align: center;
				position: relative;
				white-space: nowrap;
				margin-top: 0;
				.feedback{
					display:none;
				}
				a{
					color: $white; 
					@include square(50px);
					border:1px solid $gray-lighter;
					line-height: 48px;
					display: inline-block;
				}
				.yith-wcwl-add-button{
					a{
						&:before{
							content: "\e901";
							font-family: icomoon;
							font-size: 16px;
							line-height: 48px;
							color: $gray-dark;
							@include transition(all 0.1s ease);
						}
					}
					.ajax-loading{
						position: absolute;
						top: 0;
						margin:12px;
						@include rtl-left(0);
					}
				}
				.yith-wcwl-wishlistexistsbrowse, .yith-wcwl-wishlistaddedbrowse{
					text-indent: -1px;
					a{
						&:before{
							content: "\e901";
							font-family: icomoon;
							font-size: 16px;
							line-height: 48px;
							color: $theme-color;
							@include transition(all 0.1s ease);
							position: relative;
							@include rtl-left(1px);
						}
					}
				}
				&:hover{ 
					a{
						background:$theme-color;
						border-color:$theme-color;
						&:before{
							color: $white;
						}
					}
				}
			}
		}
		@media (max-width:1400px){
			.content-image{
				width:40%;
			}
			.products-content{
				width:60%;
			}
			.content-countdown{
				>h2{
					width:40%;
				}
				.item-countdown{
					width:60%;
				}
			}
		}
		@media (max-width:$screen-md-max){
			.content-image{
				width:100%;
				margin-bottom:30px;
			}
			.products-content{
				width:100%;
				@include rtl-padding-left(0);
			}
			.content-countdown{
				>h2{
					width:100%;
					margin-bottom:10px;
				}
				.item-countdown{
					width:100%;
					@include rtl-padding-left(0);
				}
			}
		}
		@media (max-width:$screen-xs){
			.grid-content{
				padding:15px;
			}
			.content-countdown{
				padding:15px 15px 25px;
				.item-countdown{
					flex-wrap:wrap;
					>h2{
						margin-top:5px;
						margin-bottom:5px;
					}
				}
				.product-countdown{
					margin-top:5px;
					margin-bottom:5px;
				}
			}
		}
	}
	&.slider3{
		border:3px solid #ee551a;
		&:hover{
			.slick-arrow{
				@include opacity-s();
			}
		}
		.slick-list{
			margin:0 -14px;
		}
		.slick-arrow{
			@include box-shadow(unset);
		}
		.item-product-content.products-entry{
			margin:0 0 20px;
		}
		.box-title{
			background:#ee551a;
			text-align:center;
			position:relative;
			padding:45px 0;
		}
		.subtitle{
			font-size:70px;
			color:rgba($white,0.12);
			position:absolute;
			top:50%;
			left:0;
			@include transform(translateY(-50%));
			width:100%;
		}
		.title-block{
			font-size:28px;
			color:$white;
			text-transform:uppercase;
		}
		.product-list{
			padding:0 45px;
		}
		.content-product-list{
			position:relative;
		}
		.content-title{
			text-align:center;
			margin-bottom:10px;
			margin-top:25px;
		}
		.product-title{
			font-size:18px;
			margin:0 0 5px;
		}
		.product-price{
			font-size:16px;
			color:#ff4545;
			ins{
				text-decoration:none;
			}
		}
		.available-box{
			margin-top:20px;
			.content-available{
				display:flex;
				justify-content:space-between;
				label{
					margin-bottom:0;
					@include rtl-margin-right(5px);
					color:$text-color;
				}
				.available{
					color:$gray-dark;
				}
				.sold{
					color:$theme-color;
				}
			}
			.percent{
				position:relative;
				height:6px;
				width:100%;
				@include border-radius(10px);
				background:#f5f5f5;
				margin-bottom:12px;
				.content{
					position:absolute;
					top:0;
					left:0;
					height:6px;
					@include border-radius(10px);
					background:#ee551a;
				}
			}
		}
		.item-countdown{
			display:flex;
			align-items:center;
			justify-content:center;
			margin-top:10px;
			background:$theme-color;
			padding:6px 0;
			h2{
				font-size:18px;
				color:$white;
				margin:0;
				@include rtl-margin-right(5px);
			}
			.countdown-content{
				font-family:$font-family-second;
				color:$white;
				font-size:20px;
				>span{
					display:inline-block;
					&:before{
						content:":";
						margin:0 5px;
						display:inline-block;
					}
					&:first-child{
						&:before{
							display:none;
						}
					}
				}
			}
		}
		.product-button{
			margin-top:10px;
			display:flex;
			>*{
				@include rtl-margin-left(5px);
				&:first-child{
					@include rtl-margin-left(0);
				}
			}
			>a{
				display:inline-block;
				font-size:12px;
				text-transform:uppercase;
				font-family: $font-family-monospace;
				border:1px solid #e7e7e7;
				line-height:48px;
				padding:0 18px;
				flex:1;
				&:before{
					content: "\e900";
					font-family: 'icomoon';
					font-size: 16px;
					@include transition(all 0.1s ease);
					margin:0;
					display: inline-block;
					line-height:1;
					position:relative;
					top:1px;
					@include rtl-margin-right(10px);
				}
				&.added{
					display: none;
				}
				&.loading {    
					@include transition(all 0.2s ease);                   
					&:before {
						position: initial;
						display: inline-block;
						content: "\e02d";
						width: 18px;
						height: 18px;
						@include rtl-margin-left(0);
						font-family: 'ElegantIcons';
						background-color: transparent !important;
						background: none;
						font-size: 18px;
						@include animation(2s linear 0s normal none infinite running spinAround);
						text-indent: 0;
						position:relative;
						top:3px;
					}
				}
				&.added_to_cart, .product_type_variable{                        
					&:before{
						content:"\4e";
						font-family: 'ElegantIcons';
						text-indent: 0px;
						top:2px;
						position:relative;
					}
					&:after{
						display: none;
					}
				} 
				&.product_type_variable{
					&:before{
						content: "\24";
						font-family: 'ElegantIcons';
						top:3px;
						position:relative;
					}
				}  
				&.read_more{
					&:before{
						content: "\24";
						font-family: 'ElegantIcons';
						text-indent: 0;
						top:3px;
						position:relative;
					}
				}
				&:hover{ 
					color: $white;
					background:$theme-color;
					border-color:$theme-color;
					&:before{
						color: $white;
					}
				}
			}
			.product-quickview{
				display:none;
			}
			.woocommerce{
				text-align: center;
				background: $white;
				font-size: 0;
				white-space: nowrap;
				>a{
					color: $gray-dark;
					@include square(50px);
					line-height: 48px; 
					display: inline-block;
					border:1px solid $gray-lighter;
					&:before{
						font-size: 16px;
						color: $gray-dark;
						line-height: 48px;
						@include transition(all 0.1s ease);
						content:"\e905";
						font-family:icomoon;
					}
				}
				&:hover{
					>a{
						background:$theme-color;
						border-color:$theme-color;
						&:before{
							color: $white;
						}
					}
					.loading{
						&:before{
							color: $white;
						}
					}
				}
				.loading {
					i{
						display: none;
					}
					&:before {
						position: absolute;
						left: 10px;
						color: $gray-dark;
						display: inline-block;
						content: "\e02d";
						width: auto;
						height: auto;
						@include rtl-margin-left(0);
						font-family: 'ElegantIcons';
						background-color: transparent !important;
						background: none;
						font-size: 20px;
						@include animation(2s linear 0s normal none infinite running spinAround);
					}
				} 
			}
			.yith-wcwl-wishlistaddedbrowse.show, .yith-wcwl-wishlistexistsbrowse.show{
				.feedback{
					display: none;
				}
			} 
			.yith-wcwl-add-to-wishlist{                     
				font-size: 0;
				background: $white;
				text-align: center;
				position: relative;
				white-space: nowrap;
				margin-top: 0;
				.feedback{
					display:none;
				}
				a{
					color: $white; 
					@include square(50px);
					border:1px solid $gray-lighter;
					line-height: 48px;
					display: inline-block;
				}
				.yith-wcwl-add-button{
					a{
						&:before{
							content: "\e901";
							font-family: icomoon;
							font-size: 16px;
							line-height: 48px;
							color: $gray-dark;
							@include transition(all 0.1s ease);
						}
					}
					.ajax-loading{
						position: absolute;
						top: 0;
						margin:12px;
						@include rtl-left(0);
					}
				}
				.yith-wcwl-wishlistexistsbrowse, .yith-wcwl-wishlistaddedbrowse{
					text-indent: -1px;
					a{
						&:before{
							content: "\e901";
							font-family: icomoon;
							font-size: 16px;
							line-height: 48px;
							color: $theme-color;
							@include transition(all 0.1s ease);
							position: relative;
							@include rtl-left(1px);
						}
					}
				}
				&:hover{ 
					a{
						background:$theme-color;
						border-color:$theme-color;
						&:before{
							color: $white;
						}
					}
				}
			}
		}
		@media (max-width:$screen-md-max){
			.product-list{
				padding:0 15px;
			}
			.item-countdown{
				h2{
					font-size:16px;
				}
				.countdown-content{
					font-size:16px;
				}
			}
			.subtitle{
				font-size:45px;
			}
			.title-block{
				font-size:25px;
			}
		}
		@media (max-width:$screen-xs){
			.item-countdown{
				padding:5px 0;
				h2{
					font-size:14px;
				}
				.countdown-content{
					font-size:14px;
				}
			}
		}
	}
}


/************************************************************************************************
    Bingo Image Gallery
*************************************************************************************************/
.bwp-gallery{
    .slick-slide{
        text-align: center;
        img{
            display: inline-block;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: 15px;
        padding: 0;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        li{
            button{
                border: 0;
                opacity: 0.4;
                background: $gray-dark;
                @include square(16px);
                transform: none;
                &:hover{
                    background: $white;
                    opacity: 1;
                }
            }
            &.slick-active{
                button{
                    background: $white;
                    opacity: 1;
                }
            }
        }
    }
}

/************************************************************************************************
    Wp Tag Cloud
*************************************************************************************************/
.vc_wp_tagcloud{
    .widget_tag_cloud{
        h2.widgettitle{
            font-size: 18px;
            border-bottom: 1px solid #343434;
            margin-top: 0;
            margin-bottom: 10px;
            padding-bottom: 14px;
        }
    }
}
.wpb-portfolio.slider{
	.portfolio-item:first-child{
		margin-bottom:30px;
	}
	.portfolio-item-inner{
		position: relative;
		overflow: hidden;
		&:before{
			content: "";
			position: absolute;
			@include square(100%);
			top: 0;
			@include rtl-left(0);
			background: rgba($gray-dark,0.35);
			@include transition(all 0.3s ease-in-out);
			@include scale(0.9);
			@include opacity-h;
			z-index:1;
		}
		.portfolio-img{
			img{
				@include transition(transform 0.3s ease);
			}
		}
		&:hover{
			&:before{
				@include scale(1);	
				@include opacity-s;		
			}
			.pitem-text{
				a{
					@include opacity-s;
					top: -17.5px;
				}
			}
			.portfolio-img{
				img{
					@include scale(1.1);
					@include transition(transform 0.3s ease);
				}
			}
		}
		.pitem-text{
			position: absolute;
			top: 50%;
			@include rtl-left(50%);
			width: 100%;
			display: inline-block;
			text-align: center;
			z-index:9;
			@include translate(-50%, -50%);
			a{
				position: absolute;
				top: -30px;
				@include opacity-h;
				color: $text-color;
				background: $white;
				line-height: 35px;
				z-index:9;
				text-align: center;
				@include square(35px);
				@include transition(top 0.3s ease-in-out);
				&:hover{
					color: $white;
					background: $theme-color;
				}
				span{
					line-height: 35px;
				}
			}
			.item-more{
				@include rtl-right(calc( 50% - 40px));		
			}
			.item-popup{
				@include rtl-left(calc(50% - 40px));	
			}
		}
	}
}
/************************************************************************************************
    Bingo Lookbook
*************************************************************************************************/
.bwp-lookbook{
	@media(max-width:$screen-xs-max){
		text-align:center;
		margin-bottom:30px;
	}
	.item{
		position:relative;
	}
	.item-lookbook{
		@include border-radius(50%);
		@include square(33px !important);
		position:absolute;
		@include border-radius(50%);
		text-align: center;
		line-height: 33px;
		@include transition(width 0.2s ease, height 0.2s ease);
		display: inline-block;
		z-index: 5;
		background: $theme-color;
		text-indent: -1px;
		cursor:pointer;
		&:hover{
			background:darken($theme-color,10%);
			color:$white;
			.content-lookbook{
				display: block;
			}
			.number-lookbook{
				border-color:darken($theme-color,10%);
			}
		}
		&:before{
			@include square(33px);
			position:absolute;
			content:"";
			left: calc(50% - 16.5px);
			top: calc(50% - 16.5px);
			background:rgba($white,0.5);
			@include border-radius(50%);
			z-index:-1;
			-webkit-animation-name: scale2;
			animation-name: scale2;
			-webkit-animation-duration: 3s;
			animation-duration: 3s;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
		}
		&:after{
			@include square(33px);
			position:absolute;
			content:"";
			left: calc(50% - 16.5px);
			top: calc(50% - 16.5px);
			background:rgba($white,0.5);
			@include border-radius(50%);
			z-index:-1;
			-webkit-animation-name: scale2;
			animation-name: scale2;
			-webkit-animation-duration: 3s;
			animation-duration: 3s;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			animation-delay: 1.5s;
		}
		.number-lookbook{
			font-size:0;
			@include square(33px);
			@include border-radius(50%);
			background:$white;
			display:inline-block;
			position:absolute;
			top: 0;
			left: 0;
			border:12px solid $theme-color;
		}
		.content-lookbook{
			z-index: 9;
			padding:10px;
			text-align: center;
			width:225px;
			@include box-shadow(-1px 5px 5px 0px rgba(144, 144, 144, 0.5));
			@include transition(all 0.2s ease);
			background: #fff;
			display: none;
			position: absolute;
			.content-lookbook-bottom{
				margin-top:18px;
				padding-bottom:10px;
				.rating{
					margin-bottom:10px;
					.star-rating{
						margin:auto;
					}
					.review-count{
						display:none;
					}
				}
				.item-title{
					margin-bottom: 0;
					line-height:25px;
					a{
						color: $gray-dark;
						font-size:16px;
						line-height:25px;
						&:hover{
							color: $theme-color;
						}
					}
				}
				.price{
					font-weight: 500;
				}
			}
		}
    }
    .info-lookbook{
		text-align:center;
		margin-top:25px;
        .title-lookbook{
            margin: 0 0 5px;
            font-size: 24px;
            text-transform: capitalize;
            font-family: CerebriSans Book;
			letter-spacing:1.6px;
        }
		.description-lookbook{
			font-style:italic;
		}
    }
    .bwp-content-lookbook{
        vertical-align: top;
		width:100%;
		.item{
			>img{
				width:100%;
			}
		}
    }
	&.default{
		@media (max-width:$screen-sm-max) and (min-width:$screen-xs-max){
			.item-lookbook .content-lookbook{
				width:170px;
				.content-lookbook-bottom .item-title a{
					font-size:14px;
				}
			}
		}
		.title-lookbook{
			text-align:center;
			@include transform(translateY(50%));
			position:relative;
			z-index:10;
			h2{
				font-size:36px;
				margin:0;
				background:$white;
				display:inline-block;
				@include border-radius(4px);
				line-height:100px;
				padding:0 90px;
				@media (max-width:$screen-xs-max){
					font-size:25px;
					line-height:70px;
					padding:0 30px;
				}
			}
		}
	}
	&.default2{
		position:relative;
		.box-title{
			position:absolute;
			top:90px;
			text-align:center;
			z-index:5;
			left:50%;
			@include transform(translateX(-50%));
		}
		.subtitle-lookbook{
			display:inline-block;
			line-height:96px;
			padding:0 70px;
			background:$theme-color;
			@include border-radius(5px);
			text-transform:uppercase;
			font-size:30px;
			color:$white;
			margin-bottom:45px;
		}
		.title-lookbook{
			font-size:200px;
			margin:0;
			color:$white;
			line-height:1;
		}
		.description-lookbook{
			font-size:30px;
			color:$white;
			max-width:590px;
			margin:auto;
		}
		.item-lookbook{
			@include square(45px !important);
			line-height: 45px;
			&:hover{
				background:darken($theme-color,10%);
				color:$white;
				.content-lookbook{
					display: block;
				}
				.number-lookbook{
					border-color:darken($theme-color,10%);
					background:$white;
				}
			}
			&:before{
				@include square(45px);
				left: calc(50% - 22.5px);
				top: calc(50% - 22.5px);
			}
			&:after{
				@include square(45px);
				left: calc(50% - 22.5px);
				top: calc(50% - 22.5px);
			}
			.number-lookbook{
				font-size:0;
				@include square(45px);
				@include border-radius(50%);
				background:$theme-color;
				display:inline-block;
				position:absolute;
				top: 0;
				left: 0;
				border:18px solid $white;
			}
		}
		@media (max-width:1440px){
			.box-title{
				top:50px;
			}
			.subtitle-lookbook{
				line-height:50px;
				padding:0 40px;
				font-size:25px;
				margin-bottom:30px;
			}
			.title-lookbook{
				font-size:150px;
				margin:0;
				color:$white;
				line-height:1;
			}
			.description-lookbook{
				font-size:18px;
				color:$white;
				max-width:590px;
				margin:auto;
			}
		}
		@media (max-width:$screen-md-max){
			.subtitle-lookbook{
				line-height:40px;
				padding:0 20px;
				font-size:20px;
				margin-bottom:30px;
			}
			.title-lookbook{
				font-size:100px;
				margin:0;
				color:$white;
				line-height:1;
			}
			.description-lookbook{
				font-size:18px;
				color:$white;
				max-width:590px;
				margin:auto;
			}
		}
		@media (max-width:$screen-sm-max){
			.box-title{
				position:unset;
				margin-bottom:40px;
				margin-top:80px;
				@include transform(translateX(0));
			}
			.subtitle-lookbook{
				line-height:30px;
				padding:0 20px;
				font-size:18px;
				margin-bottom:20px;
			}
			.title-lookbook{
				font-size:40px;
				margin:0 0 15px;
				color:$gray-dark;
				line-height:1;
			}
			.description-lookbook{
				font-size:14px;
				color:$text-color;
				max-width:590px;
				margin:auto;
			}
		}
		@media (max-width: $screen-xs-max) {
			text-align: center;
			.item{
				margin-bottom: 30px;
				.info-lookbook{
					text-align: center;
					margin-top: 15px;
				}
			}
			.item-lookbook{
				position: static;
				width: 100% !important;
				height: 100% !important;
				display: flex;
				padding: 15px;
				background: transparent;
				&:hover{
					background: transparent;
				}
				.number-lookbook{    
					position:relative;
					top:0;
					left:0;
					@include box-shadow(0px 0px 15px 0px rgba(50, 50, 50, 0.15));
					&:before{
						content:"";
						position:absolute;
						@include square(20px);
						top:50%;
						left:50%;
						@include transform(translate(-50%,-50%));
						@include box-shadow(0px 0px 15px 0px rgba(50, 50, 50, 0.15));
						background:$white;
						@include border-radius(50%);
						z-index:-1;
					}
				}
				.content-lookbook{
					position: initial;
					display: flex;
					width: calc(100% - 45px);
					@include rtl-margin-left(15px);
					flex-direction: column;
				}
			}
		}
	}
}
.bwp-widget-feature-product{
	display:none;
	ul{
		padding:0;
		list-style:none;
	}
	.item-product{
		display:flex;
		padding-bottom:18px;
		margin-bottom:18px;
		border-bottom:1px solid $gray-light ;
		&:last-child{
			padding-bottom:0;
			margin-bottom:0;
			border-bottom:0;
		}
	}
	.item-thumb{
		flex:0 0 68px;
	}
	.content-bottom{
		@include rtl-padding-left(15px);
		.item-title{ 
			font-size: 15px; 
			margin-top: 0px;
			font-weight: 400;
			display:block;
			margin-bottom:5px;
			text-transform:capitalize;
			a{
				color: $gray-dark;
				&:hover{
					color: $theme-color;
				}
			}
		}
		.price {
			line-height: 100%;
			display: inline-block;
			color:$text-color;
			font-size:15px;
			del{
				line-height: 100%;
				color:rgba($text-color,0.8);
				font-size:13px;
			}
		} 
		.rating{
			.review-count{
				display: inline-block;
				position: relative;
				top: -3px
			}
			.star-rating{
				font-size:12px;
				width:70px;
			}
		}
	}
}