/*Font WooCommerce*/
/* Wooecommerce - Button - Input Submit
------------------------------------------------*/
.woocommerce #respond input#submit, .woocommerce button.button, .woocommerce input.button{
	color:$white;
	background:$gray-dark;
	font-size:13px;
	text-transform:uppercase;
	padding:0 50px;
	line-height:50px;
	font-weight:700;
	cursor:pointer;
	border : 0;
    &:hover{
        background: darken($theme-color, 10%);
    }
	&:focus{
		outline : none;
	}
}

.button, #submit {
	&.loading {
		&:before {
			content: "";
			@include vertical-center(100%,100%);
			background: url('#{$image-theme-path}loading-cart.gif') center no-repeat transparent;
		}
	}
}

/* End
------------------------------------------------*/
.clear-all{
    @extend .btn, .btn-link;
    &:hover{
        text-decoration: none !important;
    }  
}
/*Messenger
-------------------------------------------------
*/
#yith-wcwl-popup-message{
	border: 3px solid $theme-color;
    background: #fff;
    font-weight: 700;
    line-height: 1.5;
    padding: 15px 20px;
}
.woocommerce-error,
.alert-success, .woocommerce-message {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    list-style: none;
    .wc-forward{
    	background: $theme-color;
	    color: #fff;
	    padding: 8px 12px;
		text-transform:uppercase;
		font-weight:500;
		font-size:12px;
	    &:hover{
	    	background: darken($theme-color,10%);
			color:$white;
	    }
		&:before{
			display:none;
		}
		&:after{
			content: "\24";
			font-family: eleganticons;
			@include rtl-margin-left(10px);
			font-size:18px;
			line-height: 1;
			position: relative;
			top: 4px;
		}
    }
}
//WooCommerce Info
.woocommerce-notices-wrapper{
	max-width:1440px;
	padding:0 15px;
	margin:auto;
	width:100%;
}
.woocommerce-error,.woocommerce-info,.woocommerce-message {
	@include rtl-padding(12px,22px,12px,42px);
	@include rtl-margin(0,0,24px,0);
	position: relative;
	background-color: #f7f6f7;
	color: #515151;
	border-top: 3px solid #a46497;
	list-style: none outside;
	width: auto;
	word-wrap: break-word;
	border-top-color: #b81c23;
	width : 100%;
	.button {
		@include rtl-float-right();
	}
	li {
		list-style: none outside!important;
		@include rtl-padding-left(0!important);
		@include rtl-margin-left(0!important);
	}
}

.woocommerce-info,.woocommerce-message,.woocommerce-error{
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.woocommerce-info,.woocommerce-message,.woocommerce-error{
	&:before {
		content: '\f1ec';
		display: table;
		font-family: Material;
		display: inline-block;
		position: absolute;
		top: 8px;
		font-size : 18px;
		@include rtl-left(20px);
		color: #b81c23;
	}
}
.woocommerce-info,.woocommerce-message{
	border-top: 3px solid #1e85be;
	&:before {
		color: #1e85be;
	}
	a{
		color : $gray-dark;
		font-weight : 700;
		&:hover{
			color : $theme-color;
		}
	}
}
/* 
	End
*------------------------------------------------
*/
.category-image{
    img{
        @extend .filter-grayscale;
    }
}

p.demo_store {
	top: 0;
	position:fixed;
	@include rtl-left(0);
	@include rtl-right(0);
	@include size(percentage(1),auto);
	@include rtl-text-align-center();
    @include font-size(font-size,$font-size-md);
	padding: .5em 0;
	z-index: 99998;
	border: 1px solid darken($border-color, 10);
	@include box-shadow(0, 0, 0, 3px, rgba($white,0.2));
}

/*
    Utilities
*---------------------------------------------------------------------------
*/
.woocommerce{
	.wc-forward, .wc-forward a {
		&:before {
			content: "\f00c";
			font-family: $theme-font-icon-name;
			@include rtl-margin(0, 10px, 0, 0);
		}
	}
	.wc-backward, .wc-backward a {
		line-height:34px;
		background:$gray-dark;
		color:$white;
		padding:0 20px;
		display:inline-block;
		text-transform:uppercase;
		font-size:12px;
		font-weight:700;
		height:40px;
		&:before {
			content: "\23";
			font-size:18px;
			font-family: 'ElegantIcons';
			@include rtl-margin(0, 5px, 0, 0);
			position:relative;
			top:3px;
		}
		&:hover{
			background:$theme-color;
			color:$white;
		}
	}
}

/*
    woocommerce tabs
*---------------------------------------------------------------------------
*/
.woocommerce-tabs{
    margin: $woocommerce-tabs-margin;
    table{
        margin: 0;
    }
    .tab-title{
    	@include font-size(font-size, 18px);
    	text-transform: uppercase;
    	margin: 0 0 30px; 
    }
	#reviews {
		h2 small {
			@include rtl-float-right();
			line-height: 21px;
			margin: 10px 0 0 0;
			a {
				text-decoration:none;
			}
		}
		#comment {
			height: 75px;
            width: 100%;
		}
		#comments {
			> h2{
				@extend .tab-title;
			}
			.add_review {
				@include clearfix();
			}
			ol.commentlist {
				@include clearfix();
				@include clear-list;
				margin: 0;
				width: 100%;
				background:none;
				list-style: none;
				li {
					padding: 0;
					margin: 0 0 20px;
					border: 0;
					position: relative;
					border: 0;
					&.bypostauthor{
						font-style: normal;
						font-size: 14px;
						color:$text-color;
					}
					img.avatar {
						@include rtl-margin-right(30px);
						border-radius: 50%;
						margin-bottom: 10px;
						@include rtl-float-left();
					}
					.comment-text {
						background: $white;
						width: calc(100% - 90px);
						@include rtl-float-left();
						@include clearfix();
						margin-bottom: 20px;
						.meta{
							margin-top:-7px;
							padding-bottom: 0;
							margin-bottom:7px;
							.woocommerce-review__author{
								color:$gray-dark;
								font-weight:500;
								text-transform:capitalize;
								font-size:16px;
							}
							.woocommerce-review__dash{
								display:none;
							}
							.woocommerce-review__published-date{
								font-size:14px;
								color:rgba($text-color,0.75);
								@include rtl-margin-left(15px);
							}
						}
						p {
							margin: 0 0 1em;
						}
					}
				}
				ul.children {
					list-style: none;
					@include rtl-margin(20px, 0, 0, 50px);
					.star-rating {
						display: none;
					}
				}
				#respond {
					border: 1px solid $border-color;
					@include border-radius(4px);
					@include rtl-padding(1em, 1em, 0, 0);
					@include rtl-margin(20px, 0, 0, 50px);
				}
                .comment-image{
                    img{
                        @include square(percentage(1));
                    }
                    display: block;
                    @include  square($block-sidebar-widget-product-list-size);
                }
			}
			.commentlist > li:before {
				content: "";
			}
		}
	}
	#tab-vendor{
		.product-vendor{
			padding:33px 50px 20px;
			h2{
				font-size:20px;
			}
		}
	}
	#tab-wcmp_customer_qna{
		#cust_qna_form{
			padding:45px 50px 30px;
			h2{
				font-size:20px;
				margin-bottom:25px;
			}
		}
	}
	#tab-singleproductmultivendor{
		padding:40px 50px;
	}
}

#respond {
	line-height: 1.4em;
	.comments {
		margin-bottom: 15px;
	}
	.comment-form {
		label {
			font-weight: 400;
			color: $gray-dark;
			margin-bottom: 20px;
			@include rtl-margin-right(10px);
		}
	}
	textarea {
		@include box-sizing(border-box);
	}
	p.stars {
		position: relative;
		padding: 5px 0;
		a {
			@include inline-block();
			text-indent: -9999px;
			line-height: 100%;
			position: relative;
			@include rtl-margin-right(10px);
			&:last-child {
				@include rtl-margin-right(0);
			}
			&.star-1,
			&.star-2,
			&.star-3,
			&.star-4,
			&.star-5 {
				&:after {
					top: 0;
					font-family: $theme-font-icon-name;
					font-size: 13px;
					font-weight: unset;
					text-indent: 0;
					position: absolute;
					@include rtl-left(0);
					color:$text-color;
				}
			}

			&.star-1 {
				width: 13px;
				&:after {
					content: "\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005";
				}
			}

			&.star-2 {
				width: 26px;
				&:after {
					content: "\f006\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005\f005";
				}
			}

			&.star-3 {
				width: 39px;
				&:after {
					content: "\f006\f006\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005\f005\f005";
				}
			}

			&.star-4 {
				width: 52px;
				&:after {
					content: "\f006\f006\f006\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005\f005\f005\f005";
				}
			}

			&.star-5 {
				width: 65px;
				border: 0;
				&:after {
					content: "\f006\f006\f006\f006\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005\f005\f005\f005\f005";
				}
			}
		}
	}
}

/*
    Quantity inputs
*---------------------------------------------------------------------------
*/
.quantity {
	width    : auto;
	position : relative;
	margin   : 0 auto;
	overflow : hidden;
	zoom     : 1;
	input.qty {
		float: left;
		@include size(45px, 38px);
		text-align: center;
		padding         : 0;
		-moz-appearance : textfield;
		&:focus{
			@include form-control-focus();
		}
	}
	.plus, .minus {
		background  	: $white;
		float   		: left;
		display         : block;
		padding         : 0;
		margin          : 0;
		vertical-align  : text-top;
		text-decoration : none;
		overflow        : visible;
		text-decoration : none;
		cursor          : pointer;
		line-height     : 13px;
		font-size       : 16px;
		color           : $text-color;
		border          : 1px solid $border-color;
		text-align: center;
		@include size(45px , 38px);
	}
}

/*
    Forms
*---------------------------------------------------------------------------
*/
.form-row {
	@include clearfix();
    label.hidden {
        visibility:hidden;
    }
    label.inline {
        display: inline;
    }
    label{
    	display: block;
    }
    select {
        cursor: pointer;
    }
    .required {
        color: $red;
        font-weight: $headings-font-weight;
        border: 0;
    }
    .input-text{
    	width: 100%;
    }
    &.form-row-wide{
    	clear: both;
		margin:0;
		margin-bottom:14px;
    }
}

ul.tabs {
	list-style:none;
	padding: 0 0 0 1em;
	margin: 0 0 1.618em;
	overflow:hidden;
	position: relative;
	li {
		@include inline-block();
		position: relative;
		z-index: 0;
		margin: 0 -5px;
		padding: 0 1em;
		border: 1px solid darken( $border-color, 10 );
		@include box-shadow(0 3px 3px rgba($black, 0.2), inset 0 1px 0 rgba($white,0.6));
		a {
			@include inline-block();
			padding: .5em 0;
			font-weight: $headings-font-weight;
			color: $border-color;
			text-decoration: none;
			&:hover {
				text-decoration:none;
				color: lighten( $border-color, 10 );
			}
		}
		&.active {
			background: $border-color;
			z-index: 2;
			border-bottom-color: $border-color;
			a {
				color: inherit;
				text-shadow: inherit;
			}
			&:before {
				@include box-shadow(2px 2px 0 $border-color);
			}
			&:after {
				@include box-shadow(-2px 2px 0 $border-color);
			}
		}
		&:before, &:after {
			border: 1px solid darken($border-color, 10);
			position:absolute;
			bottom: -1px;
			content: "";
			@include size(5px,5px);
		}
		&:before {
			border-width: 0 1px 1px 0;
			@include rtl-left(-6px);
			@include border-right-radius(4px);
			@include box-shadow(2px 2px 0 darken( $border-color, 10 ));
		}
		&:after {
			border-width: 0 0 1px 1px;
			@include rtl-right(-6px);
			@include border-left-radius(4px);
			@include box-shadow(-2px 2px 0 darken( $border-color, 10 ));
		}
	}
}

.product-quantity{
	.input-text{
		@include input-size('.input-sm', $input-height-sm, $padding-base-vertical, $padding-base-vertical, $font-size-sm, $line-height-sm, 0);
	}
}

.i-am-new{
    li{
        background-image: none !important;
        background-color: $white !important;
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;
        .noty_message{
            padding: 20px 0 !important;
        }
    }
}

/*
    Sale Label
*---------------------------------------------------------------------------
*/
.onsale,.hot{
	text-align: $sale-label-align;
	color: $sale-label-color;
    @include font-size(font-size,$sale-label-font-size);
	padding: $sale-label-padding;
	text-transform: $sale-label-transform;
	font-weight: $sale-label-font-weight;
	display:block;
	position:relative;
	line-height:21px;
	text-align:center;
	position:absolute;
	top: 10px;
	z-index:1;
	font-family:$font-family-monospace;
	&:empty{
		display:none;
	}
}
.onsale{
	@include rtl-right(10px);
	background: $sale-label-bg;
}
.hot{
	@include rtl-left(10px);
	background: $theme-color;
}
/*
    Star rating
*---------------------------------------------------------------------------
*/
.star-rating {
	overflow: hidden;
	position: relative;
	@include size(70px, 1.2em);
	line-height: 1.2em;
	display:inline-block;
	font-family: $theme-font-icon-name;
    @include font-size(font-size,$star-rating-font-size);
	&:before {
		content: "\f005\f005\f005\f005\f005";
		color: $gray-light;
		@include rtl-float-left();
		top: 0;
		@include rtl-left(0);
		position: absolute;
		letter-spacing: 3px;
	}
	span {
		overflow: hidden;
		@include rtl-float-left();
		top: 0;
		@include rtl-left(0);
		position: absolute;
		padding-top: 1.5em;
	}
	span:before {
		content: "\f005\f005\f005\f005\f005";
		top: 0;
		position: absolute;
		@include rtl-left(0);
		color: #ffc107;
		letter-spacing: 3px;
	}
}

/*
    Mini cart
*---------------------------------------------------------------------------
*/
.davici-topcart{
	&.active{
		&.popup{
			.cart-popup{
				&.popup{
					@include transform(translateX(0) !important);
					@include opacity-s();
				}
			}
		}
		.remove-cart-shadow{
			display:block;
		}
	}
}
.mini-cart{
    position: relative;
	&.open{
		.cart-popup{
			&.popup{
				@include transform(translateX(0) !important);
				@include opacity-s();
			}
			&.dropdown{
				@include opacity-s();
				@include transform(translateY(0));
			}
		}
		.remove-cart-shadow{
			display:block;
		}
	}
	.remove-cart-shadow{
		position:fixed;
		content:"";
		width:100%;
		height:100%;
		top:0;
		left:0;
		background:rgba($gray-dark,0.4);
		display:none;
	}
    .cart-popup {
		@include rtl-text-align-left();
		width: 380px;
		padding: 30px 20px;
		border: 1px solid #f3f3f3;
		background: $white;
		position: absolute;
		color: $gray-dark;
		@include opacity-h();
		@include transition(all 0.3s ease);
		@include transform(translateY(20px));
		z-index: 10001;
		@include rtl-right(0);
		top: 45px;
		@include box-shadow(0px 5px 5px 0px rgba(50, 50, 50, 0.2));
		@media (max-width: $screen-phone){
			width: 290px;
			.product-image{
				width: 60px !important;
			}
		}
		&.active{
			&:before{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				content:"";
				background:rgba($white,0.5);
				z-index:10;
			}
			&:after{
				position:absolute;
				top:calc(50% - 20px);
				left:calc(50% - 20px);
				content: "\e02d";
				z-index:10;
				font-family: 'ElegantIcons';
				font-size:40px;
				line-height:1;
				@include animation(2s linear 0s normal none infinite running spinAround);
				color:$theme-color;
			}
		}
		&.popup{
			position:fixed;
			height:100%;
			top:0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-between;
			width:420px;
			padding:40px;
			max-width:calc(100% - 20px);
			@include transition(all 0.3s ease);
			@include transform(translateX(100%));
			z-index:999999;
			@media (max-width:$screen-xs){
				padding:30px 15px;
			}
			>*{
				width:100%;
			}
			.cart_list{
				height:calc(100% - 280px);
				max-height:unset;
				li.empty{
					text-align:center;
					position:relative;
					padding-top:155px;
					font-size:18px;
					color:$text-color;
					&:before{
						content:"\e912";
						font-family:wpbingofont;
						position:absolute;
						top:0;
						font-size:150px;
						line-height:1;
						left:calc(50% - 75px);
						color:rgba($text-color,0.5);
					}
				}
			}
			.remove-cart{
				@include rtl-text-align-right();
				margin-top:0;
				text-transform:uppercase;
				font-family:$font-family-monospace;
				font-size:12px;
				padding-bottom:20px;
				border-bottom:1px solid rgba(#e1e1e1,0.5);
				margin-bottom:30px;
				a{
					color:$gray-dark;
					&:hover{
						color:$theme-color;
					}
				}
				i{
					font-size: 18px;
					position: relative;
					top: 2.5px;
				}
			}
			.buttons{
				margin-bottom:0;
				.button{
					width:100%;
					margin:0;
					padding:15px;
					font-size:12px;
					&.view-cart{
						margin-bottom:10px;
					}
				}
			}
			.mini_cart_item{
				margin-bottom:20px;
				padding-bottom:20px;
				border-bottom:1px solid rgba(#e1e1e1,0.5);
				&:last-child{
					margin-bottom:0;
					padding-bottom:0;
					border-bottom:0;
				}
			}
		}
		.cart_list {
			list-style: none;
			margin-top: 10px;
			padding-bottom: 10px;
		    max-height: 335px;
		    overflow-y: auto;
			&::-webkit-scrollbar {
			  width: 5px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
			  background: #f1f1f1; 
			}
			 
			/* Handle */
			&::-webkit-scrollbar-thumb {
			  background: #888; 
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			  background: #555; 
			}
		}
		.total-cart{
			font-size: 14px;
			font-weight: 500;
			color: $gray-dark;
			text-transform: uppercase;
			line-height: 26px;
			position: relative;
			margin-top: 30px;
			&:before{
				position: absolute;
				content: "";
				@include size(100%, 1px);
				background: $border-color;
				top: 12px;
				left: 0;
				z-index: -1;
			}
			.title-total{
				background: $white;
				@include rtl-padding-right(10px);
				@include rtl-float-left();
				font-family:$font-family-monospace;
			}
			.total-price{
				@include rtl-float-right();
				font-size: 20px;
				background: $white;
				@include rtl-padding-left(10px);
				font-family:$font-family-monospace;
			}
		}
		.mini_cart_item {
			position: relative;
			margin-bottom: 30px;
			overflow: hidden;
			&:last-child{
				margin-bottom:0;
			}
			a{
				color: $text-color;
				&.remove{
					@include square(25px);
					@include border-radius(50%);
					border:2px solid #e1e1e1;
					text-align:center;
					line-height:23px;
					color:$gray-dark;
					&:hover{
						color:$white;
						background:$theme-color;
						border-color:$theme-color;
					}
				}
				&:hover{
					color: $theme-color;
				}
			}
			.woocommerce-product-rating{
				margin-top: 0;
				margin-bottom: -5px;
				.star-rating{
					margin-bottom:0;
				}
			}
			.variation{
				font-size: 13px;
				margin-top: 0;
				margin-bottom: 7px;
				>*{
					margin-bottom:0;
				}
				dt.variation-Vendor{
					font-weight: 500;
				}
				>*{
					display: inline-block;
					>p{
						margin: 0;
					}
				}
			}
		}
		.product-image {
			display: inline-block;
			width: 78px;
			@include rtl-float-left();
			@include rtl-margin-right(12px);
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		a.product-name {
			color: $gray-dark;
			font-size:15px;
			@include rtl-padding-right(20px);
			width:calc(100% - 20px);
			display:block;
			line-height:1.1;
			margin-bottom:7px;
			font-weight:500;
			&:hover{
				color:$theme-color;
			}
		}
		.quantity {
			font-weight:500;
			width: 173px;
			color: $text-color;
			margin: 0;
			font-size: 12px;
			input[type="button"]{
				display: none !important;
			}
			>span{
				color: $theme-color;
				font-size: 15px;
				font-weight:700;
			}
			button{
				display:none;
			}
		}
		.remove {
			position: absolute;
			@include rtl-right(5px);
			top: 5px;
		}
		.total {
			text-transform: uppercase;
			color: #fff;
		}
		.buttons {
			display: inline-block;
			margin-bottom: 10px;
			margin-top: 30px;
			.button {
				margin: 5px 0;
				display: block;
				overflow:hidden;
				position:relative;
				text-transform:uppercase;
				font-size:13px;
				color:$white;
				background:$gray-dark;
				@include transition(unset);
				@include border-radius(0);
				display: inline-block;
				margin: 0 5px;
				font-family:$font-family-monospace;
				&:first-child{
					@include rtl-margin-left(0);
				}
				@media (max-width: 481px){
					font-size:11px;
				}
				&.view-cart{
					background:$theme-color;
					border-color:$theme-color;
					color:$white;
					&:before{
						background: darken($theme-color, 10%);
					}
				}
				&:before{
					@include border-radius(0);
					bottom:0;
					top:auto;
				}
			}
		}
    }
}


/*
    Cart
*---------------------------------------------------------------------------
*/
.cart_list{
	> div{
		border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
		margin: 10px 0;
		padding: 10px 0;
	}
    .image{
        @include size(70px,70px);
    }
    .cart-item{
    	line-height: 1.1;
    	margin: 0;
    	font-size: $font-size-base!important;
    	.amount{
    		font-size: $font-size-base!important;
    	}
    }
    .cart-main-content{
        @include rtl-text-align-left();
        position: relative;
        .remove{
            position: absolute;
            @include rtl-right(0);
            top: auto;
            @include font-size(font-size,25px);
            bottom: 10px;
            height: 20px;
        }
    }
    + .total{
        @include rtl-text-align-right();
        margin-top: 10px;
        .amount{
    		font-size: $font-size-base!important;
    	}
    }
}


/** Plugins  add to wishlist, compare **/
.place-order{
	padding: 20px 0px;
}

.yith-wcwl-share{
    ul{
        @include clear-list;
    }
}

ul {
    &.yith_magnifier_gallery{
        li{
            a{
                margin-top: 16px;
            }
        }
    }
    &.display,&#shipping_method,&.payment_methods{
        @include clear-list;
    }
    &.payment_methods{
        li{
            margin-bottom: $theme-margin;
            label{
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    &.products-list{
        @include clear-list();
    }
    &.page-numbers{
        margin: 0;
        @include rtl-float-left();
        li{
            > *{
                margin: 0;
            }
        }
    }
}

//Shop filter
.woocommerce {
	.widget_price_filter {
		overflow: hidden;
		.ui-slider .ui-slider-handle {
			@include square(7px);
			@include border-radius(0);
			background: $theme-color;
			top: -2px;
		}
		.ui-slider .ui-slider-range {
			background: $theme-color;
		}
		.price_slider_wrapper {
			.ui-widget-content {
				@include border-radius(0);
				background: #d7d7d7;
				margin-top: 15px;
				margin-bottom: 0;
			}
		}
		.ui-slider-horizontal {
			height: 2px;
		}
		//button
		#respond input#submit, a.button, button.button, input.button {
			border: none;
			@include border-radius(0);
			background: $theme-color;
			color: $white;
			text-transform: uppercase;
		    height: 30px;
			line-height: 30px;
			padding: 0 15px;
			margin-top: 20px;
			@include rtl-float-right();
			&:hover{
				background: darken($theme-color, 10%);
			}
		}
		.price_slider_amount {
			margin-top: 10px;
			.price_label {
				@include rtl-text-align-left();
			}
		}
	}
	.widget_layered_nav{
		.dropdown_layered_nav_size{
			margin-top: 10px;
			padding: 5px 20px;
		}
	}
}

// bwp-top-bar
.bwp-top-bar {
	font-size: 13px;
	text-transform: uppercase;
	position: relative;
	@media (max-width:$screen-xs){
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&:after{
			display:none;
		}
	}
	.woocommerce-filter-title{
		width:100%;
		display: inline-block;
		font-size:12px;
		color:$gray-dark;
		text-transform:capitalize;
		font-family:$font-family-second;
		margin-top:20px;
		order:3;
		>span{
			background:#eee;
			display:inline-block;
			line-height:24px;
			@include rtl-padding(0 ,10px ,0 ,15px);
			@include border-radius(20px);
			cursor:pointer;
			@include rtl-margin(2.5px ,5px ,2.5px ,0);
			&:after{
				font-family: ElegantIcons;
				content: "\4d";
				display:inline-block;
				@include rtl-margin-left(5px);
				font-size: 16px;
				line-height: 1;
				position: relative;
				top: 2px;
				@include transform(rotate(-45deg));
				@include transition(all 0.3s ease);
			}
			&:hover{
				background:$gray-dark;
				color:$white;
				&:after{
					@include transform(rotate(0));
				}
			}
		}
		>button{
			background:transparent;
			border:0;
			border-bottom:1px solid $gray-dark;
			padding:0;
			cursor:pointer;
			margin-top:2.5px;
			&:hover{
				color:$theme-color;
				border-color:$theme-color;
			}
		}
	}
	.woocommerce-filter-title:empty{
		background:red;
	}
	.display {
		@include rtl-float-right();
		padding:7px 0;
		@include rtl-margin-right(20px);
		li {
			@include rtl-float-left();
			@include rtl-padding-right(10px);
			position: relative;
			a {		
				display: inline-block;
				text-align: center;
				height: 24px;
				@include transition(all 0.2s ease);
			    .icon-column{
			    	vertical-align: middle;
			    	@include transition(all 0.3s ease);
					text-align: center;
					z-index: 0;
					display: inline-block;
					.layer{
						position:absolute;
						@include rtl-left(0);
						height:7px;
						&.first{
							top:0;
						}
						&.middle{
							top:8px;
						}
						&.last{
							top:16px;
						}
						>span{
							position: absolute;
							display: block;
							width: 7px;
							height: 100%;
							background:$gray-dark;
							@include border-radius(1px);
						}
					}
				}
				&.two{
			    	width: 15px;
					position:relative;
			    	.icon-column{
						.layer{
							>span{
								&:first-child{
									@include rtl-left(0);
								}
								&:last-child{
									@include rtl-left(8px);
								}
							}
						}
			    	}
			    }
			    &.three{
			    	width: 23px;
			    	.icon-column{
			    		.layer{
							>span{
								&:first-child{
									@include rtl-left(0);
								}
								&:nth-child(2){
									@include rtl-left(8px);
								}
								&:last-child{
									@include rtl-left(16px);
								}
							}
						}
			    	}
			    }
			    &.four{
			    	width: 31px;
			    	.icon-column{
			    		.layer{
							>span{
								&:first-child{
									@include rtl-left(0);
								}
								&:nth-child(2){
									@include rtl-left(8px);
								}
								&:nth-child(3){
									@include rtl-left(16px);
								}
								&:last-child{
									@include rtl-left(24px);
								}
							}
						}
			    	}
			    }
			    &.view-list{
			    	width: 25px;
			    	.icon-column{
			    		.layer{
							>span{
								&:first-child{
									@include rtl-left(0);
								}
								&:last-child{
									@include rtl-left(8px);
									width:15px;
								}
							}
						}
			    	}
			    }
			    &:hover, &.active{
				    background: $white;
				    border-color: $theme-color;
					.icon-column{
						.layer{
							>span{
								background:$theme-color;
							}
						}
					}
			    }
			}
			&:last-child{
				padding-right: 0;
			}
		}
	}
	&.top {
		margin-bottom:20px;
		margin-top:-5px;
		.button-filter-toggle{
			font-weight: 500;
            display: inline-block;
            position: relative;
            font-size: 12px;
            text-transform: uppercase;
			cursor: pointer;
			color:$gray-dark;
			@include rtl-padding(0 ,15px ,0 ,35px);
			line-height:32px;
			border:2px solid $gray-dark;
			@include rtl-float-left();
			font-family:$font-family-monospace;
			background:$white;
			@include rtl-margin-right(20px);
            &:before{
                position: absolute;
                content: "\f136";
                font-family: Material;
                font-size: 0;
                color: $brand-danger;
                @include transform(scale(0));
                opacity: 0;
                visibility: hidden;
                @include transition(transform 0.2s ease);
				left:15px;
				font-size: 16px;
				top: calc(50% - 8px);
				line-height:1;
            }
			&:after{
				font-size: 16px;
				position: absolute;
				top: calc(50% - 8px);
				left:15px;
				content: "\66";
				font-family: ElegantIcons;
				text-transform: none;
				line-height: 1;
			}
            &.active{
				&:after{
					display:none;
				}
                &:before{
                    @include transform(scale(1));
                    opacity: 1;
                    visibility: visible;
                }
            }
			&:hover{
				border-color:$theme-color;
				color:$theme-color;
			}
			@media (max-width:$screen-xs){
				font-size:10px;
				line-height:26px;
				margin:5px 0;
			}
		}	
	}
	&.bottom {
		clear: both;
		text-align:center;
		margin-top:10px;
	}
	.woocommerce-ordering {
		margin-bottom: 0;
		height:36px;
		line-height:36px;
		.woocommerce-ordering-content{
			@include rtl-float-right();
		}
		.orderby {
			border-color: $border-color;
			color: $gray-dark;
		}
		@media (max-width:$screen-xs){
			height:30px;
		}
	}
	.woocommerce-ordering, .woocommerce-sort-count{
		@include rtl-float-right();
		background: $white;
		color: $gray-dark;
		font-weight: 500;
		font-size: 14px;
		line-height:33px;
		border:1px solid #e1e1e1;
		padding:0 20px;
		text-transform:capitalize;
		cursor: pointer;
		.pwb-dropdown-toggle{
			position:relative;
			font-size:12px;
			text-transform:uppercase;
			font-family:$font-family-monospace;
			&:after{
				content: "\43";
				font-family: eleganticons;
	  			font-size: 13px;
	  			@include rtl-padding-left(5px);
				display:inline-block;
				width: auto;
				height: auto;
				margin-left: 0;
				vertical-align: 0;
				border-top: 0;
				border-right: 0;
				border-bottom: 0;
				border-left: 0;
				line-height:1;
				position:relative;
				top:1px;
				@include transition(all 0.3s ease);
				transform-origin: 65% 50%;
				color:$gray-dark;
			}
		}
		&.open{
			.pwb-dropdown-toggle{
				&:after{
					@include transform(rotate(-180deg));
				}
			}
		}
		.pwb-dropdown-menu{
			@include rtl-right(0);
			left: auto;
			li{
				line-height: 28px;
				text-transform: capitalize;
				font-weight:400;
				a{
					color:$text-color;
					&:hover{
						color:$theme-color;
					}
				}
			}
		}
		@media (max-width:$screen-xs){
			font-size:12px;
			padding:0 10px;
			line-height:30px;
			order:2;
			height:30px;
			margin-top:5px;
			margin-bottom:5px;
			.pwb-dropdown-toggle{
				font-size:10px;
			}
		}
	}
	.woocommerce-ordering .pwb-dropdown-menu{
		min-width:210px;
	}
	.davici-woocommerce-sort-count{
		@include rtl-margin-right(20px);
		font-weight:500;
		@include rtl-float-left();
		label{
			margin-bottom:0;
			font-family:$font-family-monospace;
			text-transform:uppercase;
			font-size:12px;
			@media (max-width:$screen-xs){
				font-size:10px;
			}
		}
		.list-show{
			@include rtl-padding-left(0);
			display:inline-flex;
			@include rtl-margin-left(15px);
			margin-bottom: 0;
			li{
				list-style:none;
				color:$gray-dark;
				font-weight:500;
				@include rtl-margin-right(15px);
				&:last-child{
					@include rtl-margin-right(0);
				}
				a{
					color:$text-color;
					font-weight:500;
				}
				&.active,&:hover{
					a{
						color:$theme-color;
					}
				}
			}
		}
		@media (max-width:$screen-xs){
			@include rtl-float-right();
			@include rtl-margin(5px ,5px ,5px ,0);
			clear: both;
		}
	}
	.woocommerce-result-count{
		background: $white;
		color:$text-color;
		text-transform:initial;
		font-size:15px;
		font-weight:400;
		flex:1;
		position:relative;
		&:before{
			content:"";
			position:absolute;
			bottom:10px;
			@include size(50px,3px);
			background:$theme-color;
			left:0;
		}
	}
	.woocommerce-pagination {
		display: inline-block;
	}
	.woocommerce-found-posts {
		line-height: 25px;
		background: $white;
		@include rtl-padding-right(10px);
		@media (min-width: $screen-lg){
			@include rtl-padding-right(15%);
		}
		&:after{
			top: 12px;
			content: "";
			background: rgba($light-gray, 0.2);
			@include size(100%, 1px);
			position: absolute;
			@include rtl-left(0);
			z-index: -1;
		}
	}
}